<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
	
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/invordsubensamble/formaInvOrdSubensamble.css" type="text/css" />
        
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/invordsubensamble/modalboxInvOrdSubensamble.js"></script>
        <script type="text/javascript" src="../../js/implements/invordsubensamble2/index.js" ></script>
        <script type="text/javascript" src="../../js/components/formatearnumeros/agrega_comas.js"></script>
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        
        
        <!--Esta tabla va  en la barra de acciones -->
        <table class="table_acciones" style="display:none" border="0">
			<tr>
				<td width="15" height="30"></td>
				<td height="30"><a href="new_item" class="tooltip"><div class="onmouseOutNewItem" id="nItem"></div><span>Orden de Subensambles</span></a></td>
				<td width="15" height="30"></td>
				<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a>  </td>
			</tr>
        </table>
        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
				<td colspan="13">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="80">Folio&nbsp;Orden</td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="100">C&oacute;digo Producto</td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="200">Nombre Producto</td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="80"><input type="text" name="busqueda_folio" style="width:80px;"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="100"><input type="text" name="busqueda_codigo" style="width:100px;"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="200"><input type="text" name="busqueda_producto" style="width:200px;"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><INPUT TYPE="button" value="Buscar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ><INPUT TYPE="button" value="Limpiar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>
        
        <!--  otra parte -->
        <table class="acciones">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>
		
        
        
		
        
        
		
        
        <!--form for centros de costo -->
        <form id="formaInvOrdSubensamble00" action="edit.json" method="POST" >
        <!--clase la quite por causar problemas      tabulador -->
                <div id="div_one" class="panelcito_modal invordsubensamble_div_one"  style="display:none;" title="">
                
                <input type="hidden" name="identificador" value="0">
                <input type="hidden" name="accion_proceso">
                    <div id="div_two" title="" class="invordsubensamble_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" id="cierra" style="width:810px; padding-left:6px;"><strong>Producci&oacute;n de Subemsamble</strong></div>
                            <div class="fixed column" style="width:20px; height:25px;">
                                <div id="close" style="height:25px;background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div id="div_three" title="" class="invordsubensamble_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>Orden</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >
                                    
                                    <div id="tabx-1" class="contenidoPes">
                                        <table border="0" class="gral">
											<tr>
												<td width="50">Folio</td>
												<td width="150">
													<INPUT TYPE="text" name="folio" style="width:90px;" readOnly="true">
												</td>
												<td width="40">&nbsp;</td>
												<td width="85">Observaciones</td>
												<td width="485" colspan="2">
													<textarea name="observaciones" rows="2" cols="60" style="width:485px; resize:none;"></textarea>
												</td>
											</tr>
											<tr>
												<td colspan="5">&nbsp;</td>
											</tr>
											<tr>
												<td width="50">Estatus</td>
												<td width="150">
													<SELECT NAME="estatus" style="width:150px;"></option>
													<input type="hidden" name="estatus_actual" value="0">
												</td>
												<td width="40">&nbsp;</td>
												<td width="85">&nbsp;</td>
												<td width="480" colspan="2">
													<INPUT TYPE="button" id="pdf_orden" value="PDF" style="width:90px; font-weight:bold;">
												</td>
											</tr>
											<tr>
												<td colspan="5">&nbsp;</td>
											</tr>
											<tr>
												<td colspan="5" style="border-top:1px solid #C1DAD7; border-bottom:1px solid #C1DAD7; border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF;">
													<table style="margin:0; padding:0;">
														<thead>
															<tr>
																<td class="grid" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="100">C&oacute;digo</td>
																<td class="grid" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="254">Nombre&nbsp;del&nbsp;Producto</td>
																<td class="grid" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="100">Unidad&nbsp;Producto</td>
																<td class="grid" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="110">Presentaci&oacute;n</td>
																<td class="grid" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="50">Densidad</td>
																<td class="grid" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="75">Cant.&nbsp;Kilo</td>
																<td class="grid" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="90">Cant.&nbsp;Litro</td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td colspan="8">
																	<div style="overflow:scroll; overflow-x:hidden; overflow-y:auto; height:70px; border:1px solid #C1DAD7 !important;">	
																		<table style="margin:0; padding:0;">
																			<tbody id="grid_productos" style="background-color: #FFFFFF;" valign="top">
																				
																			</tbody>
																		</table>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td colspan="5">
													&nbsp;&nbsp;Componentes
													<table border="0" id="grid_prodid_compid" style="display:none;" >
													</table>
												</td>
											</tr>
											<tr>
												<td colspan="5" style="border-top:1px solid #C1DAD7; border-bottom:1px solid #C1DAD7; border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF; margin:0; padding:0;">
													<table style="margin:0; padding:0;">
														<thead>
															<tr>
																<td class="grid" style="background-color:rgb(180,180,180); border-botton:0px none;" width="100">C&oacute;digo</td>
																<td class="grid" style="background-color:rgb(180,180,180); border-botton:0px none;" width="215">Nombre&nbsp;del&nbsp;Producto</td>
																<td class="grid" style="background-color:rgb(180,180,180); border-botton:0px none;" width="90">Unidad</td>
																<td class="grid" style="background-color:rgb(180,180,180); border-botton:0px none;" width="90">Pres.&nbsp;Default</td>
																<td class="grid" style="background-color:rgb(180,180,180); border-botton:0px none;" width="50">Densidad</td>
																<td class="grid" style="background-color:rgb(180,180,180); border-botton:0px none;" width="65">Dens.&nbsp;Prom.</td>
																<td class="grid" style="background-color:rgb(180,180,180); border-botton:0px none;" width="75">Cant.&nbsp;Kilo</td>
																<td class="grid" style="background-color:rgb(180,180,180); border-botton:0px none;" width="90">Cant.&nbsp;Litro</td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td colspan="8">
																	<div style="overflow:scroll; overflow-x: hidden; overflow-y:auto; height:138px; border:1px solid #C1DAD7 !important; margin:0; padding:0;">	
																		<table style="margin:0; padding:0;">
																			<tbody id="grid_productos_complementos" style="background-color: #FFFFFF;" valign="top">
																				
																			</tbody>
																		</table>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											
											<tr>
												<td colspan="5">
													<div id="div_warning_grid"  style="width:800px; height:100px; display:none;">
														<table border="0">
															<tr>
																<td width="20"></td>
																<td width="310" colspan="2"><div style="color:#d41000;">&nbsp;&nbsp;Datos&nbsp;no&nbsp;validos&nbsp;del&nbsp;listado&nbsp;de&nbsp;Productos Componentes</div></td>
																<td width="325"></td>
															</tr>
															<tr>
																<td width="20" style="background-color:#A8A9AB;">#</td>
																<td width="100" style="background-color:#A8A9AB;">C&oacute;digo</td>
																<td width="210" style="background-color:#A8A9AB;">Nombre</td>
																<td width="445" style="background-color:#A8A9AB;">Descripci&oacute;n&nbsp;del&nbsp;error</td>
															</tr>
															<tr>
																<td colspan="4" style="border: solid 1px #313E74;"> 
																	<div align="left" style="width:785px; height:80px; overflow:scroll; overflow-x: auto; overflow-y: auto; color:#d41000;">
																		<table id="grid_warning" border="0">
																		<!--aqui va el listado de errores del grid-->
																		</table>
																	</div>
																</td>
															</tr>
														</table>
													</div>
												</td>
											</tr>
                                        </table>
                                    </div>
									
                                </div>
                            </div>


                            <div class="fixed column" id="botones" style="width:830px; background:; text-align:right; padding-left:; position:absolute;margin-top:4px;">
								<table border="0">
									<tr><td colspan="4" height="7"></td></tr>
									<tr>
										<td width="630"></td>
										<td>
											<input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>
										</td>
										<td width="30"></td>
										<td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
									</tr>
								</table>
                                
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
        </form>

        
        
        #include("${layoutfooter}")
        
        
    </body>
</html>	



