<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
		
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/proveedoresclasif2/formaProveedoresclasif2.css" type="text/css" />
		
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/proveedoresclasif2/modalboxProveedoresclasif2.js"></script>
        <script type="text/javascript" src="../../js/implements/proveedoresclasif2/index.js" ></script>
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        <!--Esta tabla va  en la barra de acciones -->
		<table class="table_acciones" style="display:none" border="0">
			<tr>
				<td width="15" height="30"></td>
				<td height="30"><a href="new_item" class="tooltip"><div class="onmouseOutNewItem" id="nItem"></div><span>Registrar nuevo</span></a></td>
				<td width="15" height="30"></td>
				<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a>  </td>
			</tr>
		</table>
        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
				<td colspan="13">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>Titulo</td>
				<td width="10">&nbsp;&nbsp;</td>
				<td><INPUT TYPE="text" name="busqueda_titulo" style="width:150px;"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><INPUT TYPE="button" value="Buscar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ><INPUT TYPE="button" value="Limpiar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>
        
        <!--  otra parte -->
        <table class="acciones">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>
		
        
        
		
        
        
		
        
        
        <!--form for centros de costo -->
        <form id="formaProveedoresclasif2" action="edit.json" method="POST" >
        <!--clase la quite por causar problemas      tabulador -->
                <div id="div_one" class="panelcito_modal proveedoresclasif2_div_one"  style="display:none;" title="">
                
                <input type="hidden" name="identificador">
					
                    <div id="div_two" title="" class="proveedoresclasif2_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" id="cierra" style="width:460px; padding-left:6px;"><strong>Proveedores Clasificaci&oacute;n 2</strong></div>
                            <div class="fixed column" style="width:20px; height:25px;">
                                <div id="close" style="height:25px;background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div id="div_three" title="" class="proveedoresclasif2_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>Clasificaci&oacute;n 2</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >
									
                                    <div id="tabx-1" class="contenidoPes" >
                                        <table border="0">
											<tr>
												<td width="5"></td>
												<td width="85">Titulo</td>
												<td width="300"><INPUT TYPE="text" name="titulo" style="width:300px;"></td>
												<td width="50"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_titulo"></div></td>
												<td width="25"></td>
												<td></td>
											</tr>
											<tr>
												<td width="6">&nbsp;</td>
											</tr>
                                        </table>
                                    </div>
									
                                </div>
                            </div>


                            <div class="fixed column" id="botones" style="width:489px; background:; text-align:right; padding-left:; position:absolute;margin-top:4px;">
								<table border="0">
									<tr><td colspan="4" height="7"></td></tr>
									<tr>
										<td width="489"></td>
										<td>
											<input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>
										</td>
										<td width="30"></td>
										<td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
									</tr>
								</table>
                                
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
        </form>
        
        
        
        
        #include("${layoutfooter}")
        
        
    </body>
</html>	


