<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
        
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/invordensalidaetiqueta/formaInvOrdenSalidaEtiqueta.css" type="text/css" />
        
        
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
		<script type="text/javascript" src="../../js/components/formatearnumeros/agrega_comas.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/invordensalidaetiqueta/modalboxInvOrdenSalidaEtiqueta.js"></script>
        <script type="text/javascript" src="../../js/implements/invordensalidaetiqueta/index.js" ></script>
        
        
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        <!--Esta tabla va  en la barra de acciones -->
		<table class="table_acciones" style="display:none" border="0">
			<tr>
				<td width="15" height="30"></td>
				<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a> </td>
			</tr>
		</table>
        
        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
				<td colspan="23">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="90">Factura</td>
				<td width="15"></td>
				<td width="70">Folio&nbsp;Pedido</td>
				<td width="15"></td>
				<td width="200">Cliente</td>
				<td width="15"></td>
				<td width="100">C&oacute;digo Producto</td>
				<td width="15"></td>
				<td width="150">Nombre Producto</td>
				<td width="15"></td>
				<td width="150">Agente</td>
				<td width="20">&nbsp;</td>
				<td width="25"></td>
				<td colspan="3">Fecha de creaci&oacute;n</td>
				<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td></td>
				<td width="25"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;</td>
				<td ></td>
				<td width="10">&nbsp;&nbsp;&nbsp;</td>
			</tr>
			
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="90"><INPUT TYPE="text" name="busqueda_factura" style="width:90px;"></td>
				<td width="15"></td>
				<td width="70"><input type="text" name="busqueda_folio_pedido" style="width:70px;"></td>
				<td width="15"></td>
				
				<td width="200"><INPUT TYPE="text" name="busqueda_cliente" style="width:200px;"></td>
				<td width="15"></td>
				<td width="100"><input type="text" name="busqueda_codigo" style="width:100px;"></td>
				<td width="15"></td>
				<td width="150"><input type="text" name="busqueda_producto" style="width:150px;"></td>
				<td width="15"></td>
				<td id="td_agente">
					<select name="busqueda_select_agente" style="width:150px;">
						<option value="0" selected="yes">[-Seleccionar Agente-]</option>
					</select>
				</td>
				<td width="20">&nbsp;</td>
				<td width="25"><IMG SRC="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="70"><INPUT TYPE="text" name="busqueda_fecha_inicial" style="width:70px;" readOnly="true"></td>
				<td width="10"></td>
				<td width="25"><IMG SRC="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="70"><INPUT TYPE="text" name="busqueda_fecha_final" style="width:70px;" readOnly="true"></td>
				<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><INPUT TYPE="button" id="boton_buscador" class="onmouseOutBuscar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ><INPUT TYPE="button" id="boton_limpiar" class="onmouseOutLimpiar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>
        
        
        
        <!--  otra parte -->
        <table class="acciones" >
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>
		
		
        <!--form for invordensalidaetiqueta -->
        <form id="formainvordensalidaetiqueta00" action="edit.json" method="POST" >
                <div id="div_one" class="panelcito_modal invordensalidaetiqueta_div_one"  style="display:none;" title="">
                <input type="hidden" name="identificador" value="0">
                <input type="hidden" name="opcion" value="0">
					
                    <div id="div_two" title="" class="invordensalidaetiqueta_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" style="width:1075px; padding-left:6px;"><strong>${title}</strong></div>
                            <div class="fixed column" style="width:20px; height:25px;">
                                <div id="close" style="height:25px; background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div id="div_three" title="" class="invordensalidaetiqueta_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>Etiquetas</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >

                                    <div id="tabx-1" class="contenidoPes" >
                                        <table border="0" style="margin:0; padding:0;">
                                                <tr>
                                                    <td width="125"></td>
                                                    <td width="475"></td>
                                                    <td width="10"></td>
                                                    <td width="110"></td>
                                                    <td width="370"></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" colspan="2" width="600"  > 
                                                        <table border="0" class="gral">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="60">Factura</td>
                                                                <td width="90"><INPUT TYPE="text" name="serie_folio" style="width:90px;"></td>
                                                                <td width="20"></td>
                                                                <td width="90">Folio&nbsp;de&nbsp;Pedido</td>
                                                                <td width="90"><INPUT TYPE="text" name="folio_pedido" style="width:90px;" readOnly="true"></td>
                                                                <td width="20"></td>
                                                                <td width="95"></td>
                                                                <td width="90"></td>
                                                            </tr>
                                                            <tr><td colspan="9" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="60">Moneda</td>
                                                                <td width="90"><SELECT NAME="moneda" style="width:90px;" title="Moneda de la factura"></SELECT></td>
                                                                <td width="20"></td>
                                                                <td width="90">Fecha&nbsp;de&nbsp;Exp.</td>
                                                                <td width="90"><INPUT TYPE="text" name="fecha" style="width:90px;" readOnly="true"></td>
                                                                <td width="20"></td>
                                                                <td width="95"></td>
                                                                <td width="90"></td>
                                                            </tr>
                                                            <tr><td colspan="9" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="60">Cliente</td>
                                                                <td colspan="7" width="495"><INPUT TYPE="text" name="razoncliente" style="width:495px;" readOnly="true"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    
                                                    <td width="10"></td>
                                                    <!--<td width="60"></td>-->
													
                                                    <td width="480" colspan="2" valign="top">
                                                        <table border="0" class="gral">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="460">Observaciones para las etiquetas</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="460">
																	<textarea name="observaciones" rows="3" cols="60" style="width:460px; resize:none;"></textarea>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td width="720" colspan="4"></td>
                                                    <td width="370">
                                                        <table border="0" class="gral">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="355" align="right"><input type="button" id="btn_etiquetas" value="Etiquetas" style="width:100px; font-weight:bold;"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                
                                                <tr>
													<td colspan="5" style="border-top:1px solid #C1DAD7; border-bottom:1px solid #C1DAD7; border-left:1px solid #FFFFFF; border-right: 1px solid #FFFFFF;">
														<table >
															<thead>
																<tr class="registros_pagos">
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="102">C&oacute;digo</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);"  width="220">Descripci&oacute;n</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="90">Unidad</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="90">Presentaci&oacute;n</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="100">C&oacute;digo&nbsp;2</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="105">Orden&nbsp;de&nbsp;Compra</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="125">No.&nbsp;de&nbsp;Lote</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="75">Caducidad</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="80">Cantidad</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="30">
																		<input type="checkbox" name="check_head" id="check_head" value="check">
																	</td>
																</tr>
															</thead>
														</table>
														<div style="overflow:scroll; overflow-x:hidden; overflow-y:auto; height:195px; border:1px solid #C1DAD7 !important;">	
															<table class="tabla_facturas">
																<tbody style="background-color: #FFFFFF;" valign="top" id="grid_productos">
																	
																</tbody>
															</table>
														</div>
                                                    </td>
                                                </tr>
                                                
                                                
                                                <tr>
                                                    <td colspan="5" width="720"  align="left" valign="top">
                                                        <div id="div_warning_grid" style="display:none;">
                                                            <table border ="0">
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td width="600" colspan="4"><div style="color:#d41000;">&nbsp;&nbsp;Datos&nbsp;no&nbsp;validos</div></td>
                                                                    <td width="10"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td width="20" style="background-color:#A8A9AB; font-weight: bold;"></td>
                                                                    <td width="120" style="background-color:#A8A9AB; font-weight: bold;">C&oacute;digo&nbsp;producto</td>
                                                                    <td width="200" style="background-color:#A8A9AB; font-weight: bold;">Nombre</td>
                                                                    <td width="250" style="background-color:#A8A9AB; font-weight: bold;">Descripci&oacute;n&nbsp;del&nbsp;error</td>
                                                                    <td width="10"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td colspan="5"> 
                                                                        <div align="left" style="width:600px; height:68px; overflow:scroll; overflow-x: auto; overflow-y: auto; color:#d41000;">
                                                                            <table id="grid_warning" border="0" style="width:575px;"">
                                                                                <!-- Aqui se muestran los warning
                                                                                style="background-color:#e7e8ea;"
                                                                                -->
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                        </table>
                                    </div>
                                    

                                </div>
                            </div>


                            <div class="fixed column" style="width:1076px; background:; text-align:right; padding-left:; position:absolute; margin-top:4px;">
								<table border="0">
									<tr>
										<td width="976"></td>
										<td>
											<input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>
										</td>
										<td width="30"></td>
										<td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
									</tr>
								</table>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
        </form>
        
        
        
        #include("${layoutfooter}")
			
        
    </body>
</html>	





<form id="formaCancelaEmision" action="edit.json" method="POST" >
<div id="div_one" class="panelcito_modal cancelaemision_div_one"  style="display:none;" title="">
	<div id="div_two" title="" class="cancelaemision_div_two">
			<div class="fixed column" style="width:290px; padding-left:6px;"><strong>Cancelar emision</strong></div>
	</div>
	<div id="div_three" title="" class="cancelaemision_div_three">
		<div class="columns" style="background:#731F6C;">
			<div class="container" style="background:white;">
				<div class="fixed column" class="content_x" >
					
					<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
						<tr>
							<td width="10" height="10"></td>
							<td width="120" height="10"></td>
							<td width="150" height="10"></td>
							<td width="120" height="10"></td>
							<td width="10" height="10"></td>
						</tr>
						<tr>
							<td width="10"></td>
							<td width="120">Tipo&nbsp;Cancelaci&oacuten</td>
							<td colspan="3" width="270" height="10" style="font-size:13px;">
								<SELECT NAME="tipo_cancelacion" style="width:200px;"></SELECT>
							</td>
						</tr>
						<tr>
							<td colspan="5" width="390" height="10"></td>
						</tr>
						
						<tr>
							<td width="10"></td>
							<td colspan="4" width="380" height="10" style="font-size:13px;">Motivo de cancelaci&oacuten</td>
						</tr>
						<tr>
							<td width="10"></td>
							<td width="370" colspan="3">
								<textarea name="motivo_cancel" rows="3" cols="60" style="width:370px; resize: none;"></textarea>
							</td>
							<td width="10"></td>
						</tr>
						
						<tr>
							<td colspan="5" width="390" height="10"></td>
						</tr>
						
						<tr>
							<td width="10"></td>
							<td width="120" align="center" colspan="2">
								<a href="cancelfact" style="font-size:13px;">Cancelar&nbsp;factura</a>
							</td>
							<td width="270" align="right">
								<a href="salir" style="font-size:13px;">Salir&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
							</td>
							<td width="10"></td>
						</tr>
						
					</table>
					
				</div>
			</div>
			
		</div>
	</div>
	
</div>
</form>
