<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
		
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/repcomparativoasventasanualesproducto/formaBuscaproducto.css" type="text/css" />
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/implements/repcomparativoasventasanualesproducto/index.js" ></script>
        <script type="text/javascript" src="../../js/components/formatearnumeros/agrega_comas.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/repcomparativoasventasanualesproducto/modalboxBuscaproducto.js"></script>
      
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
		<input type="hidden" name="suc" value="$sucursal">
		
        <!--  otra parte -->
        <table class="acciones">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td style="background-color:#ffffff;" >
					<table id="busqueda" border="0" >
						<tr>
							<td colspan="16" height="8"></td>
						</tr>
						<tr>
							<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="70">A&ntilde;o Inicial</td>
							<td width="20"></td>
							<td width="70">A&ntilde;o Final</td>
							<td width="20"></td>
							 <td width="200">Nombre&nbsp;del&nbsp;producto</td>
							 <td width="40"> </td>
							<td width="25"></td>
							<td width="120">Tipo de producto</td>
							<td width="25"></td>
							<td>Familia</td>
							<td colspan="1"></td>
							<td width="25">Subfamilia</td>
							<td width="40"></td>
							<td width="25"></td>
							<td width="10"></td>
							<td ></td>
						</tr>
						
						<tr>
							<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="70"><select name="select_ano" style="width:70px;"></select></td>
							<td width="20"></td>
							<td width="110"><select name="select_anofin" style="width:70px;"></select></td>
							<td width="20"></td>
							<td><INPUT TYPE="text" name="nombreproducto" style="width:200px;"></td>
                            <td><a href="busca_producto" style="font-size:13px;">(Buscar)</a></td>
							<!--<td width="300"><INPUT TYPE="text" name="razon_cli" style="width:300px;"></td>
                            <td width="40"><a href="busca_cliente" style="font-size:13px;">(Buscar)</a></td>-->
							<td width="25"></td>
							<td width="120"><select name="select_tipo_producto" style="width:120px;" title="Tipo de Producto"></select></td>
							<td width="25"></td>
							<td width="200">
								<select name="familia" id="fam" style="width:200px;" title="Familia"></select>
							</td>
							<td width="20"></td>
							<td width="200">
								<select name="subfamilia" id="subfam" style="width:200px;" title="Sub-Familia"></select>
							</td>
							<td width="40">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="60"><INPUT TYPE="button"  value="Buscar" style="width:60px;"></td>
							<td>&nbsp;&nbsp;</td>
							<td width="95"><!--<INPUT TYPE="button"  value="Generar_PDF">--></td>
						</tr>						
					</table>
                </td>
            </tr>
            <tr>
                <td height="8"></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                 <td><div id="div_reporte" style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:1300px; align=top;"></td>
                <!--<td><div id="div_reporte"> </div></td>-->
            </tr>
        </table>
        
<!-- ===========Buscador de Clientes==============-->

<div class="buscador_clientes" style="display:none;">	
	<table width="100%" border="0" class="formaBusqueda_clientes">
		<tr>
                    <td>
			<div class="div_dos_clientes">
                            <table width="100%" border="0">
                                <thead>
                                        <tr>
                                                <td colspan="8" height="50" valign="top"><div class="titulo_clientes" width="100%"><strong>Buscador de clientes</strong></div></td>
                                        </tr>
                                </thead>
						
                                    <tbody>
					<tr>
                                            <td width="10"></td>
                                            <td width="10" style="background:#ffffff;"></td>
                                            <td colspan="3" style="background:#ffffff;" width="600">
									
                                                <table id="tabla_busqueda" border="0"  class="contenidobusqueda">
                                                        <tr>
                                                                <td colspan="7" width="600" height="10"></td>
                                                        </tr>

                                                        <tr>
                                                                <td width="50">Buscar</td>
                                                                <td width="245"><INPUT TYPE="text" name="cadena_buscar" style="width:245px;"></td>
                                                                <td width="25"></td>
                                                                <td width="60">Filtro por</td>
                                                                <td width="150"><SELECT NAME="filtropor" style="width:150px;"></SELECT></td>
                                                                <td width="70" align="right">
                                                                <INPUT TYPE="button" id="busca_cliente_modalbox" class="onmouseOutBuscar">
                                                                </td>
                                                        </tr>
                                                </table>
									
                                            </td>
                                            <td width="10" style="background:#ffffff"></td>
                                            <td width="10"></td>
                                        </tr>
							
                                        <tr style="font-size:13px;">
                                                <td width="10"></td>
                                                <td width="10" style="background:#ffffff"></td>

                                                <td width="80"  style="background:#A8A9AB;">No.&nbsp;control</td>
                                                <td width="140"  style="background:#A8A9AB;">RFC</td>
                                                <td width="380"  style="background:#A8A9AB;">Razon&nbsp;social</td>

                                                <td width="10" style="background:#ffffff"></td>
                                                <td width="10"></td>
                                        </tr>
							
							
                                        <tr>
                                                <td width="10"></td>
                                                <td width="10" style="background:#ffffff"></td>
                                                <td style="background:#ffffff; border: solid 1px #454442;" colspan="3" width="600">
                                                    <div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
                                                            <table  border="0" id="tabla_resultado" width="580">
                                                                    <!--aqui van los resultados de la busqueda-->
                                                                    <!--
                                                                            <tr>
                                                                                    <td width="80">No. control</td>
                                                                                    <td width="145">RFC</td>
                                                                                    <td width="375">Razon social</td>
                                                                            </tr>
                                                                    -->
                                                            </table>
                                                    </div>
                                                </td>
                                                <td width="10" style="background:#ffffff"></td>
                                                <td width="10"></td>
                                        </tr>
                                        <tr>
                                                <td width="10"></td>
                                                <td width="10" colspan="5" height="3" style="background:#ffffff"></td>
                                                <td width="10"></td>
                                        </tr>
                                        <tr>
                                                <td width="10"></td>
                                                <td width="10" style="background:#ffffff"></td>

                                                <td width="80" style="background:#ffffff"></td>
                                                <td width="140" style="background:#ffffff"></td>
                                                <td width="380" style="background:#ffffff" align="right">
                                                        <INPUT TYPE="button" id="cencela" class="onmouseOutCancelar">
                                                </td>

                                                <td width="10" style="background:#ffffff"></td>
                                                <td width="10"></td>
                                        </tr>
                                        <tr>
                                                <td width="10"></td>
                                                <td width="10" colspan="5" height="6" style="background:#ffffff"></td>
                                                <td width="10"></td>
                                        </tr>
                                </tbody>
						
                            </table>
                        </div>
                    </td>
                </tr>
	</table>
</div>


<div class="buscador_productos" style="display:none;">
        <table width="100%" border="0" class="formaBusqueda_productos">
                <tr>
                        <td>
                                <div class="div_dos_productos">
                                        <table width="100%" border="0">
                                                <thead>
                                                        <tr>
                                                                <td colspan="8" height="50" valign="top"><div class="titulo_productos" width="100%"><strong>Buscador de productos</strong></div></td>
                                                        </tr>
                                                </thead>

                                                <tbody>
                                                        <tr>
                                                                <td width="10"></td>
                                                                <td width="10" style="background:#ffffff;"></td>
                                                                <td colspan="4" style="background:#ffffff;" width="600">

                                                                        <table id="tabla_busqueda" border="0"  class="contenidobusqueda">
                                                                                <tr>
                                                                                        <td colspan="7" width="600" height="10"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td width="70">C&oacute;digo&nbsp;</td>
                                                                                        <td width="120"><INPUT TYPE="text" name="campo_sku" style="width:120px;"></td>
                                                                                        <td width="25"></td>
                                                                                        <td width="90">Tipo&nbsp;de&nbsp;Producto</td>
                                                                                        <td width="200">
                                                                                                <SELECT NAME="tipo_producto" style="width:180px;">
                                                                                                        <OPTION value="0" selected="yes">[--Seleccionar Tipo--]</OPTION>
                                                                                                </SELECT>
                                                                                        </td>
                                                                                        <td width="25"></td>
                                                                                        <td width="90"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td colspan="7" width="600" height="10"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td width="70">Descripci&oacute;n</td>
                                                                                        <td width="400" colspan="4"><INPUT TYPE="text" name="campo_descripcion" style="width:415px;"></td>
                                                                                        <td width="25"></td>
                                                                                        <td width="90" align="right">
                                                                                                <INPUT TYPE="button" id="busca_producto_modalbox" class="onmouseOutBuscar">
                                                                                        </td>
                                                                                </tr>
                                                                        </table>

                                                                </td>
                                                                <td width="10" style="background:#ffffff"></td>
                                                                <td width="10"></td>
                                                        </tr>
                                                        <tr style="font-size:13px;">
                                                                <td width="10"></td>
                                                                <td width="10" style="background:#ffffff"></td>

                                                                <td width="120" style="background:#A8A9AB;">C&oacute;digo&nbsp;</td>
                                                                <td width="280" style="background:#A8A9AB;">Nombre</td>
                                                                <td width="90" style="background:#A8A9AB;">Unidad</td>
                                                                <td width="110" style="background:#A8A9AB;">Tipo</td>

                                                                <td width="10" style="background:#ffffff"></td>
                                                                <td width="10"></td>
                                                        </tr>

                                                        <tr>
                                                                <td width="10"></td>
                                                                <td width="10" style="background:#ffffff"></td>
                                                                <td style="background:#ffffff; border: solid 1px #313E74;" colspan="4" width="600">
                                                                        <div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
                                                                                <table  border="0" id="tabla_resultado" width="580">
                                                                                        <!--aqui van los resultados de la busqueda-->
                                                                                        <!--
                                                                                                <tr>
                                                                                                        <td width="70">Lote</td>
                                                                                                        <td width="140">Sku</td>
                                                                                                        <td width="300">Nombre</td>
                                                                                                        <td width="70">Disponible</td>
                                                                                                </tr>
                                                                                        -->
                                                                                </table>
                                                                        </div>
                                                                </td>
                                                                <td width="10" style="background:#ffffff"></td>
                                                                <td width="10"></td>
                                                        </tr>
                                                        <tr>
                                                                <td width="10"></td>
                                                                <td width="10" colspan="6" height="4" style="background:#ffffff"></td>
                                                                <td width="10"></td>
                                                        </tr>
                                                        <tr>
                                                                <td width="10"></td>
                                                                <td width="10" style="background:#ffffff"></td>

                                                                <td width="120"  style="background:#ffffff"></td>
                                                                <td width="280" style="background:#ffffff"></td>
                                                                <td width="90" style="background:#ffffff"></td>
                                                                <td width="110" style="background:#ffffff" align="right">
                                                                        <INPUT TYPE="button" id="cencela" class="onmouseOutCancelar">
                                                                </td>

                                                                <td width="10" style="background:#ffffff"></td>
                                                                <td width="10"></td>
                                                        </tr>
                                                        <tr>
                                                                <td width="10"></td>
                                                                <td width="10" colspan="6" height="6" style="background:#ffffff"></td>
                                                                <td width="10"></td>
                                                        </tr>
                                                </tbody>

                                        </table>
                                </div>
                        </td>
                </tr>
        </table>
</div>




<!-- =======fin de buscador =======-->
		
        #include("${layoutfooter}")
        
        
    </body>
</html>	


