<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
        
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/ctbpolizacontable/formaPolizasContables.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/productos/formaBuscaCuentaContable.css" type="text/css" />
		
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/ctbpolizacontable/modalboxPolizasContables.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/productos/modalboxBuscaCuentaContable.js"></script>
        <script type="text/javascript" src="../../js/components/formatearnumeros/agrega_comas.js"></script>
        <script type="text/javascript" src="../../js/implements/ctbpolizacontable/index.js" ></script>
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
		<input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        
        <!--Esta tabla va  en la barra de acciones -->
		<table class="table_acciones" style="display:none" border="0">
			<tr>
				<td width="15" height="30"></td>
				<td height="30"><a href="new_item" class="tooltip"><div class="onmouseOutNewItem" id="nItem"></div><span>Registrar nuevo</span></a></td>
				<td width="15" height="30"></td>
				<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a>  </td>
			</tr>
		</table>
        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
				<td colspan="13">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="150">Sucursal</td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="150">Tipo&nbsp;de&nbsp;P&oacute;liza</td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="100">Estatus</td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="90">P&oacute;liza</td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				
				<td width="22"></td>
				<td width="150" colspan="4">Fecha de la P&oacute;liza</td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				
				<td width="180">Concepto</td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="150"><select name="busqueda_select_sucursal" style="width:150px;"><option value="0" selected="yes">[-- --]</option></select></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="150"><select name="busqueda_select_tipo_poliza" style="width:150px;"><option value="0" selected="yes">[-- --]</option></select></td>
				<td width="10">&nbsp;</td>
				<td width="100"><select name="busqueda_select_estatus" style="width:100px;"><option value="0" selected="yes">[-- --]</option></select></td>
				<td width="10">&nbsp;</td>
				<td width="90"><input type="text" name="busqueda_poliza" style="width:90px;"></td>
				<td width="10">&nbsp;</td>
				<td width="22"><IMG SRC="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="70"><input type="text" name="busqueda_fecha_inicial" style="width:70px;" readOnly="true"></td>
				<td width="5"></td>
				<td width="22"><IMG SRC="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="70"><input type="text" name="busqueda_fecha_final" style="width:70px;" readOnly="true"></td>
				
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="180"><select name="busqueda_select_concepto" style="width:180px;"><option value="0" selected="yes">[-- --]</option></select></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><input type="button" value="Buscar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ><input type="button" value="Limpiar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>
        
        <!--  otra parte -->
        <table class="acciones">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>
		
        
        <!--form for poliza contable -->
        <form id="formactbpolizacontable00" action="edit.json" method="POST" >
        <!--clase la quite por causar problemas      tabulador -->
                <div id="div_one" class="panelcito_modal ctbpolizacontable_div_one"  style="display:none;" title="">
                
					<input type="hidden" name="identificador">
					<input type="hidden" name="accion" value="">
					<input type="hidden" name="estatus" >
					
                    <div id="div_two" title="" class="ctbpolizacontable_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" id="cierra" style="width:895px; padding-left:6px;"><strong>P&oacute;liza Contable</strong></div>
                            <div class="fixed column" style="width:20px; height:25px;">
                                <div id="close" style="height:25px;background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div id="div_three" title="" class="ctbpolizacontable_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>P&oacute;liza</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >
									
                                    <div id="tabx-1" class="contenidoPes" >
										
                                        <table border="0" style="margin:0; padding:0;">
											<tr>
												<td></td>
											</tr>
											<tr>
												<td valign="top" > 
													<table border="0" class="gral">
														<tr>
															<td width="10"></td>
															<td width="60">Sucursal</td>
															<td width="200"><select name="select_sucursal" style="width:200px;"></select></td>
															<td width="90"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_sucursal"></div></td>
															<td width="52">Mes</td>
															<td width="80"><select name="select_mes" style="width:80px;"></select></td>
															<td width="30"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_mes"></div></td>
															<td width="60">A&ntilde;o</td>
															<td width="70"><select name="select_anio" style="width:70px;"></select></td>
															<td width="50"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_anio"></div></td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td valign="top" > 
													<table border="0" class="gral">
														<tr>
															<td width="10"></td>
															<td width="60">No.&nbsp;P&oacute;liza</td>
															<td width="70"><input type="text"name="no_poliza" style="width:70px;" maxlength="9"></td>
															<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_nopoliza"></div></td>
															<td width="35">Fecha</td>
															<td width="70"><input type="text"name="fecha" style="width:66px;" maxlength="10"></td>
															<td width="85"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_fecha"></div></td>
															<td width="52">Moneda</td>
															<td width="80"><select name="select_moneda" style="width:80px;"></select></td>
															<td width="30"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_moneda"></div></td>
															<td width="60">Referencia</td>
															<td width="70"><input type="text"name="referencia" style="width:70px;" maxlength="25"></td>
														</tr>
													</table>
												</td>
											</tr>
											
											
											<tr>
												<td valign="top" > 
													<table border="0" class="gral">
														<tr>
															<td width="10"></td>
															<td width="60">Tipo</td>
															<td width="200"><select name="select_tipo" style="width:200px;"></select></td>
															<td width="90"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_tipo"></div></td>
															<td width="52">Concepto</td>
															<td width="170"><select name="select_concepto" style="width:170px;"></select></td>
															<td width="50"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_concepto"></div></td>
															
														</tr>
													</table>
												</td>
											</tr>
											

											<!--
											<tr>
												<td valign="top" > 
													<table border="1" class="gral">
														<tr>
															<td width="10"></td>
															<td width="60">Descripci&oacute;n</td>
															<td width="500"><input type="text"name="descripcion_cuenta" style="width:500px;" readOnly="true"></td>
															<td width="50"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_desccta"></div></td>
														</tr>
													</table>
												</td>
											</tr>
											-->
											
											<tr>
												<td valign="top" > 
													<table border="0" class="gral">
														<tr>
															<td width="10">&nbsp;</td>
															<td width="60" rowspan="2">Descripci&oacute;n de&nbsp;la&nbsp;p&oacute;liza</td>
															<td width="510" colspan="8" rowspan="2">
																<textarea name="descripcion_pol" rows="2" cols="90" style="width:510px; height:30px; resize:none;"></textarea>
															</td>
															<td width="50"></td>
															<td width="70"></td>
															<td width="80"></td>
															<td width="15"></td>
															<td width="100">&nbsp;</td>
														</tr>
														<tr>
															<td width="10">&nbsp;</td>
															<!--<td width="60">Observaci&oacute;n</td>-->
															<!--<td width="500" colspan="8"></td>-->
															<td width="50"></td>
															<td width="70"></td>
															<td width="80"></td>
															<td width="25"></td>
															<td width="100">
																<input type="button" id="btn_contabilizar" value="Contabilizar" style="width:100px; font-weight:bold;">
																<input type="button" id="btn_cancelar" value="Cancelar" style="width:100px; font-weight:bold;">
															</td>
														</tr>
													</table>
												</td>
											</tr>
											
											
											<tr>
												<td valign="top" > 
													<table border="0" class="gral">
														<tr>
															<td width="10"></td>
															<td width="60">Cuenta&nbsp;</td>
															<td><input name="cuenta" style="width:40px;" maxlength="4"></td>
															<td width="5"></td>
															<td><input name="scuenta" style="width:40px;" maxlength="4"></td>
															<td width="5"></td>
															<td><input name="sscuenta" style="width:40px;" maxlength="4"></td>
															<td width="5"></td>
															<td><input name="ssscuenta" style="width:40px;" maxlength="4"></td>
															<td width="5"></td>
															<td><input name="sssscuenta" style="width:40px;" maxlength="4"></td>
															<td width="5"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_cta"></div></td>
															<td width="60"><a href="#agrega_cuenta_contble" id="agrega_cuenta_contble">&nbsp;(Agregar)</a></td>
															<td width="5"></td>
															<td width="125">Descripci&oacute;n&nbsp;de&nbsp;la&nbsp;cuenta</td>
															<td width="320"><input type="text"name="descripcion_cuenta" style="width:320px;" readOnly="true"></td>
															<td width="15"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_desccta"></div></td>
															<td width="70"><a href="#busca_cuenta_contble" id="busca_cuenta_contble">&nbsp;(Buscar)</a></td>
														</tr>
													</table>
												</td>
											</tr>
											
											
											
											<tr>
												<td style="border-top: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF;">
													<table >
														<thead>
															<tr>
																<td class="grid" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="30">&nbsp;#</td>
																<td class="grid" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="120">&nbsp;Tipo Mov.</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="150">&nbsp;Cuenta</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="250">&nbsp;Descripci&oacute;n</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="120">&nbsp;Centro Costo</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="90">&nbsp;Debe</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="120">&nbsp;Haber</td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td colspan="7">
																	<div style="overflow:scroll; overflow-x: hidden; overflow-y: auto;  width:900; height: 150px; border:1px solid #C1DAD7 !important;">	
																		<table>
																			<tbody style="background-color: #FFFFFF;" valign="top" id="grid_cuentas">
																				
																			</tbody>
																		</table>
																	</div>
																</td>
															</tr>
														</tbody>
														<tfoot>
															<tr>
																<td class="grid2" width="30"></td>
																<td class="grid2" width="120"></td>
																<td class="grid2" width="150"></td>
																<td class="grid2" width="250"></td>
																<td class="grid2" width="120"></td>
																<td class="grid2" width="90" id="suma_debe"></td>
																<td class="grid" width="120" id="suma_haber"></td>
															</tr>
														</tfoot>
													</table>
												</td>
											</tr>
											
											<tr>
												<td  align="left" valign="top">
													<div id="div_warning_grid" style="display:none;">
														
														<table border="0">
															<tr>
																<td width="10"></td>
																<td width="830" colspan="4"><div style="color:#d41000;">&nbsp;&nbsp;Datos&nbsp;no&nbsp;validos</div></td>
																<td width="10"></td>
															</tr>
															<tr>
																<td width="10"></td>
																<td width="20" style="background-color:#A8A9AB; font-weight: bold;"></td>
																<td width="120" style="background-color:#A8A9AB; font-weight: bold;">Cuentan&nbsp;</td>
																<td width="200" style="background-color:#A8A9AB; font-weight: bold;">Descripci&oacute;n</td>
																<td width="490" style="background-color:#A8A9AB; font-weight: bold;">Descripci&oacute;n&nbsp;del&nbsp;error</td>
																<td width="10"></td>
															</tr>
															<tr>
																<td width="10"></td>
																<td colspan="5"> 
																	<div align="left" style="width:850px; height:70px; overflow:scroll; overflow-x: auto; overflow-y: auto; color:#d41000;">
																		<table id="grid_warning" border="0" style="width:830px;"">
																			<!-- Aqui se muestran los warning
																			style="background-color:#e7e8ea;"
																			-->
																		</table>
																	</div>
																</td>
															</tr>
														</table>
													</div>
												</td>
											</tr>
											
											
											
										</table>
                                    </div>
									
									

									
                                </div>
                            </div>


                            <div class="fixed column" id="botones" style="width:908px; background:; text-align:right; padding-left:; position:absolute;margin-top:4px;">
								<table border="0">
									<tr><td colspan="4" height="7"></td></tr>
									<tr>
										<td width="808"></td>
										<td>
											<input type="submit" value="Submit" id="submit">
											<!--<input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>-->
											<div id="boton_actualizar" style="width:95px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn1.png'); background-repeat:no-repeat;"></div>
										</td>
										<td width="30"></td>
										<td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
									</tr>
								</table>
                                
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
        </form>
        
        
        
        
        #include("${layoutfooter}")
        
        
        
        
		
		
		
		
		<div class="buscador_cuentas" style="display:none;">	
			<table width="100%" border="0" class="formaBusqueda_cuentas">
				<tr>
					<td>
						<div class="div_dos_buscactacontable">
							<table width="100%" border="0">
								<thead>
									<tr>
										<td colspan="10" height="50" valign="top"><div class="titulo_buscactacontable" width="100%"><strong>Buscador de cuentas contables</strong></div></td>
									</tr>
								</thead>
								
								<tbody>
									<tr class="gral">
										<td width="10"></td>
										<td width="10" style="background:#ffffff;"></td>
										<td colspan="6" style="background:#ffffff;" width="600">
											
											<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
												<tr>
													<td colspan="13" width="600" height="10"></td>
												</tr>
												
												<tr>
													<td width="100">Cuenta&nbsp;de&nbsp;mayor</td>
													<td width="220" colspan="8">
														<select name="select_cta_mayor" style="width:220px;">
															<option value="0" selected="yes">[--  --]</OPTION>
														</select>
													</td>
													<td width="50"></td>
													<td width="80">Clasificaci&oacute;n</td>
													<td width="100"><input type="text" name="clasif" style="width:50px;" maxlength="4" ></td>
													<td width="50"></td>
												</tr>
												<tr>
													<td colspan="13" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="100">Cuenta</td>
													<td width="50"><input name="cuenta" style="width:50px;" maxlength="4"></td>
													<td width="5"></td>
													<td width="50"><input name="scuenta" style="width:50px;" maxlength="4"></td>
													<td width="5"></td>
													<td width="50"><input name="sscuenta" style="width:50px;" maxlength="4"></td>
													<td width="5"></td>
													<td width="50"><input name="ssscuenta" style="width:50px;" maxlength="4"></td>
													<td width="5"></td>
													<td width="50"><input name="sssscuenta" style="width:50px;" maxlength="4"></td>
													<td width="80"></td>
													<td width="100"></td>
													<td width="50"></td>
												</tr>
												
												<tr>
													<td colspan="13" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="100">Descripci&oacute;n</td>
													<td width="270" colspan="9"><input type="text" name="campo_descripcion" style="width:270px;"></td>
													<td width="80"></td>
													<td width="100"></td>
													<td width="50" align="right"><input type="button" id="boton_busca" class="onmouseOutBuscar"></td>
												</tr>
												
											</table>
											
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									<tr style="font-size:13px;">
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="30" style="background:#A8A9AB;">M&nbsp;</td>
										<td width="30" style="background:#A8A9AB;">C&nbsp;</td>
										<td width="170" style="background:#A8A9AB;">Cuenta&nbsp;</td>
										<td width="230" style="background:#A8A9AB;">Descripci&oacute;n</td>
										<td width="70" style="background:#A8A9AB;">Detalle</td>
										<td width="70" style="background:#A8A9AB;">Nivel Cta.</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td style="background:#ffffff; border: solid 1px #454442;" colspan="6" width="600">
											<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
												<table  border="0" id="tabla_resultado" width="580">
													<!--aqui van los resultados de la busqueda-->
												</table>
											</div>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="8" height="4" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="30"  style="background:#ffffff"></td>
										<td width="30"  style="background:#ffffff"></td>
										<td width="170"  style="background:#ffffff"></td>
										<td width="230" style="background:#ffffff"></td>
										<td width="70" style="background:#ffffff"></td>
										<td width="70" style="background:#ffffff" align="right">
											<input type="button" id="boton_cencela" class="onmouseOutCancelar">
										</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="8" height="6" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
								</tbody>
								
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>



    </body>
</html>	




