<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
		
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/repinvexislote/formarepinvexislote.css" type="text/css" />
		
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/implements/repinvexislote/index.js" ></script>
        <script type="text/javascript" src="../../js/components/formatearnumeros/agrega_comas.js"></script>
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        
        <form id="formaRepExisLote" action="print.json" method="POST" >
        <!--  otra parte -->
        <table class="acciones">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
            
            
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td style="background-color:#ffffff;" >
					<table id="busqueda" border="0" >
						<tr>
							<td colspan="16" height="8"></td>
						</tr>
						<tr>
							<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="120">Opciones</td>
							<td width="20"></td>
							<td width="180">Almacen</td>
							<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="90">C&oacute;digo&nbsp;producto</td>
							<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="200">Descripci&oacute;n</td>
							<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="100">Lote&nbsp;Interno</td>
							<td width="30"></td>
							<td width="50"></td>
							<td width="10"></td>
							<td width="70"></td>
						</tr>
						
						<tr>
							<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="120"><SELECT NAME="opciones" style="width:120px;" title="Filtros para el reporte de Existencias en Inventario"></SELECT></td>
							<td width="20"></td>
							<td width="180">
								<SELECT NAME="select_almacen" style="width:180px;">
									<option value="0" selected="yes">[--Seleccionar Almacen--]</option>
								</SELECT>
							</td>
							<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="90"><INPUT TYPE="text" name="codigo" style="width:90px;"></td>
							<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="200"><INPUT TYPE="text" name="descripcion" style="width:200px;"></td>
							<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="100"><INPUT TYPE="text" name="lote_interno" style="width:100px;"></td>
							<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="50"><INPUT TYPE="button" id="boton_buscador" value="Buscar"></td>
							<td width="30">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="50"><INPUT TYPE="button" id="genera_reporte" value="Generar PDF"></td>
							<td width="10"></td>
							<td width="70"><INPUT TYPE="submit" id="imprimir" value="Imprimir" style="width:70px;"></td>
						</tr>					
					</table>
                </td>
            </tr>
            <tr>
                <td height="8"></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td>
					<div> 
						<table id="table_exis" cellspacing="0">
							<thead>
								<tr>
									<td width="20">#&nbsp;</td>
									<td width="60">Cant. Et.&nbsp;</td>
                                                                        <td width="60">Cant. Prod.</td>
									<td width="60">Medida&nbsp;</td>
									<td width="100">Lote&nbsp;Interno</td>
									<td width="100">Lote&nbsp;Proveedor</td>
									<td width="100">C&oacute;digo</td>
									<td width="350">Descripci&oacute;n</td>
									<td width="100">Unidad</td>
									<td width="100">Existencia</td>
									<td width="100">Fecha&nbsp;Entrada</td>
								</tr>
							</thead>
							<tbody></tbody>
							<tfoot></tfoot>
						</table>
					</div>
                </td>
            </tr>
		</table>
        </form>
        
        #include("${layoutfooter}")
        
        
    </body>
</html>	


