<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
		
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/clientsasignarem/formaclientsasignarem.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/clientsasignarem/formaBuscaRemitente.css" type="text/css" />
        <!--Se utiliza el buscador de clientes de direcciones fiscales-->
        <link rel="stylesheet" href="../../css/modalbox/clientsdf/formaBuscaclientes.css" type="text/css" />
		
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/clientsasignarem/modalboxclientsasignarem.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/clientsdf/modalboxBuscacliente.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/clientsasignarem/modalboxBuscaRemitente.js"></script>
        <script type="text/javascript" src="../../js/implements/clientsasignarem/index.js" ></script>
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        <!--Esta tabla va  en la barra de acciones -->
		<table class="table_acciones" style="display:none" border="0">
			<tr>
				<td width="15" height="30"></td>
				<td height="30"><a href="new_item" class="tooltip"><div class="onmouseOutNewItem" id="nItem"></div><span>Registrar nuevo</span></a></td>
				<td width="15" height="30"></td>
				<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a>  </td>
			</tr>
		</table>
        <!--fin de  tabla de la barra de acciones -->

        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
				<td colspan="13">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>No. Cliente</td>
				<td width="10">&nbsp;&nbsp;</td>
				<td>Razon Social</td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>RFC</td>
				<td width="10">&nbsp;&nbsp;</td>
				<td></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><INPUT TYPE="text" name="busqueda_nocontrol" style="width:90px;"></td>
				<td width="10">&nbsp;&nbsp;</td>
				<td><INPUT TYPE="text" name="busqueda_razon_social" style="width:220px;"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><INPUT TYPE="text" name="busqueda_rfc" style="width:150px;"></td>
				<td width="10">&nbsp;&nbsp;</td>
				<td></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><INPUT TYPE="button" value="Buscar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ><INPUT TYPE="button" value="Limpiar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>
        
        <!--  otra parte -->
        <table class="acciones">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>
        
        <!--form for App Asignacion de Remitentes -->
        <form id="formaAsignaRemitentes" action="edit.json" method="POST" >
        <!--clase la quite por causar problemas      tabulador -->
                <div id="div_one" class="panelcito_modal clientsasignarem_div_one"  style="display:none;" title="">
                
                <input type="hidden" name="identificador">
					
                    <div id="div_two" title="" class="clientsasignarem_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" id="cierra" style="width:720px; padding-left:6px;"><strong>Asignaci&oacute;n de Remitentes</strong></div>
                            <div class="fixed column" style="width:20px; height:25px;">
                                <div id="close" style="height:25px;background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div id="div_three" title="" class="clientsasignarem_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>Asignaci&oacute;n</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >
									
                                    <div id="tabx-1" class="contenidoPes" >
										<table border="0" style="margin:0; padding:0;">
                                                <tr>
                                                    <td width="720"></td>
                                                </tr>
                                                <tr>
                                                    <td >
                                                        <table border="0" class="gral">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="70">No.&nbsp;Cliente</td>
                                                                <td width="100">
                                                                    <input type="hidden" name="id_cliente" value="0">
                                                                    <input type="text" name="nocliente" style="width:100px; border:1px solid #000;">
                                                                </td>
                                                                <td width="15"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_nocliente"></div></td>
                                                                <td width="80"><a href="agregar_cliente">&nbsp;(Agregar)</a></td>
                                                                <td width="70">Razon&nbsp;social</td>
                                                                <td width="280"><input type="text" name="razoncliente" style="width:280px;"></td>
                                                                <td width="55"><a href="busca_cliente">&nbsp;(Buscar)</a></td>
                                                                <td width="15"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
												
                                                <tr>
                                                    <td class="header_grid" style="border-top: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF; background-color:#D4D3D3;">&nbsp;&nbsp;&nbsp;Asignar Remitentes</td>
												</tr>
                                                <tr>
                                                    <td >
                                                        <table border="0" class="gral">
															<tr>
																<td height="4" colspan="9"></td>
															</tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="70">No.&nbsp;Remitente</td>
                                                                <td width="100"><input type="text" name="noremitente" style="width:100px; border:1px solid #000;"></td>
                                                                <td width="15"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_noremitente"></div></td>
                                                                <td width="80"><a href="agregar_remitente">&nbsp;(Agregar)</a></td>
                                                                <td width="70">Razon&nbsp;social</td>
                                                                <td width="280"><input type="text" name="nombre_remitente" style="width:280px;"></td>
                                                                <td width="55"><a href="busca_remitente">&nbsp;(Buscar)</a></td>
                                                                <td width="15"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
												
                                                <tr>
                                                    <td class="header_grid" style="border-top: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF;">
														<table class="tabla_header_grid">
															<thead>
																<tr>
																	<td width="60"><div class="delete">&nbsp;#</div></td>
																	<td width="120">&nbsp;No.&nbsp;Remitente</td>
																	<td width="400">&nbsp;Razon&nbsp;social</td>
																	<td width="120">&nbsp;RFC</td>
																</tr>
															</thead>
														</table>
														<div class="contenedor_grid" style="overflow:scroll; overflow-x: hidden; overflow-y: auto;  width:870; height: 115px; border:1px solid #C1DAD7 !important;">	
															<table class="tabla_remitentes">
																<tbody style="background-color: #FFFFFF;" valign="top" id="grid_remitentes">
																	
																</tbody>
															</table>
														</div>
                                                        
                                                    </td>
                                                </tr>
												
                                                <tr>
                                                    <td width="720"  align="left" valign="top">
														
                                                        <div id="div_warning_grid" style="display:none;">
															
                                                            <table border ="0">
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td  colspan="4"><div style="color:#d41000;">&nbsp;&nbsp;Datos&nbsp;no&nbsp;validos</div></td>
                                                                    <td width="10"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td width="20" style="background-color:#A8A9AB; font-weight: bold;"></td>
                                                                    <td width="90" style="background-color:#A8A9AB; font-weight: bold;">C&oacute;digo</td>
                                                                    <td width="160" style="background-color:#A8A9AB; font-weight: bold;">Descripci&oacute;n</td>
                                                                    <td width="295" class="td_head" style="background-color:#A8A9AB; font-weight: bold;">Descripci&oacute;n&nbsp;del&nbsp;error</td>
                                                                    <td width="10"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td colspan="5"> 
                                                                        <div align="left" class="div_cont_grid_warning" style="width:710px; height:68px; overflow:scroll; overflow-x: auto; overflow-y: auto; color:#d41000;">
                                                                            <table id="grid_warning" border="0" style="width:575px;"">
                                                                                <!-- Aqui se muestran los warning
                                                                                style="background-color:#e7e8ea;"
                                                                                -->
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                        </table>
                                    </div><!--tabx-1-->
                                </div>
                            </div>


                            <div class="fixed column" id="botones" style="width:740px; background:; text-align:right; padding-left:; position:absolute;margin-top:4px;">
								<table border="0" >
									<tr><td colspan="4" height="7"></td></tr>
									<tr>
										<td width="700px"></td>
										<td>
												<input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>
										</td>
										<td width="30"></td>
										<td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
									</tr>
								</table>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
        </form>
        
        #include("${layoutfooter}")
        

		<!--Aqui comienza el formulario para el buscador de Clientes-->
		<div class="buscador_clientes" style="display:none;">	
			<table width="100%" border="0" class="formaBusqueda_clientes">
				<tr>
					<td>
						<div class="div_dos_clientes">
							<table width="100%" border="0">
								<thead>
									<tr>
										<td colspan="8" height="50" valign="top"><div class="titulo_clientes" width="100%"><strong>Buscador de clientes</strong></div></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff;"></td>
										<td colspan="3" style="background:#ffffff;" width="600">
											<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
												<tr>
													<td colspan="7" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="50">Buscar</td>
													<td width="245"><input type="text" name="cadena_buscar" style="width:245px;"></td>
													<td width="25"></td>
													<td width="60">Filtro por</td>
													<td width="150"><select name="filtropor" style="width:150px;"></select></td>
													<td width="70" align="right">
														<input type="button" id="busca_cliente_modalbox" class="onmouseOutBuscar">
													</td>
												</tr>
											</table>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr style="font-size:13px;">
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="80"  style="background:#A8A9AB;">No.&nbsp;control</td>
										<td width="140"  style="background:#A8A9AB;">RFC</td>
										<td width="380"  style="background:#A8A9AB;">Razon&nbsp;social</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td style="background:#ffffff; border: solid 1px #454442;" colspan="3" width="600">
											<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
												<table  border="0" id="tabla_resultado" width="580">
													<!--aqui van los resultados de la busqueda-->
													<!--
														<tr>
															<td width="80">No. control</td>
															<td width="145">RFC</td>
															<td width="375">Razon social</td>
														</tr>
													-->
												</table>
											</div>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="5" height="3" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="80" style="background:#ffffff"></td>
										<td width="140" style="background:#ffffff"></td>
										<td width="380" style="background:#ffffff" align="right">
											<input type="button" id="cencela" class="onmouseOutCancelar">
										</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="5" height="6" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
		
		<!--Aqui comienza el formulario para el buscador de REMITENTES-->
		<div class="buscador_remitentes" style="display:none;">	
			<table width="100%" border="0" class="formaBusqueda_remitentes">
				<tr>
					<td>
						<div class="div_dos_remitentes">
							<table width="100%" border="0">
								<thead>
									<tr>
										<td colspan="8" height="50" valign="top"><div class="titulo_remitentes" width="100%"><strong>Buscador de Remitentes</strong></div></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff;"></td>
										<td colspan="3" style="background:#ffffff;" width="600">
											<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
												<tr>
													<td colspan="7" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="50">Buscar</td>
													<td width="245"><input type="text" name="cadena_buscar" style="width:245px;"></td>
													<td width="25"></td>
													<td width="60">Filtro por</td>
													<td width="150"><select name="filtropor" style="width:150px;"></select></td>
													<td width="70" align="right">
														<input type="button" id="boton_buscaremitente" class="onmouseOutBuscar">
													</td>
												</tr>
											</table>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr style="font-size:13px;">
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="80"  style="background:#A8A9AB;">No.&nbsp;control</td>
										<td width="140"  style="background:#A8A9AB;">RFC</td>
										<td width="380"  style="background:#A8A9AB;">Razon&nbsp;social</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td style="background:#ffffff; border: solid 1px #454442;" colspan="3" width="600">
											<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
												<table  border="0" id="tabla_resultado" width="580">
													<!--aqui van los resultados de la busqueda-->
													<!--
														<tr>
															<td width="80">No. control</td>
															<td width="145">RFC</td>
															<td width="375">Razon social</td>
														</tr>
													-->
												</table>
											</div>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="5" height="3" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td width="80" style="background:#ffffff"></td>
										<td width="140" style="background:#ffffff"></td>
										<td width="380" style="background:#ffffff" align="right">
											<input type="button" id="cencela" class="onmouseOutCancelar">
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="5" height="6" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>


    </body>
</html>	
