<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
		
        <!--  css for this catalogo -->
		
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/implements/ctbreplibromayor/index.js" ></script>
        <script type="text/javascript" src="../../js/components/formatearnumeros/agrega_comas.js"></script>
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        <!--  otra parte -->
        <table class="acciones">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td style="background-color:#ffffff;" >
					<div id="div_busqueda">
						<table id="busqueda" border="0" align="left" width="1220">
							<tr>
								<td colspan="25" height="8"></td>
							</tr>
							<tr>
								<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td width="100">Tipo de Reporte</td>
								<td width="20"></td>
								<td width="100">Mes</td>
								<td width="20"></td>
								<td width="70">A&ntilde;o</td>
								<td width="20"></td>
								<td width="90">Cuentas</td>
								<td width="20"></td>
								<td colspan="9">Cuenta</td>
								<td width="20"></td>
								<td width="280">Descripci&oacute;n</td>
								<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td width="60"></td>
								<td width="25"></td>
								<td width="70"></td>
								<td width="25"></td>
							</tr>
							
							<tr>
								<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td width="100"><select name="tipo_reporte" style="width:100px;"></select></td>
								<td width="20"></td>
								<td width="70"><select name="select_mes" style="width:100px;"></select></td>
								<td width="20"></td>
								<td width="70"><select name="select_ano" style="width:70px;"></select></td>
								<td width="20"></td>
								<td width="90"><select name="select_cuentas" style="width:90px;"></select></td>
								<td width="20"></td>
								<td width="50">
									<select name="select_cuenta" style="width:50px;"></select>
									<!--<input type="text"name="cuenta" style="width:45px;" maxlength="4">-->
								</td>
								<td width="5"></td>
								<td width="50">
									<select name="select_subcuenta" style="width:50px;"></select>
									<!--<input type="text"name="scuenta" style="width:45px;" maxlength="4">-->
								</td>
								<td width="5"></td>
								<td>
									<select name="select_subsubcuenta" style="width:50px;"></select>
									<!--<input type="text"name="sscuenta" style="width:45px;" maxlength="4">-->
								</td>
								<td width="5"></td>
								<td>
									<select name="select_subsubsubcuenta" style="width:50px;"></select>
									<!--<input type="text"name="ssscuenta" style="width:45px;" maxlength="4">-->
								</td>
								<td width="5"></td>
								<td>
									<select name="select_subsubsubsubcuenta" style="width:50px;"></select>
									<!--<input type="text"name="sssscuenta" style="width:45px;" maxlength="4">-->
								</td>
								<td width="20"></td>
								
								<td width="280">
									<input type="text" name="descripcion" style="width:280px;">
								</td>
								<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td width="60"><input type="button"  value="Buscar" style="width:60px;"></td>
								<td width="25"></td>
								<td width="70"><input type="button" value="PDF" style="width:60px;"></td>
								<td width="25" align="center"><a href="#" id="vermas"><img src="../../img/fabajo.png"/></a></td>
							</tr>
							
							<tr id="tr_oculto">
								<td colspan="25" height="8"></td>
							</tr>
							<tr id="tr_oculto">
								<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td width="100">Sucursal</td>
								<td width="20"></td>
								<td width="100"></td>
								<td width="20"></td>
								<td width="70"></td>
								<td width="20"></td>
								<td width="90"></td>
								<td width="20"></td>
								<td colspan="9"></td>
								<td width="20"></td>
								<td width="280"></td>
								<td width="20"></td>
								<td width="60"></td>
								<td width="25"></td>
								<td width="70"></td>
								<td width="25"></td>
							</tr>
							<tr id="tr_oculto">
								<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td width="190" colspan="3"><select name="select_sucursal" style="width:190px;"></select></td>
								<!--
								<td width="20"></td>
								<td width="70"></td>
								-->
								<td width="20"></td>
								<td width="70"></td>
								<td width="20"></td>
								<td width="90"></td>
								<td width="20"></td>
								<td width="50"></td>
								<td width="5"></td>
								<td width="50"></td>
								<td width="5"></td>
								<td></td>
								<td width="5"></td>
								<td></td>
								<td width="5"></td>
								<td></td>
								<td width="20"></td>
								<td width="280"></td>
								<td width="20"></td>
								<td width="60"></td>
								<td width="25"></td>
								<td width="70"></td>
								<td width="25" align="center"><a href="#" id="vermenos"><img src="../../img/farriba.png"/></a></td>
							</tr>
						</table>
					</div>
                </td>
            </tr>
            <tr>
                <td height="8"></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td><div id="div_rep"> </div></td>
            </tr>
        </table>
		
		
		
		
		
		
		
		
		<div class="buscador_clientes" style="display:none;">	
			<table width="100%" border="0" class="formaBusqueda_clientes">
				<tr>
					<td>
						<div class="div_dos_clientes">
							<table width="100%" border="0">
								<thead>
									<tr>
										<td colspan="8" height="50" valign="top"><div class="titulo_clientes" width="100%"><strong>Buscador de clientes</strong></div></td>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff;"></td>
										<td colspan="3" style="background:#ffffff;" width="600">
											
											<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
												<tr>
													<td colspan="7" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="50">Buscar</td>
													<td width="245"><input type="text" name="cadena_buscar" style="width:245px;"></td>
													<td width="25"></td>
													<td width="60">Filtro por</td>
													<td width="150"><select name="filtropor" style="width:150px;"></select></td>
													<td width="70" align="right">
														<!--<a href="busca_cliente_modalbox" style="font-size:13px;">Buscar</a>-->
														<input type="button" id="busca_cliente_modalbox" class="onmouseOutBuscar">
													</td>
												</tr>
												
											</table>
											
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>

									<tr style="font-size:13px;">
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="80"  style="background:#A8A9AB;">No. control</td>
										<td width="140"  style="background:#A8A9AB;">RFC</td>
										<td width="380"  style="background:#A8A9AB;">Razon social</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td style="background:#ffffff; border: solid 1px #454442;" colspan="3" width="600">
											<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
												<table  border="0" id="tabla_resultado" width="580">
													<!--aqui van los resultados de la busqueda-->
													<!--
														<tr>
															<td width="80">No. control</td>
															<td width="145">RFC</td>
															<td width="375">Razon social</td>
														</tr>
													-->
												</table>
											</div>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="5" height="3" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="80" style="background:#ffffff"></td>
										<td width="140" style="background:#ffffff"></td>
										<td width="380" style="background:#ffffff" align="right">
											<!--<a href="cencela" style="font-size:13px;">Cancelar</a>-->
											<input type="button" id="cencela" class="onmouseOutCancelar">
										</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="5" height="6" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
								</tbody>
								
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
		
		
		
		
		
		
		
        #include("${layoutfooter}")
        
    </body>
</html>	


