<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
	
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/crmcontactos/formaCrmContactos.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/crmcontactos/formaBuscaCliente_Prospecto.css" type="text/css" />
        
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/crmcontactos/modalboxCrmContactos.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/crmcontactos/modalboxBuscaCliente_Prospecto.js"></script>
        <script type="text/javascript" src="../../js/implements/crmcontactos/index.js" ></script>
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        <!--Esta tabla va  en la barra de acciones -->
		<table class="table_acciones" style="display:none" border="0">
			<tr>
			<td width="15" height="30"></td>
			<td height="30"><a href="new_item" class="tooltip"><div class="onmouseOutNewItem" id="nItem"></div><span>Registrar nuevo</span></a></td>
			<td width="15" height="30"></td>
			<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a>  </td>
			</tr>
		</table>
        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
			   <td colspan="17">&nbsp;&nbsp;</td>
			</tr>
			
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>Nombre</td>
				<td width="10">&nbsp;&nbsp;</td>
				<td><INPUT TYPE="text" name="busqueda_nombre" style="width:150px;"></td>
                                <td width="10">&nbsp;&nbsp;</td>
				<td>Tipo contacto</td>
				<td width="10">&nbsp;&nbsp;</td>
				<td>
					<select name="busquedatipo_contacto" style="width:145px;" >
						<option value="0">[-Seleccionar-]</option>
						<option value="1">Cliente</option>
						<option value="2">Prospecto</option>
					</select>
				</td>
				<td width="10">&nbsp;&nbsp;</td>
				<td>Agente</td>
				<td width="10">&nbsp;&nbsp;</td>
				<td>
					<select name="busqueda_agente" style="width:200px;"><option value="0">[-Seleccionar-]</option></select>
				</td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><INPUT TYPE="button" value="Buscar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ><INPUT TYPE="button" value="Limpiar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td colspan="17">&nbsp;&nbsp;</td>
			</tr>
		</table>
        <table class="acciones">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>
        
        <!--form for Contactos CRM -->
        <form id="formaCrmContactos" action="edit.json" method="POST" >
        <!--clase la quite por causar problemas      tabulador -->
            <div id="div_one" class="panelcito_modal crmcontactos_div_one"  style="display:none;" title="">
                <input type="hidden" name="identificador">
                
                    <div id="div_two" title="" class="crmcontactos_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" id="cierra" style="width:749px; padding-left:6px;"><strong>Contacto</strong></div>
                            <div class="fixed column" style="width:30px; height:25px;">
                                <div id="close" style="height:25px;background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>    
                      <div id="div_three" title="" class="crmcontactos_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>Contacto</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >
                                    
                                    <div id="tabx-1" class="contenidoPes" >
                                        <table border="0">
                                            <tr>
                                                <td width="100">Folio</td>
                                                <td width="145"><INPUT TYPE="text" name="folio" style="width:145px;"></td>
                                                <td width="25"></td>
                                                <td width="100"></td>
                                                <td width="150"></td>
                                                <td width="25"></td>
                                                <td width="100"></td>
                                                <td width="150"></td>
                                                <td width="25"></td>
                                            </tr>
                                            
                                            <tr>
                                               <td colspan="9">&nbsp;</td>
                                            </tr>
                                            
                                            <tr>
                                                <td width="100">Tipo</td>
                                                <td width="145">
                                                    <select name="tipo_contacto" style="width:145px;" >
                                                        <option value="1">Cliente</option>
                                                        <option value="2">Prospecto</option>
                                                    </select>
                                                </td>
                                                <td width="25"></td>
                                                <td width="100">Agente</td>
                                                <td width="145"><select name="select_agente" style="width:145px;" /></td>
                                                <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_agente"></div></td>
                                                <td width="100">Decisor</td>
                                                <td width="145"><input type="checkbox" name="check_decisor"></td>
                                                <td width="25"></td>
                                            </tr>
                                            <tr>
                                               <td colspan="9">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td colspan="9">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <td width="100">RFC&nbsp;Empresa</td>
                                                                <td width="110">
                                                                    <INPUT TYPE="text" name="rfc" style="width:100px;">
                                                                    <INPUT TYPE="hidden" name="id_cliente" value="0" >
                                                                </td>
                                                                <td><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_cliente"></div></td>
                                                                <td width="60"><a  href="busca_cliente">(Buscar)</a></td>
                                                                <td width="83">Razon&nbsp;Social</td>
                                                                <td width="400"><INPUT TYPE="text" name="razon_social" style="width:395px;"></td>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100">Nombre</td>
                                                <td width="145"><INPUT TYPE="text" name="nombre" style="width:145px;"></td>
                                                <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_nombre"></div></td>
                                                <td width="100">Apellido&nbsp;Paterno</td>
                                                <td width="145"><INPUT TYPE="text" name="apellido_paterno" style="width:145px;"></td>
                                                <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_apellido_materno"></div></td>
                                                <td width="100">Apellido&nbsp;Materno</td>
                                                <td width="145"><INPUT TYPE="text" name="apellido_materno" style="width:145px;"></td>
                                                <td width="25"></td>
                                            </tr>
                                            <tr>
                                               <td colspan="9">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="100">Telefono&nbsp;1</td>
                                                <td width="145"><INPUT TYPE="text" name="telefono_1" style="width:145px;"></td>
                                                <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_telefono_1"></div></td>
                                                <td width="100">Telefono&nbsp;2</td>
                                                <td width="145"><INPUT TYPE="text" name="telefono_2" style="width:145px;"></td>
                                                <td width="25"></td>
                                                <td width="100">Fax</td>
                                                <td width="145"><INPUT TYPE="text" name="fax" style="width:145px;"></td>
                                                <td width="25"></td>
                                            </tr>
                                            <tr>
                                               <td colspan="9">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="100">Telefono&nbsp;Directo</td>
                                                <td width="145"><INPUT TYPE="text" name="telefono_directo" style="width:145px;"></td>
                                                <td width="25"></td>
                                                <td width="100">Correo 1</td>
                                                <td width="150"><INPUT TYPE="text" name="correo_1" style="width:145px;"></td>
                                                <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_correo_1"></div></td>
                                                <td width="100">Correo 2</td>
                                                <td width="150"><INPUT TYPE="text" name="correo_2" style="width:145px;"></td>
                                                <td width="25"></td>
                                            </tr>
                                            
                                            <tr>
                                               <td colspan="9">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="100" colspan="4">Departamento</td>
                                                <!--
                                                <td width="145"></td>
                                                <td width="25"></td>
                                                <td width="100"></td>
                                                -->
                                                <td width="145" colspan="4">Puesto</td>
                                                <!--
                                                <td width="25"></td>
                                                <td width="100"></td>
                                                <td width="145"></td>
                                                -->
                                                <td width="25"></td>
                                            </tr>
                                            <tr>
                                                <td width="100" colspan="4"><INPUT TYPE="text" name="departamento" style="width:320px;"></td>
                                                <!--
                                                <td width="145"></td>
                                                <td width="25"></td>
                                                <td width="100"></td>
                                                -->
                                                <td width="145" colspan="4"><INPUT TYPE="text" name="puesto" style="width:400px;"></td>
                                                <!--
                                                <td width="25"></td>
                                                <td width="100"></td>
                                                <td width="145"></td>
                                                -->
                                                <td width="25"></td>
                                            </tr>
                                            
                                            

                                            <tr>
                                               <td colspan="9">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="100">Observaciones</td>
                                                <td width="145"></td>
                                                <td width="25"></td>
                                                <td width="100"></td>
                                                <td width="145"></td>
                                                <td width="25"></td>
                                                <td width="100"></td>
                                                <td width="145"></td>
                                                <td width="25"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="8">
                                                    <textarea name="observaciones" rows="4" cols="60" style="width:760px; resize:none;"></textarea>
                                                </td>
                                                <td width="25"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="fixed column" id="botones" style="width:760px; background:; text-align:right; padding-left:; position:absolute;margin-top:4px;">
                                <table border="0">
                                        <tr><td colspan="10" height="7"></td></tr>
                                        <tr>
                                            <td width="559"></td>
                                            <td>
                                               <input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>
                                            </td>
                                            <td width="30"></td>
                                            <td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
                                        </tr>
                                </table>      
                            </div>
                        </div>
                    </div>
                </div>
        </form>
        #include("${layoutfooter}")
    </body>
</html>	








<!-- Buscador de contactos -->
<div class="buscador_clientes_prospectos" style="display:none;">	
	<table width="100%" border="0" class="formaBusqueda_cliente_prospecto">
		<tr>
			<td>
				<div class="div_dos_buscacliente_prospecto">
					<table width="100%" border="0">
						<thead>
							<tr>
								<td colspan="7" height="50" valign="top"><div class="titulo_buscacliente_prospecto" width="100%"><strong>Buscador</strong></div></td>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff;"></td>
								<td colspan="3" style="background:#ffffff;" width="500">
									
									<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
										<tr>
											<td colspan="7" width="575" height="10"></td>
										</tr>
										
                                                                                <tr>
											<td width="100">RFC :</td>
                                                                                        <td width="25">&nbsp;</td>
											<td width="350" ><INPUT TYPE="text" name="buscador_rfc" style="width:200px;"></td>
											<td width="25"></td>
                                                                                        <td width="25"></td>
                                                                                        <td width="25"></td>
                                                                                        <td width="25"></td>
											
										</tr>
                                                                                <tr>
											<td colspan="7" width="575" height="10"></td>
										</tr>
										<tr>
											<td width="100">Razon&nbsp;Social</td>
                                                                                        <td >&nbsp;</td>
											<td width="350" colspan="4"><INPUT TYPE="text" name="buscador_razon_social" style="width:350px;"></td>
											<td width="25" align="right">
												<INPUT TYPE="button" id="busca_contacto_modalbox" class="onmouseOutBuscar">
											</td>
											
										</tr>
										
										<tr>
											<td colspan="7" width="575" height="10"></td>
										</tr>
									</table>
									
								</td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr style="font-size:13px;">
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								
								<td width="280" style="background:#A8A9AB;">No.&nbsp;Control</td>
								<td width="210" style="background:#A8A9AB;">Razon&nbsp;Social</td>
								<td width="110" style="background:#A8A9AB;">RFC</td>
								
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								<td style="background:#ffffff; border: solid 1px #313E74;" colspan="3" width="600">
									<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
										<table  border="0" id="tabla_resultado" width="600" style="font-size:12px;">
											<!--aqui van los resultados de la busqueda-->
										</table>
									</div>
								</td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" colspan="5" height="4" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff" colspan="3"></td>
								<td width="110" style="background:#ffffff" align="right">
									<INPUT TYPE="button" id="cencela" class="onmouseOutCancelar">
								</td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" colspan="5" height="6" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
						</tbody>
						
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>
