<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
        
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/cotizaciones/formaCotizacion.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/cotizaciones/formaBuscaclientes.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/cotizaciones/formaBuscapresentaciones.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/cotizaciones/formaBuscaproducto.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/authorize/formaAuthorize.css" type="text/css" />
        
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/cotizaciones/modalboxCotizaciones.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/cotizaciones/modalboxBuscacliente.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/cotizaciones/modalboxBuscapresentaciones.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/cotizaciones/modalboxBuscaproducto.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/authorize/modalboxAuthorize.js"></script>
        <script type="text/javascript" src="../../js/components/formatearnumeros/agrega_comas.js"></script>
        <script type="text/javascript" src="../../js/implements/cotizaciones/index.js" ></script>
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        <input type="hidden" name="crm" value="$crm">
        
        <!--Esta tabla va  en la barra de acciones -->
		<table class="table_acciones" style="display:none" border="0">
			<tr>
				<td width="15" height="30"></td>
				<td height="30"><a href="new_item" class="tooltip"><div class="onmouseOutNewItem" id="nItem"></div><span>Crear Nuevo</span></a></td>
				<td width="15" height="30"></td>
				<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a> </td>
			</tr>
		</table>
        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
				<td colspan="17">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="70">Folio</td>
				<td width="5">&nbsp;</td>
				<td id="td_tipo">Dirigido a</td>
				<td width="5">&nbsp;</td>
				<td width="180"><span id="etiqueta_tipo">Cliente</span></td>
				<td width="15"></td>
				<td width="100">C&oacute;digo Producto</td>
				<td width="15"></td>
				<td width="150">Descripci&oacute;n Producto</td>
				<td width="15"></td>
				<td width="150">Agente</td>
				<td width="20">&nbsp;</td>
				<td colspan="5">Fecha de cotizaci&oacute;n</td>
				<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td></td>
				<td width="10">&nbsp;&nbsp;&nbsp;</td>
				<td ></td>
				<td width="10">&nbsp;&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="70"><input type="text" name="busqueda_folio" style="width:70px;"></td>
				<td width="5">&nbsp;</td>
				<td id="td_tipo">
					<select name="busqueda_select_tipo" style="width:90px;">
						<option value="0" selected="yes">[-Todos-]</option>
						<option value="1">Cliente</option>
						<option value="2">Prospecto</option>
					</select>
				</td>
				<td width="5">&nbsp;</td>
				<td width="180"><input type="text" name="busqueda_cliente" style="width:180px;"></td>
				<td width="15"></td>
				<td width="100"><input type="text" name="busqueda_codigo" style="width:100px;"></td>
				<td width="15"></td>
				<td width="150"><input type="text" name="busqueda_producto" style="width:150px;"></td>
				<td width="15"></td>
				<td id="td_agente">
					<select name="busqueda_select_agente" style="width:150px;">
						<option value="0" selected="yes">[-Seleccionar Agente-]</option>
					</select>
				</td>
				<td width="20">&nbsp;</td>
				<td width="25"><IMG SRC="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="75"><input type="text" name="busqueda_fecha_inicial" style="width:75px;" readOnly="true"></td>
				<td width="5">al</td>
				<td width="25"><IMG SRC="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="75"><input type="text" name="busqueda_fecha_final" style="width:75px;" readOnly="true"></td>
				<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><input type="button" value="Buscar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ><input type="button" value="Limpiar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>
		
        <!--  otra parte -->
        <table class="acciones">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>


        <!--form for cotizaciones -->
        <form id="formaCotizacions00" action="edit.json" method="POST" >
        <!--clase la quite por causar problemas      tabulador -->
                <div id="div_one" class="panelcito_modal cotizacions_div_one"  style="display:none;" title="">
                <input type="hidden" name="id_cotizacion">
                <input type="hidden" name="total_tr">
                <input type="hidden" name="precio_ingresado" value="0">
                    <div id="div_two" title="" class="cotizacions_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" id="titulo_plugin" style="width:1173px; padding-left:6px;"><strong>Cotizaciones</strong></div>
                            <div class="fixed column" style="width:20px; height:25px;">
                                <div id="close" style="height:25px;background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div id="div_three" title="" class="cotizacions_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>Cotizaci&oacute;n</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >
                                    <div id="tabx-1" class="contenidoPes" >
                                        <table border="0" style="margin:0; padding:0;">
                                                <tr>
                                                    <td width="520"></td>
                                                    <td width="10"></td>
                                                    <td width="90"></td>
                                                    <td width="260"></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" width="740" height="70" id="td1"> 
                                                        <table border="0" class="gral">
                                                            <!--<tr><td colspan="5" height="5"></td></tr>-->
                                                            <tr id="tr_tipo">
                                                                <td width="10"></td>
                                                                <td width="80">Dirigido a</td>
                                                                <td width="80">
                                                                    <select name="select_tipo_cotizacion" style="width:80px;">
																		<option value="1">Cliente</option>
																		<option value="2">Prospecto</option>
                                                                    </select>
                                                                </td>
                                                                <td width="20"></td>
                                                                <td width="60"></td>
                                                                <td width="60"></td>
                                                                <td width="60"></td>
                                                                <td width="70"></td>
                                                                <td width="80"></td>
                                                            </tr>
                                                            
                                                            <tr><td colspan="9" height="5"></td></tr>
                                                            
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">No.&nbsp;Control</td>
                                                                <td width="80">
                                                                    <input type="text" name="nocontrolcliente" style="width:80px;">
                                                                    <input type="hidden" name="id_cliente" value="">
                                                                    <input type="hidden" name="rfccliente" style="width:100px;">
                                                                    <input type="hidden" name="num_lista_precio" value="0">
                                                                </td>
                                                                <td width="20"><div class="interrogacion"><img src="../../img/help-16x16.png" align="top" rel="warning_rfccliente"></div></td>
                                                                <td width="60"><a href="busca_cliente">(Buscar)</a></td>
                                                                <td width="60" align="right">Folio&nbsp;</td>
                                                                <td width="60"><input type="text" name="folio" style="width:60px;" readOnly="true"></td>
                                                                <td width="70" align="right"><span id="etiqueta_accion">Acci&oacute;n&nbsp;</span></td>
                                                                <td width="80">
                                                                    <select name="select_accion" style="width:80px;"></select>
                                                                </td>
                                                            </tr>
                                                            <tr><td colspan="9" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">Razon&nbsp;social</td>
                                                                <td colspan="7" width="430"><input type="text" name="razoncliente" style="width:430px;"></td>
                                                            </tr>
                                                            <tr><td colspan="9" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">Direcci&oacute;n</td>
                                                                <td colspan="7" width="430"><input type="text" name="dircliente" style="width:430px;" readOnly="true"></td>
                                                            </tr>
                                                            <tr><td colspan="9" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">Contacto</td>
                                                                <td colspan="7" width="430"><input type="text" name="contactocliente" style="width:430px;" readOnly="true"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td width="10"></td>
                                                    <!--<td width="60"></td>-->
													
                                                    <td width="460" colspan="2" rowspan="2" height="70" valign="top" id="td2">
                                                        <table border="0" class="gral">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="330" colspan="5">Observaciones</td>
                                                                <td width="10"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="330"  colspan="5"><textarea name="observaciones" rows="4" cols="15" style="width:330px; resize:none;"></textarea></td>
                                                                <td width="10"></td>
                                                            </tr>
                                                            <tr><td colspan="5" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="165" colspan="2">Incluir&nbsp;imagen&nbsp;y&nbsp;descripci&oacute;n&nbsp;larga</td>
                                                                <td width="45"><input type="checkbox" name="check_descripcion_larga" ></td>
                                                                <td width="100">Incluir&nbsp;IVA&nbsp;y&nbsp;totales</td>
                                                                <td width="20"><input type="checkbox" name="check_incluye_iva" ></td>
                                                                <td width="10"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="10" height="10"></td>
                                                                <td width="70"></td>
                                                                <td width="95"></td>
                                                                <td width="45"></td>
                                                                <td width="100"></td>
                                                                <td width="20"></td>
                                                                <td width="10"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="10">&nbsp;</td>
                                                                <td width="70" >Incoterms</td>
                                                                <td width="260" colspan="4">
																	<!--<select  multiple="multiple" style="width: 260px; height:58px;"></select>-->
																	
																	<select name="select_incoterms" multiple="multiple" title="Incoterms" size="5"  style="width:260px;">
																		<!--
																		<option value="1">Option 1</option>
																		<option value="2">Option 2</option>
																		<option value="3">Option 3</option>
																		<option value="4">Option 4</option>
																		<option value="5">Option 5</option>
																		<option value="6">Option 6</option>
																		<option value="7">Option 7</option>
																		<option value="8">Option 8</option>
																		<option value="9">Option 9</option>
																		<option value="10">Option 10</option>
																		<option value="11">Option 11</option>
																		<option value="12">Option 12</option>
																		-->
																	</select>
                                                                </td>
                                                                <!--
                                                                <td width="45"></td>
                                                                <td width="100"></td>
                                                                <td width="20"></td>
                                                                -->
                                                                <td width="10"></td>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td width="10" height="10"></td>
                                                                <td width="70"></td>
                                                                <td width="95"></td>
                                                                <td width="45"></td>
                                                                <td width="100"></td>
                                                                <td width="20"></td>
                                                                <td width="10"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="10" height="17"></td>
                                                                <td width="70">TC&nbsp;USD</td>
                                                                <td width="95">
																	<input type="text" name="tc_usd" value="0.0000" style="width:60px;" maxlength="8">
																	<input type="hidden" name="tc_usd_sat" value="0.0000">
                                                                </td>
                                                                <td width="45"></td>
                                                                <td width="130" colspan="3" align="right">
																	<input type="button" id="btn_autorizar" value="Autorizar" style="font-weight:bold; width:110px;">
                                                                </td>
                                                                <!--
                                                                <td width="20"></td>
                                                                <td width="10"></td>
                                                                -->
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>
														<table border="0" class="gral">
															
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="70">Agente</td>
                                                                <td width="80" colspan="4"><select name="select_agente" style="width:230px;"></select></td>
                                                                <!--
                                                                <td width="30"></td>
                                                                <td width="60">Tipo&nbsp;Cambio</td>
                                                                <td width="60"></td>
                                                                -->
                                                                <td width="25"><div class="interrogacion"><img src="../../img/help-16x16.png" align="top" rel="warning_agente"></div></td>
                                                                <td width="35">Vigencia&nbsp;</td>
                                                                <td width="30"><input type="text" name="vigencia" value="0" maxlength="5" style="width:30px;"></td>
                                                                <td width="40">d&iacute;as</td>
                                                                <td width="25"></td>
                                                            </tr>
															
                                                            <tr>
                                                                <td width="10" height="8"></td>
                                                                <td width="70"></td>
                                                                <td width="80"></td>
                                                                <td width="30"></td>
                                                                <td width="60"></td>
                                                                <td width="60"></td>
                                                                <td width="25"></td>
                                                                <td width="35"></td>
                                                                <td width="70" colspan="2"></td>
                                                                <td width="25"></td>
                                                            </tr>
															
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="70">Moneda</td>
                                                                <td width="80">
                                                                    <select name="moneda" style="width:80px;"></select>
                                                                    <select name="moneda2" style="width:80px;"></select>
                                                                    <input type="hidden" name="id_impuesto" value="0">
                                                                    <input type="hidden" name="valorimpuesto" value="0">
                                                                </td>
                                                                <td width="30"></td>
                                                                <td width="60">Tipo&nbsp;Cambio</td>
                                                                <td width="60">
																	<input type="text" name="tc" value="0.0000" style="width:60px;" maxlength="8">
																</td>
                                                                <td width="25"><div class="interrogacion"><img src="../../img/help-16x16.png" align="top" rel="warning_tc"></div></td>
                                                                
                                                                <td width="35">Fecha&nbsp;</td>
                                                                <td width="70" colspan="2"><input type="text" name="fecha" style="width:70px;" readOnly="true"></td>
                                                                <td width="25"><div class="interrogacion"><img src="../../img/help-16x16.png" align="top" rel="warning_fecha"></div></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td width="10"></td>
                                                    <!--
                                                    <td width="90"></td>
                                                    <td width="260"></td>
                                                    -->
                                                </tr>
                                                
                                                
                                                <tr>
                                                    <td colspan="4">
                                                        <table border="0" class="gral">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">C&oacute;digo&nbsp;producto</td>
                                                                <td width="125"><input type="text" name="sku_producto" style="width:120px;"></td>
                                                                <td width="70"><a  href="agregar_producto">&nbsp;(Agregar)</a></td>
                                                                <td width="45">Nombre</td>
                                                                <td width="335"><input type="text" name="nombre_producto" style="width:335px;"></td>
                                                                <td width="60"><a  href="busca_sku">&nbsp;(Buscar)</a></td>
                                                                <td width="20"></td>
                                                                <td width="90"></td>
                                                                <td width="20"></td>
                                                                <td width="20"></td>
                                                                <td width="110" align="right"><input type="button" id="genera_pdf" value="Generar PDF" style="font-weight: bold;width:110px;"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
												
                                                <tr class="registros">
                                                    <td colspan="4" class="header_grid" style="border-top: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF;">
														
														<table class="tabla_header_grid">
															<thead>
																<tr>
																	<td class="grid" id="td_eliminar" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="25"><div class="delete">&nbsp;#</div></td>
																	<td class="grid" id="td_sku" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="102">&nbsp;C&oacute;digo</td>
																	<td class="grid" id="td_nombre" style="background-color: rgb(180, 180, 180);"  width="182">&nbsp;Nombre</td>
																	<td class="grid" id="td_imagen" style="background-color: rgb(180, 180, 180);" width="100">&nbsp;Imagen</td>
																	<td class="grid" id="td_descripcion" style="background-color: rgb(180, 180, 180);"  width="220">&nbsp;Descripci&oacute;n</td>
																	<td class="grid" style="background-color:rgb(180,180,180);" width="90">&nbsp;Unidad</td>
																	<td class="grid" style="background-color:rgb(180,180,180);" width="100">&nbsp;Presentaci&oacute;n</td>
																	<td class="grid" style="background-color:rgb(180,180,180);" width="70">&nbsp;Cantidad</td>
																	<td class="grid" style="background-color:rgb(180,180,180);" width="80">&nbsp;Precio&nbsp;U.</td>
																	<td class="grid" style="background-color:rgb(180,180,180);" width="50">&nbsp;Moneda</td>
																	<td class="grid" style="background-color:rgb(180,180,180);" width="70">&nbsp;Importe</td>
																	<td class="grid" style="background-color:rgb(180,180,180);" width="40">Aut.</td>
																</tr>
															</thead>
														</table>
														<div class="contenedor_grid" style="overflow:scroll; overflow-x:hidden; overflow-y:auto; width:1180px; height:135px; border:1px solid #C1DAD7 !important;">	
															<table class="tabla_facturas">
																<tbody style="background-color: #FFFFFF;" valign="top" id="grid_productos">


																</tbody>
															</table>
														</div>
                                                        
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td colspan="3" width="620"  align="left" valign="top">

                                                        <div id="div_warning_grid" style="display:none;">

                                                            <table border ="0">
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td width="600" colspan="4"><div style="color:#d41000;">&nbsp;&nbsp;Datos no validos</div></td>
                                                                    <td width="10"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td width="20" style="background-color:#A8A9AB; font-weight: bold;"></td>
                                                                    <td width="120" style="background-color:#A8A9AB; font-weight: bold;">SKU</td>
                                                                    <td width="200" style="background-color:#A8A9AB; font-weight: bold;">Nombre</td>
                                                                    <td width="250" style="background-color:#A8A9AB; font-weight: bold;">Descripci&oacute;n del error</td>
                                                                    <td width="10"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td colspan="5"> 
                                                                        <div align="left" style="width:600px; height:60px; overflow:scroll; overflow-x: auto; overflow-y: auto; color:#d41000;">
                                                                            <table id="grid_warning" border="0" style="width:575px;"">
                                                                                <!-- Aqui se muestran los warning
                                                                                style="background-color:#e7e8ea;"
                                                                                -->
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>

                                                    </td>
                                                    <td  width="260" align="right" valign="top" style="font-weight: bold;">
														
                                                        <table border ="0" width="260" id="tabla_totales">
                                                            <tr>
                                                                <td width="80"></td>
                                                                <td width="60">Subtotal</td>
                                                                <td width="120"><input type="text" name="subtotal" value="0" style="width:120px; text-align:right;" readOnly="true"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="80"></td>
                                                                <td width="60">I.V.A.</td>
                                                                <td width="120"><input type="text" name="impuesto" value="0" style="width:120px; text-align:right;" readOnly="true"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="80"></td>
                                                                <td width="60">Total</td>
                                                                <td width="120"><input type="text" name="total" value="0" style="width:120px; text-align:right;" readOnly="true"></td>
                                                            </tr>
                                                        </table>
                                                        
                                                    </td>
                                                </tr>

                                        </table>


                                    </div>

                                </div>
                            </div>


                            <div class="fixed column" id="div_botones" style="width:1190px; background:; text-align:right; padding-left:; position:absolute;margin-top:4px;">
                                <!--
                                <input type="image" src="../../img/modalbox/btn1.png" id="submit"/>
                                <div id="boton_cancelar" style="width:95px; height:34px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div>
                                -->
                                <table border="0" class="tabla_botones">
									<tr>
										<td width="1090" class="td_left"></td>
										<td>
												<input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>
										</td>
										<td width="30"></td>
										<td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
									</tr>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
        </form>
        
        
        
		<form id="formaauthorize" action="edit.json" method="POST" >
		<div id="div_one" class="panelcito_modal authorize_div_one"  style="display:none;" title="">
			<div id="div_two" title="" class="authorize_div_two"><div class="fixed column" style="width:290px; padding-left:6px;"><strong>Autorizaci&oacute;n de precios</strong></div></div>
			<div id="div_three" title="" class="authorize_div_three">
				<div class="columns" style="background:#731F6C;">
					<div class="container" style="background:white;">
						<div class="fixed column" class="content_x" >
							<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
								<tr><td colspan="3" height="10"></td></tr>
								<tr><td width="5"></td><td width="100">Usuario</td><td width="120"><input name="idauth" type="text" style="width:120px;"></td></tr>
								<tr><td width="5"></td><td width="100" height="10"></td><td width="120"></td></tr>
								<tr><td width="5"></td><td width="100">Password</td><td width="120"><input name="passauth" type="password" style="width:120px;"></td></tr>
								<tr><td width="5"></td><td width="100" height="10"></td><td width="120"></td></tr>
								<tr>
									<td width="5"></td>
									<td width="100" align="right"><input type="button" id="boton_cancelar_validacion" value="Cancelar" style="width:80px; font-weight:bold;"></td>
									<td width="120"><center><input type="button" id="boton_aceptar_validacion" value="Aceptar" style="width:80px; font-weight:bold;"></center></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		</form>
        
        
        
        
        
        
        #include("${layoutfooter}")
        
        
    </body>
</html>	











<div class="buscador_clientes" style="display:none;">	
	<table width="100%" border="0" class="formaBusqueda_clientes">
		<tr>
			<td>
				<div class="div_dos_clientes">
					<table width="100%" border="0">
						<thead>
							<tr>
								<td colspan="8" height="50" valign="top"><div class="titulo_clientes" width="100%"><strong>Buscador de Clientes</strong></div></td>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff;"></td>
								<td colspan="3" style="background:#ffffff;" width="600">
									
									<table id="tabla_busqueda" border="0"  class="contenidobusqueda" style="font-size:13px;">
										<tr>
											<td colspan="7" width="600" height="10"></td>
										</tr>
										<tr>
											<td width="50">Buscar</td>
											<td width="245"><input type="text" name="cadena_buscar" style="width:245px;"></td>
											<td width="25"></td>
											<td width="60">Filtro por</td>
											<td width="150"><SELECT NAME="filtropor" style="width:150px;"></SELECT></td>
											<td width="70" align="right">
												<input type="button" id="busca_cliente_modalbox" class="onmouseOutBuscar">
											</td>
										</tr>
										
									</table>
									
								</td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>

							<tr style="font-size:13px;">
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								
								<td width="80"  style="background:#A8A9AB;">No. control</td>
								<td width="140"  style="background:#A8A9AB;">RFC</td>
								<td width="380"  style="background:#A8A9AB;">Razon social</td>
								
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							
							
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								<td style="background:#ffffff; border: solid 1px #313E74;" colspan="3" width="600">
									<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
										<table  border="0" id="tabla_resultado" width="580">
											<!--aqui van los resultados de la busqueda-->
											<!--
												<tr>
													<td width="80">No. control</td>
													<td width="145">RFC</td>
													<td width="375">Razon social</td>
												</tr>
											-->
										</table>
									</div>
								</td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" colspan="5" height="3" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								
								<td width="80" style="background:#ffffff"></td>
								<td width="140" style="background:#ffffff"></td>
								<td width="380" style="background:#ffffff" align="right">
									<input type="button" id="cencela" class="onmouseOutCancelar">
								</td>
								
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" colspan="5" height="6" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
						</tbody>
						
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>




<div class="buscador_productos" style="display:none;">	
	<table width="100%" border="0" class="formaBusqueda_productos">
		<tr>
			<td>
				<div class="div_dos_productos">
					<table width="100%" border="0">
						<thead>
							<tr>
								<td colspan="8" height="50" valign="top"><div class="titulo_productos" width="100%"><strong>Buscador de productos</strong></div></td>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff;"></td>
								<td colspan="4" style="background:#ffffff;" width="600">
									
									<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
										<tr>
											<td colspan="7" width="600" height="10"></td>
										</tr>
										<tr>
											<td width="70">C&oacute;digo&nbsp;</td>
											<td width="120"><input type="text" name="campo_sku" style="width:120px;"></td>
											<td width="25"></td>
											<td width="90">Tipo&nbsp;de&nbsp;Producto</td>
											<td width="200">
												<SELECT NAME="tipo_producto" style="width:180px;">
													<OPTION value="0" selected="yes">[--Seleccionar Tipo--]</OPTION>
												</SELECT>
											</td>
											<td width="25"></td>
											<td width="90"></td>
										</tr>
										<tr>
											<td colspan="7" width="600" height="10"></td>
										</tr>
										<tr>
											<td width="70">Descripci&oacute;n</td>
											<td width="400" colspan="4"><input type="text" name="campo_descripcion" style="width:415px;"></td>
											<td width="25"></td>
											<td width="90" align="right">
												<input type="button" id="busca_producto_modalbox" class="onmouseOutBuscar">
											</td>
										</tr>
									</table>
									
								</td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr style="font-size:13px;">
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								
								<td width="120" style="background:#A8A9AB;">C&oacute;digo&nbsp;</td>
								<td width="280" style="background:#A8A9AB;">Nombre</td>
								<td width="90" style="background:#A8A9AB;">Unidad</td>
								<td width="110" style="background:#A8A9AB;">Tipo</td>
								
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								<td style="background:#ffffff; border: solid 1px #313E74;" colspan="4" width="600">
									<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
										<table  border="0" id="tabla_resultado" width="580">
											<!--aqui van los resultados de la busqueda-->
											<!--
												<tr>
													<td width="70">Lote</td>
													<td width="140">Sku</td>
													<td width="300">Nombre</td>
													<td width="70">Disponible</td>
												</tr>
											-->
										</table>
									</div>
								</td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" colspan="6" height="4" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								
								<td width="120"  style="background:#ffffff"></td>
								<td width="280" style="background:#ffffff"></td>
								<td width="90" style="background:#ffffff"></td>
								<td width="110" style="background:#ffffff" align="right">
									<input type="button" id="cencela" class="onmouseOutCancelar">
								</td>
								
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" colspan="6" height="6" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
						</tbody>
						
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>




<div class="buscador_presentaciones" style="display:none;">
	<table width="100%" border="0" class="formaBusqueda_presentaciones">
		<tr>
			<td>
				<div class="div_dos_presentaciones">
					<table width="100%" border="0">
						<thead>
							<tr>
								<td colspan="7" height="50" valign="top"><div class="titulo_presentaciones" width="100%"><strong>Presentaciones disponibles</strong></div></td>
							</tr>
						</thead>
						<tbody>
							<tr style="font-size:13px;">
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								<td colspan="3" style="background:#ffffff">Lista de presentaciones disponibles para este producto</td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							
							<tr style="font-size:13px;">
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								<!--<td width="70"  style="background:#A8A9AB;">Lote</td>-->
								<td width="100"  style="background:#A8A9AB;">Sku</td>
								<td width="250"  style="background:#A8A9AB;">Nombre</td>
								<td width="80"  style="background:#A8A9AB;">Presentacion</td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								<td style="background:#ffffff; border: solid 1px #313E74;" colspan="3" width="500">
									<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:500px; height:120px; align=top;">
										<table  border="0" id="tabla_resultado" width="100%" >
											<!--aqui van los resultados de la busqueda-->
										</table>
									</div>
								</td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" colspan="5" height="6" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								<!--<td width="70"  style="background:#ffffff"></td>-->
								<td width="100" style="background:#ffffff"></td>
								<td width="250" style="background:#ffffff"></td>
								<td width="80" style="background:#ffffff" align="right"><a href="cencela" style="font-size:13px;">Cancelar</a></td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" colspan="5" height="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
	</table>	
</div>
