<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
        
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/prefacturas/formaPrefactura.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/prefacturas/formaBuscaclientes.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/prefacturas/formaBuscaRemisiones.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/prefacturas/formaDatosAdenda.css" type="text/css" />
        
        <link rel="stylesheet" href="../../css/modalbox/prefacturas/formaBuscaproducto.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/prefacturas/formaGeneraInforme.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/prefacturas/formaCancelaEmision.css" type="text/css" />
        
        
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
		<script type="text/javascript" src="../../js/components/formatearnumeros/agrega_comas.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/prefacturas/modalboxPrefacturas.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/prefacturas/modalboxBuscacliente.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/prefacturas/modalboxBuscaRemisiones.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/prefacturas/modalboxDatosAdenda.js"></script>
        
        <script type="text/javascript" src="../../js/components/modalbox/prefacturas/modalboxBuscaproducto.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/prefacturas/modalboxGeneraInforme.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/prefacturas/modalboxCancelaEmision.js"></script>
        <script type="text/javascript" src="../../js/implements/prefacturas/index.js" ></script>
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        <!--Esta tabla va  en la barra de acciones -->
		<table class="table_acciones" style="display:none" border="0">
			<tr>
				<td width="15" height="30"></td>
				<td height="30"><a href="new_item" class="tooltip"><div class="onmouseOutNewItem" id="nItem"></div><span>Facturar Remisi&oacute;n</span></a></td>
				<td width="15" height="30"></td>
				<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a> </td>
			</tr>
		</table>
        
        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
				<td colspan="21">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="70">Folio&nbsp;Pedido</td>
				<td width="15"></td>
				
				<td width="200">Cliente</td>
				<td width="15"></td>
				<td width="100">C&oacute;digo Producto</td>
				<td width="15"></td>
				<td width="150">Nombre Producto</td>
				<td width="15"></td>
				<td width="150">Agente</td>
				<td width="20">&nbsp;</td>
				<td width="25"></td>
				<td colspan="3">Fecha de creaci&oacute;n</td>
				<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td></td>
				<td width="25"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;</td>
				<td ></td>
				<td width="10">&nbsp;&nbsp;&nbsp;</td>
			</tr>
			
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="70"><input type="text" name="busqueda_folio_pedido" style="width:70px;"></td>
				<td width="15"></td>
				<td width="200"><input type="text" name="busqueda_cliente" style="width:200px;"></td>
				<td width="15"></td>
				<td width="100"><input type="text" name="busqueda_codigo" style="width:100px;"></td>
				<td width="15"></td>
				<td width="150"><input type="text" name="busqueda_producto" style="width:150px;"></td>
				<td width="15"></td>
				<td id="td_agente">
					<select name="busqueda_select_agente" style="width:150px;">
						<option value="0" selected="yes">[-Seleccionar Agente-]</option>
					</select>
				</td>
				<td width="20">&nbsp;</td>
				<td width="25"><img src="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="70"><input type="text" name="busqueda_fecha_inicial" style="width:70px;" readOnly="true"></td>
				<td width="10"></td>
				<td width="25"><img src="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="70"><input type="text" name="busqueda_fecha_final" style="width:70px;" readOnly="true"></td>
				<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><input type="button" id="boton_buscador" class="onmouseOutBuscar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ><input type="button" id="boton_limpiar" class="onmouseOutLimpiar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>
        
        
        
        <!--  otra parte -->
        <table class="acciones" >
			<!--
            <tr>
                <td height="25px"></td>
                <td></td>
            </tr>
            -->
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>
		
		
		
		
		
		
		
        <!--form for prefacturas -->
        <form id="formaPrefacturas00" action="edit.json" method="POST" >
        <!--clase la quite por causar problemas      tabulador -->
                <div id="div_one" class="panelcito_modal prefacturas_div_one"  style="display:none;" title="">
                <input type="hidden" name="id_prefactura" value="0"><!--este es el mismo id de la prefactura-->
                <input type="hidden" name="refacturar">
                <input type="hidden" name="accion">
                <input type="hidden" name="total_tr">
                <input type="hidden" name="empresa_immex">
                <input type="hidden" name="tasa_ret_immex">
				<input type="hidden" name="cta_mn">
                <input type="hidden" name="cta_usd">
					
                    <div id="div_two" title="" class="prefacturas_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" style="width:1153px; padding-left:6px;"><strong>Facturaci&oacute;n</strong></div>
                            <div class="fixed column" style="width:20px; height:25px;">
                                <div id="close" style="height:25px; background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div id="div_three" title="" class="prefacturas_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>Facturaci&oacute;n</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >
									
                                    <div id="tabx-1" class="contenidoPes" >
										
                                        <table border="0" style="margin:0; padding:0;">
											<tr>
												<td width="125"></td>
												<td width="525"></td>
												<td width="10"></td>
												<td width="170"></td>
												<td width="340"></td>
											</tr>
											<tr>
												<td valign="top" colspan="2" width="650"  > 
													<table border="0" class="gral">
														
														<tr>
															<td width="10"></td>
															<td width="80">Tipo&nbsp;Documento</td>
															<td width="120">
																<select name="select_tipo_documento" style="width:120px;" title="Seleccionar el tipo de documento: Factura o Remision."></select>
															</td>
															<td width="15"></td>
															<td width="90" align="right"></td>
															<td width="35"></td>
															<td width="85">Folio&nbsp;del&nbsp;Pedido&nbsp;</td>
															<td width="120"><input type="text" name="folio_pedido" style="width:120px;" readOnly="true"></td>
															<td width="15"></td>
														</tr>
														<tr><td colspan="9" height="5"></td></tr>
														<tr>
															<td width="10"></td>
															<td width="80">No.&nbsp;de&nbsp;Cliente</td>
															<td width="120">
																<input type="hidden" name="id_cliente" value="0">
																<input type="hidden" name="id_df" value="1">
																<input type="text" name="nocliente" style="width:120px;">
																<input type="hidden" name="pdescto" value="">
															</td>
															<td width="15"><div class="interrogacion"><img src="../../img/help-16x16.png" ALIGN="top" rel="warning_rfccliente"></div></td>
															<td width="90"><a href="busca_cliente">(Buscar&nbsp;cliente)</a></td>
															<td width="35"></td>
															<td width="85">RFC&nbsp;del&nbsp;Cliente</td>
															<td width="120"><input type="text" name="rfc" style="width:120px;" readOnly="true"></td>
															<td width="15"><div class="interrogacion"><img src="../../img/help-16x16.png" ALIGN="top" rel="warning_rfc"></div></td>
														</tr>
														
														<tr><td colspan="9" height="5"></td></tr>
														<tr>
															<td width="10"></td>
															<td width="80">Razon&nbsp;Social</td>
															<td colspan="6" width="465"><input type="text" name="razoncliente" style="width:465px;"></td>
															<td width="15"></td>
														</tr>
														<tr><td colspan="10" height="5"></td></tr>
														<tr>
															<td width="10"></td>
															<td width="80">Direcci&oacute;n</td>
															<td colspan="6" width="465"><input type="text" name="dircliente" style="width:465px;" readOnly="true"></td>
															<td width="15"></td>
														</tr>
														</tr>
													</table>
													
												</td>
												
												
												<td width="10"></td>
												<!--<td width="60"></td>-->
												
												<!--<td width="350" colspan="2" valign="top" style="border: solid 1px #454442;">-->
												<td width="510" colspan="2" valign="top">
													<table border="0">
														<tr>
															<td width="10"></td>
															<td width="330">Observaciones</td>
															<td width="10"></td>
														</tr>
														<tr>
															<td width="10"></td>
															<td width="430">
																<textarea name="observaciones" rows="4" cols="60" style="width:430px; resize: none;"></textarea>
																<textarea name="observaciones_original" rows="2" cols="60" style="display:none;"></textarea>
															</td>
															<td width="10"></td>
														</tr>
														
													</table>
												</td>
											</tr>
											
											<tr>
												<td colspan="5">   
													<table border="0" class="gral">
														
														<tr>
															<td width="10" height="5"></td>
															<td width="70"></td>
															<td width="90"></td>
															<td width="10"></td>
															<td width="90"></td>
															<td width="10"></td>
															<td width="70"></td>
															<td width="30"></td>
															<td width="75"></td>
															<td></td>
															<td></td>
															<td width="30"></td>
															<td width="55"></td>
															<td width="35"></td>
															<td></td>
															<td width="75"></td>
															<td width="25"></td>
														</tr>
														
														
														<tr>
															<td width="10"></td>
															<td width="70">Moneda</td>
															<td width="90">
																<select name="moneda" style="width:90px;" title="Moneda de la factura"></select>
																<input type="hidden" name="moneda_original" value="0">
																<input type="hidden" name="id_impuesto" value="0">
																<input type="hidden" name="valorimpuesto" value="0">
															</td>
															<td width="10"></td>
															<td width="90" align="right">Tipo&nbsp;de&nbsp;cambio</td>
															<td width="10"></td>
															<td width="70">
																<input type="text" name="tipo_cambio" style="width:70px;">
																<input type="hidden" name="tipo_cambio_original">
															</td>
															<td width="30"><div class="interrogacion"><img src="../../img/help-16x16.png" ALIGN="top" rel="warning_tc"></div></td>
															
															<td width="75">Orden&nbsp;de&nbsp;compra</td>
															<td>&nbsp;&nbsp;</td>
															<td>
																<input type="text" name="orden_compra" style="width:75px;">
																<input type="hidden" name="orden_compra_original">
															</td>
															<td width="30"><div class="interrogacion"><img src="../../img/help-16x16.png" ALIGN="top" rel="warning_oc"></div></td>
															<td width="55">Vendedor</td>
															<td width="250" colspan="3">
																<select name="vendedor" style="width:250px"></select>
																<select name="vendedor_original" style="display:none"></select>
															</td>
															<td width="25"><div class="interrogacion"><img src="../../img/help-16x16.png" ALIGN="top" rel="warning_agente"></div></td>
														</tr>
														
														<tr><td colspan="17" height="5"></td></tr>
														
														<tr>
															<td width="10"></td>
															<td width="80">Forma&nbsp;de&nbsp;pago</td>
															<td width="190" colspan="3">
																<select name="select_metodo_pago" style="width:190px"></select>
																<select name="select_metodo_pago_original" style="display:none"></select>
															</td>
															<td width="10"></td>
															<td width="175" colspan="3">
																<input type="text" name="digit" value="Ingrese los ultimos&nbsp;4&nbsp;D&iacute;gitos&nbsp;de&nbsp;la Tarjeta" class="borde_oculto" readOnly="true" style="width:195px;">
															</td>
															<td>&nbsp;&nbsp;</td>
															<td>
																<input type="text" name="no_cuenta" style="width:75px;" maxlength="20" readOnly="true">
															</td>
															<td width="30"><div class="interrogacion"><img src="../../img/help-16x16.png" ALIGN="top" rel="warning_digitos"></div></td>
															<td width="90" colspan="2">T&eacute;rminos&nbsp;de&nbsp;pago</td>
															<td>&nbsp;&nbsp;</td>
															<td width="210">
																<select name="condiciones" style="width:210px" title="Terminos de pago"></select>
																<select name="condiciones_original" style="display:none"></select>
															</td>
															<td width="25"><div class="interrogacion"><img src="../../img/help-16x16.png" ALIGN="top" rel="warning_terminos"></div></td>
														</tr>
													</table>
												</td>
											</tr>
											
											<tr>
												<td colspan="5">
													
													<table border="0" class="gral">
														<tr>
															<td width="10"></td>
															<td width="80">Almacen</td>
															<td width="180"><select name="select_almacen" style="width:190px"></select></td>
															<td width="30"></td>
															<td width="95"><a href="agregar_remision">(Agregar&nbsp;Remisi&oacute;n)</a></td>
															
															<td class="tmov">&nbsp;&nbsp;&nbsp;&nbsp;Movimiento&nbsp;</td>
															<td width="180"><select name="select_tmov" style="width:180px"></select></td>
															<td width="25"><div class="interrogacion"><img src="../../img/help-16x16.png" ALIGN="top" rel="warning_tmov"></div></td>
															
															<td width="76"><span class="adenda">Incluye&nbsp;Adenda</span></td>
															<td width="20">
																<input type="checkbox" class="adenda" name="check_incluye_adenda">
																<!--Aqui agrego campos hidden para datos de la adenda-->
																<input type="hidden" name="campo1">
																<input type="hidden" name="campo2">
																<input type="hidden" name="campo3">
																<input type="hidden" name="campo4">
																<input type="hidden" name="campo5">
																<input type="hidden" name="campo6">
																<input type="hidden" name="campo7">
																<input type="hidden" name="campo8">
																
																<input type="hidden" name="warning_adenda">
															</td>
															<td width="80"><input type="button" class="adenda" id="agregarDatosAdenda" value="Agregar datos" style="width:80px;"></td>
															<td width="32"><div class="interrogacion"><img src="../../img/help-16x16.png" ALIGN="top" rel="warning_adenda1"></div></td>
															<td>&nbsp;&nbsp;</td>
															<td align="right">
																<input type="button" id="facturar" value="Facturar" style="width:90px; font-weight: bold;">
															</td>
														</tr>
													</table>
													
												</td>
											</tr>
											
											<tr class="registros">
												<td colspan="5" style="border-top: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF;">
													
													<table >
														<thead>
															<tr class="registros_pagos">
																<td class="grid" id="td_eliminar" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="61"><div class="titulo_delete">&nbsp;#</div><div id="titulo_remision">Remisi&oacute;n</div></td>
																<td class="grid" id="td_sku" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="116">&nbsp;C&oacute;digo&nbsp;Producto</td>
																<td class="grid" id="td_nombre" style="background-color: rgb(180, 180, 180);"  width="202">&nbsp;Descripci&oacute;n</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="90">&nbsp;Unidad</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="100">&nbsp;Presentaci&oacute;n</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="80">&nbsp;Cant.&nbsp;Pedido</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="80">&nbsp;Cant.&nbsp;Facturado</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="80">&nbsp;Cant.&nbsp;Pendiente</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="80">&nbsp;Precio&nbsp;unitario</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="90">&nbsp;Importe</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="50">&nbsp;%&nbsp;IEPS</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" width="80">&nbsp;Monto&nbsp;IEPS</td>
															</tr>
														</thead>
													</table>
													<div style="overflow:scroll; overflow-x: hidden; overflow-y: auto;  width:1168px; height: 115px; border:1px solid #C1DAD7 !important;">	
														<table class="tabla_facturas">
															<tbody style="background-color: #FFFFFF;" valign="top" id="grid_productos">
																
															</tbody>
														</table>
													</div>
													
												</td>
											</tr>
											
											
											<tr valign="top" class="gral">
												<td width="125"><input type="text" name="etiqueta_motivo_descto" value="Motivo&nbsp;del&nbsp;Descuento" class="borde_oculto" style="width:120px;"></td>
												<td width="525"><input type="text" name="motivo_descuento" style="width:500px;" readOnly="true"></td>
												<td width="10"></td>
												<td width="170"></td>
												<td width="340" rowspan="2" align="right" valign="top" style="font-weight:bold;">
													<table border ="0" width="300">
														
														<tr id="tr_importe_subtotal">
															<td width="80"></td>
															<td width="60">Importe</td>
															<td width="120"><input type="text" name="importe_subtotal" value="0" style="width:120px; text-align:right;" readOnly="true"></td>
														</tr>
														
														<tr id="tr_descto">
															<td width="80"></td>
															<td width="60">Descuento</td>
															<td width="120"><input type="text" name="monto_descuento" value="0" style="width:120px; text-align:right;" readOnly="true"></td>
														</tr>
														
														<tr>
															<td width="80"></td>
															<td width="60">Subtotal</td>
															<td width="120"><input type="text" name="subtotal" value="0" style="width:120px; text-align:right;" readOnly="true"></td>
														</tr>
														<tr id="tr_ieps">
															<td width="80"></td>
															<td width="60">IEPS</td>
															<td width="120"><input type="text" name="ieps" value="0" style="width:120px; text-align:right;" readOnly="true"></td>
														</tr>
														<tr>
															<td width="80"></td>
															<td width="60">IVA</td>
															<td width="120"><input type="text" name="impuesto" value="0" style="width:120px; text-align:right;" readOnly="true"></td>
														</tr>
														<tr id="tr_retencion">
															<td width="80"></td>
															<td width="60">Retenci&oacute;n</td>
															<td width="120"><input type="text" name="impuesto_retenido" value="0" style="width:120px; text-align:right;" readOnly="true"></td>
														</tr>
														<tr>
															<td width="80"></td>
															<td width="60">Total</td>
															<td width="120"><input type="text" name="total" value="0" style="width:120px; text-align:right;" readOnly="true"></td>
														</tr>
													</table>
												</td>
											</tr>
											
											
											<tr>
												<td colspan="4" width="830"  align="left" valign="top">
													<div id="div_warning_grid" style="display:none;">
														<table border ="0">
															<tr>
																<td width="10"></td>
																<td width="600" colspan="4"><div style="color:#d41000;">&nbsp;&nbsp;Datos&nbsp;no&nbsp;validos</div></td>
																<td width="10"></td>
															</tr>
															<tr>
																<td width="10"></td>
																<td width="20" style="background-color:#A8A9AB; font-weight: bold;"></td>
																<td width="120" style="background-color:#A8A9AB; font-weight: bold;">C&oacute;digo&nbsp;producto</td>
																<td width="200" style="background-color:#A8A9AB; font-weight: bold;">Nombre</td>
																<td width="250" style="background-color:#A8A9AB; font-weight: bold;">Descripci&oacute;n&nbsp;del&nbsp;error</td>
																<td width="10"></td>
															</tr>
															<tr>
																<td width="10"></td>
																<td colspan="5"> 
																	<div align="left" style="width:600px; height:68px; overflow:scroll; overflow-x: auto; overflow-y: auto; color:#d41000;">
																		<table id="grid_warning" border="0" style="width:575px;"">
																			<!-- Aqui se muestran los warning
																			style="background-color:#e7e8ea;"
																			-->
																		</table>
																	</div>
																</td>
															</tr>
														</table>
													</div>
												</td>
												<!--
												<td  width="340" align="right" valign="top" style="font-weight:bold;">

												</td>
												-->
											</tr>
                                        </table>
                                    </div>
									
                                </div>
                            </div>


                            <div class="fixed column" style="width:1166px; background:; text-align:right; padding-left:; position:absolute; margin-top:4px;">
								<table border="0">
									<tr>
										<td width="1066"></td>
										<td>
											<!--<input  id="submit" style="width:77px; height:24px; background-image:url('../../img/modalbox/btn1.png'); background-repeat:no-repeat;">-->
											<input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>
										</td>
										<td width="30"></td>
										<td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
									</tr>
								</table>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
        </form>
        
        
        
        #include("${layoutfooter}")
        
        
        
        
        
        
        


		<form id="formaGeneraInforme" action="edit.json" method="POST" >
		<div id="div_one" class="panelcito_modal generainforme_div_one"  style="display:none;" title="">
			<div id="div_two" title="" class="generainforme_div_two">
					<div class="fixed column" style="width:290px; padding-left:6px;"><strong>Generador de informes</strong></div>
			</div>
			<div id="div_three" title="" class="generainforme_div_three">
				<div class="columns" style="background:#731F6C;">
					<div class="container" style="background:white;">
						<div class="fixed column" class="content_x" >
							

							<table width="100%" border="0">
									<tr>
										<td width="290" style="background:#ffffff;">
											<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
												<tr>
													<td colspan="6" width="290" height="10"></td>
												</tr>
												<tr>
													<td width="50" align="right">Mes&nbsp;</td>
													<td width="70"><select name="select_mes" style="width:70px;"></select></td>
													<td width="30"></td>
													<td width="60" align="right">A&ntilde;o&nbsp;</td>
													<td width="70">
														<select name="select_anio" style="width:70px;"></select></td>
													<td width="10"></td>
												</tr>
											</table>
										</td>
									</tr>
									
									<tr>
										<td width="290" height="12" style="background:#ffffff"></td>
									</tr>
									
									<tr>
										<td width="290" style="background:#ffffff;">
											<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
												<tr>
													<td width="50"></td>
													<td width="115" align="center"><a href="generar" style="font-size:13px;">Generar informe</a></td>
													<td width="115" align="center"><a href="cancelar" style="font-size:13px;">Cancelar</a></td>
													<td width="10"></td>
												</tr>
											</table>
										</td>
									</tr>
								
							</table>


						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		</form>








		<div class="buscador_clientes" style="display:none;">	
			<table width="100%" border="0" class="formaBusqueda_clientes">
				<tr>
					<td>
						<div class="div_dos_clientes">
							<table width="100%" border="0">
								<thead>
									<tr>
										<td colspan="8" height="50" valign="top"><div class="titulo_clientes" width="100%"><strong>Buscador de clientes</strong></div></td>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff;"></td>
										<td colspan="3" style="background:#ffffff;" width="600">
											
											<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
												<tr>
													<td colspan="7" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="50">Buscar</td>
													<td width="245"><input type="text" name="cadena_buscar" style="width:245px;"></td>
													<td width="25"></td>
													<td width="60">Filtro por</td>
													<td width="150"><select name="filtropor" style="width:150px;"></select></td>
													<td width="70" align="right">
														<!--<a href="busca_cliente_modalbox" style="font-size:13px;">Buscar</a>-->
														<input type="button" id="busca_cliente_modalbox" class="onmouseOutBuscar">
													</td>
												</tr>
												
											</table>
											
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>

									<tr style="font-size:13px;">
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="80"  style="background:#A8A9AB;">No. control</td>
										<td width="140"  style="background:#A8A9AB;">RFC</td>
										<td width="380"  style="background:#A8A9AB;">Razon social</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td style="background:#ffffff; border: solid 1px #454442;" colspan="3" width="600">
											<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
												<table  border="0" id="tabla_resultado" width="580">
													<!--aqui van los resultados de la busqueda-->
													<!--
														<tr>
															<td width="80">No. control</td>
															<td width="145">RFC</td>
															<td width="375">Razon social</td>
														</tr>
													-->
												</table>
											</div>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="5" height="3" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="80" style="background:#ffffff"></td>
										<td width="140" style="background:#ffffff"></td>
										<td width="380" style="background:#ffffff" align="right">
											<!--<a href="cencela" style="font-size:13px;">Cancelar</a>-->
											<input type="button" id="cencela" class="onmouseOutCancelar">
										</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="5" height="6" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
								</tbody>
								
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>




		<div class="buscador_productos" style="display:none;">	
			<table width="100%" border="0" class="formaBusqueda_productos">
				<tr>
					<td>
						<div class="div_dos_productos">
							<table width="100%" border="0">
								<thead>
									<tr>
										<td colspan="8" height="50" valign="top"><div class="titulo_productos" width="100%"><strong>Buscador de productos</strong></div></td>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff;"></td>
										<td colspan="4" style="background:#ffffff;" width="600">
											
											<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
												<tr>
													<td colspan="7" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="70">C&oacute;digo&nbsp;</td>
													<td width="120"><input type="text" name="campo_sku" style="width:120px;"></td>
													<td width="25"></td>
													<td width="90">Tipo&nbsp;de&nbsp;Producto</td>
													<td width="200">
														<select name="tipo_producto" style="width:180px;">
															<OPTION value="0" selected="yes">[--Seleccionar Tipo--]</OPTION>
														</select>
													</td>
													<td width="25"></td>
													<td width="90"></td>
												</tr>
												<tr>
													<td colspan="7" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="70">Descripci&oacute;n</td>
													<td width="400" colspan="4"><input type="text" name="campo_descripcion" style="width:415px;"></td>
													<td width="25"></td>
													<td width="90" align="right">
														<input type="button" id="busca_producto_modalbox" class="onmouseOutBuscar">
													</td>
												</tr>
											</table>
											
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									<tr style="font-size:13px;">
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="120" style="background:#A8A9AB;">C&oacute;digo&nbsp;</td>
										<td width="280" style="background:#A8A9AB;">Nombre</td>
										<td width="90" style="background:#A8A9AB;">Unidad</td>
										<td width="110" style="background:#A8A9AB;">Tipo</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td style="background:#ffffff; border: solid 1px #454442;" colspan="4" width="600">
											<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
												<table  border="0" id="tabla_resultado" width="580">
													<!--aqui van los resultados de la busqueda-->
													<!--
														<tr>
															<td width="70">Lote</td>
															<td width="140">Sku</td>
															<td width="300">Nombre</td>
															<td width="70">Disponible</td>
														</tr>
													-->
												</table>
											</div>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="6" height="4" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="120"  style="background:#ffffff"></td>
										<td width="280" style="background:#ffffff"></td>
										<td width="90" style="background:#ffffff"></td>
										<td width="110" style="background:#ffffff" align="right">
											<input type="button" id="cencela" class="onmouseOutCancelar">
										</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="6" height="6" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
								</tbody>
								
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>




		<div class="buscador_remisiones" style="display:none;">
			<table width="100%" border="0" class="formaBusqueda_remisiones">
				<tr>
					<td>
						<div class="div_dos_remisiones">
							<table width="100%" border="0">
								<thead>
									<tr>
										<td colspan="8" height="50" valign="top"><div class="titulo_remisiones" width="100%"><strong>Remisiones del Cliente</strong></div></td>
									</tr>
								</thead>
								<tbody>
									<tr style="font-size:13px;">
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td colspan="4" style="background:#ffffff">Lista de Remisiones sin Facturar</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									<tr style="font-size:13px;">
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td width="100"  style="background:#A8A9AB;">Folio</td>
										<td width="100"  style="background:#A8A9AB;">Monto</td>
										<td width="90"  style="background:#A8A9AB;">Moneda</td>
										<td width="90"  style="background:#A8A9AB;">Fecha</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td style="background:#ffffff; border: solid 1px #454442;" colspan="4" width="380">
											<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:380px; height:100px; align=top;">
												<table  border="0" id="tabla_resultado" width="100%" >
													<!--aqui van los resultados de la busqueda-->
												</table>
											</div>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="5" height="6" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td width="100" style="background:#ffffff"></td>
										<td width="100" style="background:#ffffff"></td>
										<td width="90" style="background:#ffffff"></td>
										<td width="90" style="background:#ffffff" align="right">
											<input type="button" id="cencela" class="onmouseOutCancelar">
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="6" height="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</table>	
		</div>
        
        
        
        
        <!--form for Datos Adenda-->
        <form id="formaDatosAdenda" action="edit.json" method="POST" >
                <div id="div_one" class="panelcito_modal datosadenda_div_one"  style="display:none;" title="">
                <input type="hidden" name="id_factura">
				<div id="div_two" title="" class="datosadenda_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" id="cierra" style="width:510px; padding-left:6px;"><strong>Datos Adenda</strong></div>
                            <div class="fixed column" style="width:30px; height:25px;">
                                <div id="close" style="height:25px;background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                      <div id="div_three" title="" class="datosadenda_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong id="titulo_pestana">Datos</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >
									
                                    <div id="tabx-1" class="contenidoPes" >
                                        <table border="0">
											<tr id="adenda1">
                                                <td width="5" height="10"></td>
                                                <td colspan="3">
													
													<table border="0" class="gral">
														<tr>
															<td width="90">Orden de Compra</td>
															<td width="100"><input type="text" name="adenda1_campo7" style="width:100px;"></td>
															<td width="40"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_campo7"></div></td>
															<td width="90">Moneda</td>
															<td width="100"><input type="text" name="adenda1_campo8" style="width:100px;"></td>
															<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_campo8"></div></td>
														</tr>
														<tr>
															<td width="90" height="15"></td>
															<td width="100"></td>
															<td width="40"></td>
															<td width="90"></td>
															<td width="100"></td>
															<td width="25"></td>
														</tr>
														
														<tr>
															<td width="90">No. de Entrada</td>
															<td width="100"><input type="text" name="adenda1_campo1" style="width:100px;"></td>
															<td width="40"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_campo1"></div></td>
															<td width="90">No. de Remisi&oacute;n</td>
															<td width="100"><input type="text" name="adenda1_campo2" style="width:100px;"></td>
															<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_campo2"></div></td>
														</tr>
														<tr>
															<td width="90" height="15"></td>
															<td width="100"></td>
															<td width="40"></td>
															<td width="90"></td>
															<td width="100"></td>
															<td width="25"></td>
														</tr>
														<tr>
															<td width="90">Consignaci&oacute;n</td>
															<td width="100"><input type="checkbox" name="check_adenda1_campo3"></td>
															<td width="40"></td>
															<td width="90">Centro de Costos</td>
															<td width="100"><input type="text" name="adenda1_campo4" style="width:100px;"></td>
															<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_campo4"></div></td>
														</tr>
														<tr>
															<td width="90" height="12"></td>
															<td width="100"></td>
															<td width="40"></td>
															<td width="90"></td>
															<td width="100"></td>
															<td width="25"></td>
														</tr>
														<tr>
															<td width="90">Fecha Inicio</td>
															<td width="100"><input type="text" name="adenda1_campo5" style="width:100px;"></td>
															<td width="40"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_campo5"></div></td>
															<td width="90">Fecha Fin</td>
															<td width="100"><input type="text" name="adenda1_campo6" style="width:100px;"></td>
															<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_campo6"></div></td>
														</tr>
														<tr>
															<td width="90" height="45"></td>
															<td width="100"></td>
															<td width="40"></td>
															<td width="90"></td>
															<td width="100"></td>
															<td width="25"></td>
														</tr>
														
													</table>
                                                
                                                </td>
                                                <td width="25" height="10"></td>
											</tr>
											
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="fixed column" id="botones" style="width:527px; background:; text-align:right; padding-left:; position:absolute;margin-top:4px;">
                                <table border="0">
                                        <tr><td colspan="4" height="7"></td></tr>
                                        <tr>
                                            <td width="427"></td>
                                            <td>
                                               <input type="button" id="aceptar_adenda" value="Aceptar" style="width:70px; font-weight:bold;">
                                            </td>
                                            <td width="30"></td>
                                            <td>
												<input type="button" id="salir" value="Salir" style="width:70px; font-weight:bold;">
											</td>
                                        </tr>
                                </table>      
                            </div>
                            
                        </div>
                    </div>
                </div>
        </form>

        
        
        
        
        
    </body>
</html>
