<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
        
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/facdevoluciones/formaFacDevoluciones.css" type="text/css" />
        <!--<link rel="stylesheet" href="../../css/modalbox/facdevoluciones/formaCancelaEmision.css" type="text/css" />-->
        
        
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
		<script type="text/javascript" src="../../js/components/formatearnumeros/agrega_comas.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/facdevoluciones/modalboxFacDevoluciones.js"></script>
        <!--<script type="text/javascript" src="../../js/components/modalbox/facdevoluciones/modalboxCancelaEmision.js"></script>-->
        <script type="text/javascript" src="../../js/implements/facdevoluciones/index.js" ></script>
        
        
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        <!--Esta tabla va  en la barra de acciones -->
		<table class="table_acciones" style="display:none" border="0">
			<tr>
				<td width="15" height="30"></td>
				<!--
				<td height="30"><a href="new_item" class="tooltip"><div class="onmouseOutNewItem" id="nItem"></div><span>Crear nueva prefactura</span></a></td>
				<td width="15" height="30"></td>
				-->
				<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a> </td>
			</tr>
		</table>
        
        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
				<td colspan="13">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="100">Factura</td>
				<td width="20"></td>
				<td width="200">Cliente</td>
				<td width="15"></td>
				<td width="100">C&oacute;digo&nbsp;Producto</td>
				<td width="15"></td>
				<td width="150">Nombre&nbsp;Producto</td>
				<td width="15"></td>
				<td width="150">Agente</td>
				<td width="20">&nbsp;</td>
				<td width="25"></td>
				<td colspan="3">Fecha&nbsp;de&nbsp;creaci&oacute;n</td>
				<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td></td>
				<td width="25"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;</td>
				<td ></td>
				<td width="10">&nbsp;&nbsp;&nbsp;</td>
			</tr>
			
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="100"><input type="text" name="busqueda_factura" style="width:100px;"></td>
				<td width="20"></td>
				<td width="200"><input type="text" name="busqueda_cliente" style="width:200px;"></td>
				<td width="15"></td>
				<td width="100"><input type="text" name="busqueda_codigo" style="width:100px;"></td>
				<td width="15"></td>
				<td width="150"><input type="text" name="busqueda_producto" style="width:150px;"></td>
				<td width="15"></td>
				<td id="td_agente">
					<select name="busqueda_select_agente" style="width:150px;">
						<option value="0" selected="yes">[-Seleccionar Agente-]</option>
					</select>
				</td>
				<td width="20">&nbsp;</td>
				<td width="25"><IMG SRC="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="90"><input type="text" name="busqueda_fecha_inicial" style="width:90px;" readOnly="true"></td>
				<td width="15"></td>
				<td width="25"><IMG SRC="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="90"><input type="text" name="busqueda_fecha_final" style="width:90px;" readOnly="true"></td>
				<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><input type="button" id="boton_buscador" class="onmouseOutBuscar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ><input type="button" id="boton_limpiar" class="onmouseOutLimpiar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>
        
        
        
        <!--  otra parte -->
        <table class="acciones" >
			<!--
            <tr>
                <td height="25px"></td>
                <td></td>
            </tr>
            -->
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>
		
		
		
		
		
		
		
        <!--form for facdevoluciones -->
        <form id="formafacdevoluciones00" action="edit.json" method="POST" >
                <div id="div_one" class="panelcito_modal facdevoluciones_div_one"  style="display:none;" title="">
                <input type="hidden" name="id_factura">
                <input type="hidden" name="total_tr">
				<input type="hidden" name="id_impuesto" value="0">
				<input type="hidden" name="valorimpuesto" value="0">
				<input type="hidden" name="tasa_retencion" value="0">
				                                                                    
                    <div id="div_two" title="" class="facdevoluciones_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" style="width:1003px; padding-left:6px;"><strong>Devoluci&oacute;n de Mercanc&iacute;a</strong></div>
                            <div class="fixed column" style="width:20px; height:25px;">
                                <div id="close" style="height:25px; background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div id="div_three" title="" class="facdevoluciones_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>Devoluciones</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >

                                    <div id="tabx-1" class="contenidoPes" >
										
										
                                        <table border="0" style="margin:0; padding:0;" >
                                                <tr>
                                                    <td width="600"></td>
                                                    <td width="10"></td>
                                                    <td width="110"></td>
                                                    <td width="300"></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" width="600"> 
                                                        <table border="0" class="gral">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">Factura</td>
                                                                <td width="90"><INPUT TYPE="text" name="serie_folio" style="width:90px;"></td>
                                                                <td width="25"></td>
                                                                <td width="50">Fecha</td>
                                                                <td width="75"><INPUT TYPE="text" name="fecha" style="width:75px;" readOnly="true"></td>
                                                                <td width="25"></td>
                                                                <td width="70">Folio&nbsp;Pedido</td>
                                                                <td width="75"><INPUT TYPE="text" name="folio_pedido" style="width:75px;" readOnly="true"></td>
                                                                <td width="15"></td>
                                                            </tr>
                                                            <tr><td colspan="10" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">Razon&nbsp;social</td>
                                                                <td colspan="8" width="405">
                                                                    <input type="hidden" name="id_cliente" value="">
                                                                    <input type="hidden" name="id_df" value="1">
                                                                    <input type="hidden" name="rfccliente" style="width:120px;" readOnly="true">
																	<input type="text" name="razoncliente" style="width:420px;" readOnly="true">
																</td>
                                                            </tr>
                                                            <tr><td colspan="10" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">Direcci&oacute;n</td>
                                                                <td colspan="8" width="405"><INPUT TYPE="text" name="dircliente" style="width:420px;" readOnly="true"></td>
                                                            </tr>
                                                            <tr><td colspan="10" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">Moneda</td>
                                                                <td width="90">
                                                                    <SELECT NAME="moneda" style="width:90px;" title="Moneda de la factura"></SELECT>
																	<input type="hidden" name="moneda_original" value="0">
                                                                </td>
                                                                <td width="25"></td>
                                                                <td width="50">T.&nbsp;&nbsp;C.</td>
                                                                <td width="75"><INPUT TYPE="text" name="tipo_cambio" style="width:75px;"></td>
                                                                <td width="25"></td>
                                                                <td width="70">O.&nbsp;C.</td>
                                                                <td width="75"><INPUT TYPE="text" name="orden_compra" style="width:75px;" readOnly="true"></td>
                                                                <td width="15"></td>
                                                            </tr>
                                                            
                                                            <tr><td colspan="10" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">M&eacute;todo&nbsp;de&nbsp;pago</td>
                                                                <td width="165" colspan="3"><SELECT NAME="select_metodo_pago" style="width:165px"></SELECT></td>
                                                                <!--
                                                                <td width="25"></td>
                                                                <td width="50">T.&nbsp;&nbsp;C.</td>
                                                                -->
                                                                <td width="100" colspan="2" align="right">T&eacute;rminos&nbsp;de&nbsp;pago&nbsp;</td>
                                                                <!--<td width="25"></td>-->
                                                                <td width="145" colspan="2"><SELECT NAME="condiciones" style="width:150px" title="Terminos de pago"></SELECT></td>
                                                                <!--<td width="75"></td>-->
                                                                <td width="15"></td>
                                                            </tr>
                                                            <tr><td colspan="10" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">Vendedor</td>
                                                                <td width="410" colspan="7"><SELECT NAME="vendedor" style="width:419px"></SELECT></td>
                                                                <td width="15"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    
                                                    <td width="10"></td>
                                                    <!--<td width="60"></td>-->
													
                                                    <td width="410" colspan="2" valign="top" style="border:solid 1px #454442;">
                                                        <table border="0" class="gral">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="370" colspan="5">Concepto&nbsp;para&nbsp;la&nbsp;Nota&nbsp;de&nbsp;Cr&eacute;dito</td>
                                                                <td width="25"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="370" colspan="5">
																	<textarea name="concepto" rows="2" cols="60" style="width:370px;  height:45px; resize:none;"></textarea>
                                                                </td>
                                                                <td width="30"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_concepto"></div></td>
                                                            </tr>
                                                            <tr><td colspan="7" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="100">Nota&nbsp;de&nbsp;Cr&eacute;dito</td>
                                                                <td width="90"><input type="text" name="nota_credito" style="width:90px; font-weight:bold;" readOnly="true"></td>
                                                                <td width="30"></td>
                                                                <td width="70">Fecha</td>
                                                                <td width="80"><input type="text" name="fecha_nc" style="width:80px;" readOnly="true"></td>
                                                                <td width="25"></td>
														   </tr>
															<tr><td colspan="7" height="5"></td></tr>
															<tr>
																<td width="10"></td>
																<td width="100">Tipo&nbsp;de&nbsp;cambio</td>
																<td width="90"><input type="text" name="tipo_cambio_nota" style="width:90px;"></td>
																<td width="30"></td>
																<td width="70"></td>
																<td width="80"></td>
																<td width="25"></td>
															</tr>
															<tr><td colspan="7" height="5"></td></tr>
															<tr>
																<td width="10"></td>
																<td width="100">Tipo&nbsp;de&nbsp;movimiento</td>
																<td width="270" colspan="4"><select name="select_tmov" style="width:270px"></select></td>
																<!--
																<td width="30"></td>
																<td width="70"></td>
																<td width="80"></td>
																-->
																<td width="25"><div class="interrogacion"><img src="../../img/help-16x16.png" ALIGN="top" rel="warning_tmov"></div></td>
															</tr>
															<tr><td colspan="7" height="5"></td></tr>
															<tr>
																<td width="10"></td>
																<td width="100"></td>
																<td width="90"></td>
																<td width="30"></td>
																<td width="150" colspan="2" align="right"><input type="button" id="registrar_devolucion" value="Registrar Devoluci&oacute;n" style="width:120px; font-weight:bold;"></td>
																<!--<td width="80"></td>-->
																<td width="25"></td>
															</tr>
                                                        </table>
                                                    </td>
                                                </tr>
												
                                                <tr>
                                                    <td width="600" height="5"></td>
                                                    <td width="10"></td>
                                                    <td width="110"></td>
                                                    <td width="300"></td>
                                                </tr>
                                                
                                                <tr>
													<td colspan="4" style="border-top:1px solid #C1DAD7; border-bottom:1px solid #C1DAD7; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF;">
														<table>
															<thead>
																<tr class="registros_pagos">
																	<td class="grid" id="td_eliminar" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="30"><div class="delete">&nbsp;#</div></td>
																	<td class="grid" id="td_sku" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="122">&nbsp;C&oacute;digo</td>
																	<td class="grid" id="td_nombre" style="background-color: rgb(180, 180, 180);"  width="202">&nbsp;Descripci&oacute;n</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="100">&nbsp;Unidad</td>
																	<!--<td class="grid" style="background-color: rgb(180, 180, 180);" width="95">&nbsp;Presentaci&oacute;n</td>-->
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="80">&nbsp;Cantidad</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="90">&nbsp;Precio&nbsp;unitario</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="90">&nbsp;Importe</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="50">&nbsp;%&nbsp;IEPS</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="80">&nbsp;Monto&nbsp;IEPS</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="125">&nbsp;Cantidad&nbsp;a&nbsp;devolver</td>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td colspan="10">
																		<div style="overflow:scroll; overflow-x:hidden; overflow-y:auto; height:115px; border:1px solid #C1DAD7 !important;">	
																			<table class="tabla_facdevoluciones">
																				<tbody style="background-color:#FFFFFF;" valign="top" id="grid_productos">
																					
																				</tbody>
																			</table>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>                                                        
                                                    </td>
                                                </tr>
												
                                                <tr>
                                                    <td colspan="2" width="720"  align="left" valign="top">
														
                                                        <div id="div_warning_grid" style="display:none;">
															
                                                            <table border ="0">
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td width="500" colspan="3"><div style="color:#d41000;">&nbsp;&nbsp;Datos&nbsp;no&nbsp;validos</div></td>
                                                                    <td width="10"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td width="20" style="background-color:#A8A9AB; font-weight: bold;"></td>
                                                                    <td width="180" style="background-color:#A8A9AB; font-weight: bold;">Nombre</td>
                                                                    <td width="270" style="background-color:#A8A9AB; font-weight: bold;">Descripci&oacute;n&nbsp;del&nbsp;error</td>
                                                                    <td width="10"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="10"></td>
                                                                    <td colspan="4"> 
                                                                        <div align="left" style="width:510px; height:68px; overflow:scroll; overflow-x: auto; overflow-y: auto; color:#d41000;">
                                                                            <table id="grid_warning" border="0" style="width:510px;"">
                                                                                <!-- Aqui se muestran los warning
                                                                                style="background-color:#e7e8ea;"
                                                                                -->
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
														
                                                    </td>
                                                    
                                                    
                                                    
                                                    <td colspan="2" width="350" align="right" valign="top" style="font-weight: bold;" class="gral">
                                                        <table border ="0" width="350">
                                                            <!--<tr><td colspan="3" height="2"></td></tr>-->
                                                            <tr>
                                                                <td width="80"></td>
                                                                <td width="60"></td>
                                                                <td width="100" align="center">Factura</td>
                                                                <td width="10"></td>
                                                                <td width="100" align="center">Nota Cr&eacute;dito</td>
                                                                <td width="20"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="80"></td>
                                                                <td width="60">Subtotal</td>
                                                                <td width="100"><input type="text" name="subtotal" value="0" style="width:100px; text-align:right;" readOnly="true"></td>
                                                                <td width="10"></td>
                                                                <td width="100"><input type="text" name="subtotal_nota" value="0" style="width:100px; text-align:right;" readOnly="true"></td>
                                                                <td width="20"></td>
                                                            </tr>
															<tr id="tr_ieps">
                                                                <td width="80"></td>
                                                                <td width="60">IEPS</td>
                                                                <td width="100"><input type="text" name="ieps" value="0" style="width:100px; text-align:right;" readOnly="true"></td>
                                                                <td width="10"></td>
                                                                <td width="100"><input type="text" name="ieps_nota" value="0" style="width:100px; text-align:right;" readOnly="true"></td>
                                                                <td width="20"></td>
															</tr>
															
                                                            <tr>
                                                                <td width="80"></td>
                                                                <td width="60">IVA</td>
                                                                <td width="100"><input type="text" name="impuesto" value="0" style="width:100px; text-align:right;" readOnly="true"></td>
                                                                <td width="10"></td>
                                                                <td width="100"><input type="text" name="impuesto_nota" value="0" style="width:100px; text-align:right;" readOnly="true"></td>
                                                                <td width="20"></td>
                                                            </tr>
															<tr>
																<td width="80"></td>
																<td width="60">Retenci&oacute;n</td>
																<td width="100"><input type="text" name="impuesto_retenido" value="0" style="width:100px; text-align:right;" readOnly="true"></td>
																<td width="10"></td>
																<td width="100"><input type="text" name="impuesto_retenido_nota" value="0" style="width:100px; text-align:right;" readOnly="true"></td>
																<td width="20"></td>
															</tr>
                                                            <tr>
                                                                <td width="80"></td>
                                                                <td width="60">Total</td>
                                                                <td width="100"><input type="text" name="total" value="0" style="width:100px; text-align:right; font-weight:bold;" readOnly="true"></td>
                                                                <td width="10"></td>
                                                                <td width="100"><input type="text" name="total_nota" value="0" style="width:100px; text-align:right; font-weight:bold;" readOnly="true"></td>
                                                                <td width="20"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_totalnota"></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="80"></td>
                                                                <td width="60">Saldo</td>
                                                                <td width="100"><input type="text" name="saldo_fac" value="0" style="width:100px; text-align:right; font-weight:bold;" readOnly="true"></td>
                                                                <td width="10"></td>
                                                                <td width="100"></td>
                                                                <td width="20"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                        </table>


                                    </div>

                                </div>
                            </div>


                            <div class="fixed column" style="width:1016px; background:; text-align:right; padding-left:; position:absolute; margin-top:4px;">
								<table border="0">
									<tr>
										<td width="916"></td>
										<td>
											<input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>
										</td>
										<td width="30"></td>
										<td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
									</tr>
								</table>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
        </form>
        
        
        
        #include("${layoutfooter}")
        
        
    </body>
</html>	


