    
                </div>
            </div>	
        </div>
        
		<!--
        <div id="footer" title="footer">
            <div class="columns on-2 vertical-center">
                <div class="container vertical-center" style="height:30px;">

                    <div class="fixed column vertical-center" style="height:30px; text-align:right; padding-top:4px; color:#fff; width:90%;  background-repeat:no-repeat;">2011 Copyright Agnux.com Todos los derechos reservados</div>
                </div>
            </div>
        </div>
		-->

		<!--
		<div class="elastic column vertical-center" style="height:30px; background-image:url('../../img/f1.png'); background-repeat:repeat-x;">&nbsp;</div>
		<div class="fixed column vertical-center" style="height:30px; text-align:center; padding-top:4px; color:#fff; width:500px; background-image:url('../../img/footer_erp1.png'); background-repeat:no-repeat;">2011 Copyright Agnux.com Todos los derechos reservados</div>
		-->
