<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
		
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/logadmviaje/formaLogAdmViaje.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/logadmviaje/formaBuscaUnidad.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/logadmviaje/formaBuscaproducto.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/logadmviaje/formaBuscaRutas.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/logadmviaje/formaDetallePedido.css" type="text/css" />
        
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/logadmviaje/modalboxLogAdmViaje.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/logadmviaje/modalboxBuscaUnidad.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/logadmviaje/modalboxBuscaproducto.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/logadmviaje/modalboxBuscaRutas.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/logadmviaje/modalboxDetallePedido.js"></script>
        <script type="text/javascript" src="../../js/implements/logadmviaje/index.js" ></script>
        <script type="text/javascript" src="../../js/components/formatearnumeros/agrega_comas.js"></script>
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        
		<!--Esta tabla va  en la barra de acciones -->
		<table class="table_acciones" style="display:none" border="0">
			<tr>
				<td width="15" height="30"></td>
				<td height="30"><a href="new_item" class="tooltip"><div class="onmouseOutNewItem" id="nItem"></div><span>Registrar Nuevo</span></a></td>
				<td width="15" height="30"></td>
				<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a>  </td>
			</tr>
		</table>
        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
				<td colspan="27">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10"></td>
				<td width="150">Sucursal</td>
				<td width="10"></td>
				<td width="80">Folio</td>
				<td width="10"></td>
				<td width="80">No.&nbsp;Carga</td>
				<td width="10"></td>
				<td width="80">No.&nbsp;Pedido</td>
				<td width="10"></td>
				<td width="100">Operador</td>
				<td width="10"></td>
				<td width="100">Unidad</td>
				<td width="10"></td>
				<td width="100">Poblaci&oacute;n</td>
				<td width="10"></td>
				<td width="100">Destinatario</td>
				<td width="10"></td>
				<td width="189" colspan="5">Fecha&nbsp;del&nbsp;viaje</td>
				<td width="10"></td>
				<td></td>
				<td width="10"></td>
				<td></td>
				<td width="10"></td>
			</tr>
			
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="150"><select name="busqueda_select_sucursal" style="width:150px;"><option value="0" selected="yes">[-- --]</option></select></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="80"><input type="text" name="busqueda_folio" style="width:80px;"></td>
				<td width="10">&nbsp;</td>
				<td width="80"><input type="text" name="busqueda_no_carga" style="width:80px;"></td>
				<td width="10">&nbsp;</td>
				<td width="80"><input type="text" name="busqueda_no_pedido" style="width:80px;"></td>
				<td width="10">&nbsp;</td>
				<td width="100"><input type="text" name="busqueda_operador" style="width:100px;"></td>
				<td width="10">&nbsp;</td>
				<td width="100"><input type="text" name="busqueda_unidad" style="width:100px;"></td>
				<td width="10">&nbsp;</td>
				<td width="100"><input type="text" name="busqueda_poblacion" style="width:100px;"></td>
				<td width="10">&nbsp;</td>
				<td width="100"><input type="text" name="busqueda_destinatario" style="width:100px;"></td>
				<td width="10">&nbsp;</td>
				<td width="22"><IMG SRC="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="70"><input type="text" name="busqueda_fecha_inicial" style="width:70px;" readOnly="true"></td>
				<td width="5"></td>
				<td width="22"><IMG SRC="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="70"><input type="text" name="busqueda_fecha_final" style="width:70px;" readOnly="true"></td>
				<td width="25"></td>
				<td><input type="button" value="Buscar"></td>
				<td width="10"></td>
				<td ><input type="button" value="Limpiar"></td>
				<td width="10"></td>
			</tr>
		</table>
        
        <!--  otra parte -->
        <table class="acciones">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>
		
        
        
		
        
        
		
        
        
        <!--form for Rutas -->
        <form id="formalogadmviaje" action="edit.json" method="POST" >
        <!--clase la quite por causar problemas      tabulador -->
                <div id="div_one" class="panelcito_modal logadmviaje_div_one"  style="display:none;" title="">
					
					<input type="hidden" name="identificador">
					<input type="hidden" name="accion">
					<input type="hidden" name="usr_aut">
					<input type="hidden" name="autorizado">
					<input type="hidden" name="suma_tarimas" value="0">
					<input type="hidden" name="suma_cartones" value="0">
					<input type="hidden" name="tipo_costeo" value="0">
					
                    <div id="div_two" title="" class="logadmviaje_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" id="cierra" style="width:1170px; padding-left:6px;"><strong>Viajes</strong></div>
                            <div class="fixed column" style="width:20px; height:25px;">
                                <div id="close" style="height:25px;background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div id="div_three" title="" class="logadmviaje_div_three"  >
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>Viaje</strong></a></li>
                                    <li><a href="#tabx-2"><strong>Ruta</strong></a></li>
                                    <li><a href="#tabx-3"><strong>Serv. Adic.</strong></a></li>
                                    <li><a href="#tabx-4"><strong>Precios</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >
									
                                    <div id="tabx-1" class="contenidoPes" style="padding-bottom:0px;!important;">
                                        <table border="0" style="margin:0px; padding:0px;">
											<tr>
												<td width="765"></td>
												<td width="10"></td>
												<td width="420"></td>
											</tr>
											<tr>
												<td width="765">
													<table  border="0" class="gral">
														  <tr class="gral">
															   <td width="75">Folio&nbsp;Viaje</td>
															   <td width="90"><input type="text" name="folio" style="width:90px;"></td>
															   <td width="25">&nbsp;</td>
															   <td width="65">Fecha&nbsp;</td>
															   <td width="65"><input type="text" name="fecha" value="2014-10-20" style="width:65px;"></td>
															   <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_fecha"></div></td>
															   <td width="30">Hora</td>
															   <td width="70"><input type="text" name="hora" value="" style="width:70px;"></td>
															   <td width="25"></td>
															   <td width="50">Sucursal</td>
															   <td width="180" colspan="2"><select name="select_sucursal" style="width:182px;"></select></td>
															   <!--<td width="100"></td>-->
															   <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_idsuc"></div></td>
														  <tr>
															  
														  <tr class="gral">
															   <td width="75" height="7"></td>
															   <td width="90"></td>
															   <td width="25"></td>
															   <td width="65"></td>
															   
															   <td width="65"></td>
															   <td width="25"></td>
															   <td width="30"></td>
															   <td width="70"></td>
															   
															   <td width="25"></td>
															   <td width="50"></td>
															   <td width="90"></td>
															   <td width="90"></td>
															   <td width="25"></td>
														  <tr>
															
														  <tr class="gral">
															   <td width="75">No.&nbsp;Unidad</td>
															   <td width="90">
																   <input type="hidden" name="ident_uni">
																   <input type="text" name="no_unidad" style="width:90px;">
															   </td>
															   <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_idvehiculo"></div></td>
															   <td width="65">Marca</td>
															   <td width="200" colspan="4"><input type="text" name="unidad" style="width:200px;"></td>
															   <!--
															   <td width="25">&nbsp;</td>
															   <td width="70"></td>
															   -->
															   <td width="25"></td>
															   <td width="50"><a href="#busca_unidad" id="busca_unidad">(Buscar&nbsp;)</a></td>
															   <td width="90">Capacidad&nbsp;m&#179;</td>
															   <td width="90"><INPUT TYPE="text" name="cap_volumen_uni" style="width:90px;"></td>
															   <td width="25"></td>
														  <tr>
														  <tr class="gral">
															   <td width="75" height="7"></td>
															   <td width="90"></td>
															   <td width="25"></td>
															   <td width="65"></td>
															   <td width="65"></td>
															   <td width="25"></td>
															   <td width="30"></td>
															   <td width="70"></td>
															   <td width="25"></td>
															   <td width="50"></td>
															   <td width="90"></td>
															   <td width="90"></td>
															   <td width="25"></td>
														  <tr>
														  <tr class="gral">
															   <td width="75">No.&nbsp;Econ&oacute;mico</td>
															   <td width="90"><input type="text" name="no_eco_uni" style="width:90px;"></td>
															   <td width="25"></td>
															   <td width="65">Placas</td>
															   <td width="65"><input type="text" name="placa_uni" value="" style="width:65px;"></td>
															   <td width="25"></td>
															   <td width="30">Clase</td>
															   <td width="70"><input type="text" name="clase_uni" value="" style="width:70px;"></td>
															   <td width="25"></td>
															   <td width="50"></td>
															   <td width="90">Capacidad kg.</td>
															   <td width="90"><INPUT TYPE="text" name="cap_peso_uni" style="width:90px;"></td>
															   <td width="25"></td>
														  <tr>
														  <tr>
															   <td colspan="13" height="7"></td>
														  </tr>
														  <tr class="gral">
															   <td width="75">No.&nbsp;Operador</td>
															   <td width="90"><input type="text" name="no_operador" style="width:90px;"></td>
															   <td width="25">&nbsp;</td>
															   <td width="65">Operador</td>
															   <td width="270" colspan="6"><input type="text" name="operador" style="width:270px;"></td>
															   <!--
															   <td width="25">&nbsp;</td>
															   <td width="70"></td>
															   <td width="25"></td>
															   <td width="45"></td>
															   -->
															   <td width="90">Tipo&nbsp;de&nbsp;Unidad</td>
															   <td width="90">
																   <input type="hidden" name="id_tipo_uni" value="0">
																	<INPUT TYPE="hidden" name="tipo_unidad" style="width:90px;">
																	
																	<select name="select_tipo_unidad" style="width:92px;" title="Seleccionar el Tipo de Unidad de Transporte"></select>
																	
															   </td>
															   <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_tunidad"></div></td>
														  <tr>
														  <tr>
															   <td colspan="13" height="7"></td>
														  </tr>
														  <tr class="gral">
															   <td width="75">Tipo&nbsp;de&nbsp;viaje</td>
															   <td width="90">
																   <select name="select_tipo_dist" style="width:90px;"></select>
																   <input type="hidden" name="tipo_dist_seleccionado" value="0">
															   </td>
															   <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_tdist"></div></td>
															   <td width="65"></td>
															   <td width="65"></td>
															   <td width="25"></td>
															   <td width="30"></td>
															   <td width="70"></td>
															   <td width="25"></td>
															   <td width="50"></td>
															   <td width="90"></td>
															   <td width="90"></td>
															   <td width="25"></td>
														  <tr>
													 </table>
												</td>
												<td width="10"></td>
												<td width="420" valign="top" >
													<table border="0" class="gral">
														<tr>
															<td width="10"></td>
															<td width="385" colspan="4">Observaciones</td>
															<td width="10"></td>
														</tr>
														<tr>
															<td width="10"></td>
															<td width="385"  colspan="4">
																<textarea name="observaciones" rows="3" cols="60" style="width:360px; height:51px; resize:none;"></textarea>
															</td>
															<td width="10"></td>
														</tr>
														<tr>
															<td width="10" height="7"></td>
															<td width="50"></td>
															<td width="180"></td>
															<td width="30"></td>
															<td width="125"></td>
															<td width="10"></td>
														</tr>
														<tr>
															<td width="10">&nbsp;</td>
															<td width="50">Almacen</td>
															<td width="180">
																<select name="select_almacen" style="width:180px;" title="Seleccionar el Almacen"></select>
																<input type="hidden" name="alm_actual" value="0">
															</td>
															<td width="30"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_almacen"></div></td>
															<td width="125" align="right">
																
																<input type="button" id="btn_pdf" value="PDF" style="width:100px; font-weight:bold;">
															</td>
															<td width="10"></td>
														</tr>
													</table>
												</td>
											</tr>
											
											
											<tr>
												<td colspan="3" style="border:1px solid #C1DAD7; border-right:1px solid #FFFFFF; border-left:1px solid #FFFFFF; font-size:11px;">
													Busqueda&nbsp;de&nbsp;cargas&nbsp;pendientes
												</td>
											</tr>

											<tr>
												<td colspan="3">
													<table border="0">
														<thead>
															<tr>
																<td colspan="16" height="2"></td>
															</tr>
															<tr class="gral">
																<td class="grid_busqueda" width="30"></td>
																<td class="grid_busqueda" width="50"><input type="text" name="no_clie" style="width:46px;"></td>
																<td class="grid_busqueda" width="60"><input type="text" name="fecha_carga" style="width:56px;"></td>
																<td class="grid_busqueda" width="80"><input type="text" name="no_carga" style="width:76px;"></td>
																<td class="grid_busqueda" width="80"><input type="text" name="no_ped" style="width:76px;"></td>
																<td class="grid_busqueda" width="60"><input type="text" name="no_dest" style="width:56px;"></td>
																<td class="grid_busqueda" width="190"><input type="text" name="dest" style="width:186px;"></td>
																<td class="grid_busqueda" width="170"><input type="text" name="poblacion" style="width:166px;"></td>
																<td class="grid_busqueda" width="60"><a href="#busqueda" id="buscar_pendientes">(Busqueda)</a></td>
																<td class="grid_busqueda" width="70"></td>
																
																<td class="grid_busqueda" width="180" colspan="3" align="center"><input type="button" id="btn_confirmar" value="Confirmar" style="width:100px; font-weight:bold;"></td>
																<!--
																<td class="grid_busqueda" width="50"></td>
																<td class="grid_busqueda" width="30"></td>
																-->
																<td class="grid_busqueda" width="110" colspan="3">
																	<input type="button" id="btn_cancelar" value="Cancelar" style="width:100px; font-weight:bold;">
																</td>
																<!--
																<td class="grid_busqueda" width="30"></td>
																<td class="grid_busqueda" width="50"></td>
																-->
															</tr>
															<tr>
																<td colspan="16" height="2"></td>
															</tr>
															<tr>
																<td class="grid" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" align="center" width="30">
																	<input type="checkbox" name="check_head" id="check_head" value="check">
																</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="50">No.&nbsp;Clie.</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="60">Fecha</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="80">No.&nbsp;Carga</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="80">No.&nbsp;Pedido</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="60">No.&nbsp;Dest.</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="190">Destinatario</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="170">Poblaci&oacute;n</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="60">Cant.&nbsp;Uni.</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="70">Peso(kg)</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="70">Volumen(m&#179;)</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="50">Estatus</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="30">Firma</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="30">Sello</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="30">Ch/</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="45">Efectivo</td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td colspan="16" height="2"></td>
															</tr>
															<tr>
																<td colspan="16">
																	<div style="overflow:scroll; overflow-x:hidden; overflow-y:auto; width:100%; height:200px; border:1px solid #C1DAD7 !important;">
																		 <table style="margin:0px; padding:0px;">
																			  <tbody style="background-color:#ffffff;" valign="top" class="grid_partidas">
																				   
																			  </tbody>
																		 </table>
																	</div>
																</td>
															</tr>
															
															<tr style="display:none;">
																<td colspan="16">
																	<table id="table2" style="display:none;">
																		<tbody class="grid_partidas2">
																		</tbody>
																	</table>
																</td>
															</tr>
															
														</tbody>
														<tfoot>
															<tr>
																<td class="grid4" width="30"></td>
																<td class="grid4" width="50"></td>
																<td class="grid4" width="60"></td>
																<td class="grid4" width="80"></td>
																<td class="grid4" width="80"></td>
																<td class="grid4" width="60"></td>
																<td class="grid4" width="190"></td>
																<td class="grid3" width="170"></td>
																
																<td style="background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:2px; text-align:right;" width="60" class="sum_uni">0.000</td>
																<td style="background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:2px; text-align:right;" width="70" class="sum_peso">0.000</td>
																<td style="background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:2px; text-align:right;" width="70" class="sum_vol">0.000</td>
																<td style="background:#fff; border-left:1px solid #ccc; border-right:1px solid #fff; border-bottom:1px solid #fff; border-top:1px solid #ccc; padding:2px;" width="50"></td>
																<td class="grid4" width="30"></td>
																<td class="grid4" width="30"></td>
																<td class="grid4" width="30"></td>
																<td class="grid4" width="45"></td>
															</tr>
														</tfoot>
													</table>
												</td>
											</tr>
                                        </table>
                                    </div>
                                    <!--Termina tabx-1-->
                                    
                                    
                                    <!--Pestaña ruta-->
                                    <div id="tabx-2" class="contenidoPes" >
										
										<table border="0" style="margin:0px; padding:0px;">
											
											<tr>
												<td width="847"></td>
											</tr>
											
											<tr>
												<td width="847" class="header_grid" style="border-top:1px solid #C1DAD7; border-bottom:1px solid #C1DAD7; border-left:1px solid #FFFFFF; border-right: 1px solid #FFFFFF; background-color:#D4D3D3;">&nbsp;&nbsp;&nbsp;Buscar y seleccionar la ruta</td>
											</tr>
											<tr>
												<td width="847">
													<table border="0" class="gral">
														<tr><td colspan="11" height="10"></td></tr>
														<tr>
															<td width="10"></td>
															<td width="50">No.&nbsp;Ruta</td>
															<td width="70">
																<input type="hidden" name="id_ruta">
																<INPUT TYPE="text" name="no_ruta" style="width:70px;">
															</td>
															<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_noruta"></div></td>
															<td width="35">Ruta</td>
															<td width="240"><INPUT TYPE="text" name="titulo_ruta" style="width:240px;"></td>
															<td width="50"><a  href="busca_ruta">(Buscar)</a></td>
														</tr>
													</table>
												</td>
											</tr>
											
											
											<tr>
												<td width="847" valign="top">
													<!--Datos de la ruta seleccionada-->
													<table border="0" class="gral" style="margin:0px; padding:0px;">
														<tr>
															<td width="10"></td>
															<td width="50">Tipo&nbsp;Ruta</td>
															<td width="70"><INPUT TYPE="text" name="tipo_ruta" style="width:70px;"></td>
															<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_noruta"></div></td>
															<td width="35">KM</td>
															<td width="70"><INPUT TYPE="text" name="km_ruta" style="width:70px;"></td>
															<td width="30"></td>
															<td width="40">Costo</td>
															<td width="100"><INPUT TYPE="text" name="costo_ruta" style="width:100px;"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="55"></td>
														</tr>
														<tr>
															<td colspan="9"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="55"></td>
														</tr>
														<!--720-->
														
														<tr>
															<td width="10"></td>
															<td colspan="8">
																
																<table border="0" style="margin:0px; padding:0px;">
																	<thead>
																		<tr>
																			<td height="8"></td>
																		</tr>
																		<tr>
																			<td class="grid" style="background-color:rgb(180, 180, 180); text-align:left;" width="480">Poblaciones de la ruta</td>
																		</tr>
																		<tr>
																			<td height="2"></td>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>
																				<div style="overflow:scroll; overflow-x:hidden; overflow-y:auto; width:100%; height:110px; border:1px solid #C1DAD7 !important;">	
																					 <table class="gral" style="margin:0px; padding:0px;">
																						  <tbody style="background-color:#ffffff;" valign="top" id="grid_poblaciones">
																							   
																						  </tbody>
																					 </table>
																				</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="50"></td>
															<td width="55"></td>
														</tr>
														<tr>
															<td width="10"></td>
															<td colspan="16">
																<table border="0" id="tabla_destinos_internedios" style="margin:0px; padding:0px;">
																	<thead>
																		<tr>
																			<td height="9" colspan="9"></td>
																		</tr>
																		<tr>
																			<td class="grid" style="background-color:rgb(180, 180, 180); text-align:left;" colspan="5">Costos&nbsp;por&nbsp;Destino</td>
																			<!--<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="100" colspan="2">Costo&nbsp;Extra</td>-->
																			<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="105" colspan="4">Estad&iacute;a</td>
																		</tr>
																		<tr>
																			<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="80">No.&nbsp;Carga</td>
																			<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="80">No.&nbsp;Pedido</td>
																			<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="70">No.&nbsp;Dest.</td>
																			<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="180">Poblaci&oacute;n</td>
																			<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="70">Costo</td>
																			<!--
																			<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="50">Foraneo</td>
																			<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="50">Local</td>
																			-->
																			<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="28">#</td>
																			<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="50">D&iacute;as</td>
																			<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="50">Costo</td>
																			<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="65">Importe</td>
																		</tr>
																		<tr>
																			<td height="2" colspan="9"></td>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td colspan="9">
																				<div style="overflow:scroll; overflow-x:hidden; overflow-y:auto; width:100%; height:162px; border:1px solid #C1DAD7 !important;">	
																					 <table class="gral" style="margin:0px; padding:0px;">
																						  <tbody style="background-color:#ffffff;" valign="top" id="grid_dest_inter">
																							   
																						  </tbody>
																					 </table>
																				</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
																
															</td>
														</tr>
													</table>
													
												</td>
											</tr>
											
                                        </table>
										
									</div>
									
									<!--tabx-2-->

                                    
                                    
                                    <!--Pestaña Serv. Adic. -->
                                    <div id="tabx-3" class="contenidoPes" >
										
										<input type="hidden" name="adicionales" value="">
										
										<table border="0" style="margin:0px; padding:0px;">
											
											<tr>
												<td width="700"></td>
												<td width="10"></td>
												<td width="435"></td>
											</tr>
											
											<tr>
												<td width="700" class="header_grid" style="border-top:1px solid #C1DAD7; border-bottom:1px solid #C1DAD7; border-left:1px solid #FFFFFF; border-right: 1px solid #FFFFFF; background-color:#D4D3D3;">&nbsp;&nbsp;&nbsp;Buscar y agregar servicios adicionales</td>
												<td width="10"></td>
												<td width="435"></td>
												<!--<td width="515" class="header_grid" style="border-top:1px solid #C1DAD7; border-bottom:1px solid #C1DAD7; border-left:1px solid #FFFFFF; border-right: 1px solid #FFFFFF; background-color:#D4D3D3;">&nbsp;&nbsp;&nbsp;Buscar y seleccionar la ruta</td>-->
											</tr>
											<tr>
												<td width="700">
													<table border="0" class="gral">
														<tr><td colspan="11" height="10"></td></tr>
														<tr>
															<td width="10"></td>
															<td width="83">C&oacute;digo&nbsp;Servicio</td>
															<td width="100"><INPUT TYPE="text" name="sku_producto" style="width:100px;"></td>
															<td width="65"><a  href="agregar_producto">&nbsp;(Agregar)</a></td>
															<td width="60">Descripci&oacute;n</td>
															<td width="220"><INPUT TYPE="text" name="nombre_producto" style="width:220px;"></td>
															<td width="60"><a  href="busca_sku">&nbsp;(Buscar)</a></td>
														</tr>
													</table>
												</td>
												<td width="10"></td>
												<td width="435">
													<!--
													<table border="0" class="gral">
														<tr><td colspan="11" height="10"></td></tr>
														<tr>
															<td width="10"></td>
															<td width="50">No.&nbsp;Ruta</td>
															<td width="70">
																<input type="hidden" name="id_ruta">
																<INPUT TYPE="text" name="no_ruta" style="width:70px;">
															</td>
															<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_noruta"></div></td>
															<td width="35">Ruta</td>
															<td width="240"><INPUT TYPE="text" name="titulo_ruta" style="width:240px;"></td>
															<td width="50"><a  href="busca_ruta">(Buscar)</a></td>
														</tr>
													</table>
													-->
												</td>
											</tr>
											
											
											<tr>
												<td width="700" height="354" rowspan="2" valign="top">
													<!--Datos de los servicios adicionales-->
													
													<table border="0">
														<thead>
															<tr>
																<td colspan="6" height="2"></td>
															</tr>
															<tr>
																<td class="grid" style="background-color:rgb(180, 180, 180); border-botton:0px none;" align="center" width="30">#</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="100">C&oacute;digo</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="250">Descripci&oacute;n</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="80">Unidad</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="75">Precio</td>
																<td class="grid" style="background-color: rgb(180, 180, 180);" align="center" width="95">No.&nbsp;Pedido</td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td colspan="6" height="2"></td>
															</tr>
															<tr>
																<td colspan="6">
																	<div style="overflow:scroll; overflow-x:hidden; overflow-y:auto; width:100%; height:160px; border:1px solid #C1DAD7 !important;">	
																		 <table class="gral">
																			  <tbody style="background-color:#ffffff;" valign="top" id="grid_adicionales">
																				   
																			  </tbody>
																		 </table>
																	</div>
																</td>
															</tr>
														</tbody>
														<tfoot>
															<tr>
																<td class="grid4" width="30">&nbsp;</td>
																<td class="grid4" width="100"></td>
																<td class="grid4" width="250"></td>
																<td class="grid3" width="80"></td>
																<td style="background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:4px; text-align:right;" width="75" class="monto_adicionales">0.00</td>
																<td class="grid4" width="95"></td>
															</tr>
															
															<tr>
																<td width="550" colspan="6">
																	<div id="div_warning_grid" style="display:none;">
																		<table border ="0">
																			<tr>
																				<td width="10"></td>
																				<td width="530" colspan="3"><div style="color:#d41000;">&nbsp;&nbsp;Datos&nbsp;no&nbsp;validos</div></td>
																				<td width="10"></td>
																			</tr>
																			<tr>
																				<td width="10"></td>
																				<td width="20" style="background-color:#A8A9AB; font-weight:bold;">#</td>
																				<td width="110" style="background-color:#A8A9AB; font-weight:bold;">C&oacute;digo&nbsp;producto</td>
																				<td width="380" style="background-color:#A8A9AB; font-weight:bold;">Descripci&oacute;n&nbsp;del&nbsp;error</td>
																				<td width="10"></td>
																			</tr>
																			<tr>
																				<td width="10"></td>
																				<td colspan="4"> 
																					<div align="left" style="width:540px; height:90px; overflow:scroll; overflow-x:auto; overflow-y:auto; color:#d41000;">
																						<table id="grid_warning" border="0" style="width:530px;"">
																							<!-- Aqui se muestran los warning
																							style="background-color:#e7e8ea;"
																							-->
																						</table>
																					</div>
																				</td>
																			</tr>
																		</table>
																	</div>
																</td>
															</tr>
														</tfoot>
													</table>
												</td>
												<td width="10"></td>
												<td width="435" valign="top">
													<!--Datos de la ruta seleccionada-->
													<!--
													<table border="0" class="gral">
														<tr>
															<td width="10"></td>
															<td width="50">Tipo&nbsp;Ruta</td>
															<td width="70"><INPUT TYPE="text" name="tipo_ruta" style="width:70px;"></td>
															<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_noruta"></div></td>
															<td width="35">KM</td>
															<td width="70"><INPUT TYPE="text" name="km_ruta" style="width:70px;"></td>
															<td width="30"></td>
															<td width="40">Costo</td>
															<td width="100"><INPUT TYPE="text" name="costo_ruta" style="width:100px;"></td>
															<td width="50"></td>
														</tr>
														<tr>
															<td colspan="9"></td>
														</tr>
														<tr>
															<td width="10"></td>
															<td colspan="8">
																
																<table border="0">
																	<thead>
																		<tr>
																			<td height="8"></td>
																		</tr>
																		<tr>
																			<td class="grid" style="background-color:rgb(180, 180, 180); text-align:left;" width="480">Poblaciones de la ruta</td>
																		</tr>
																		<tr>
																			<td height="2"></td>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>
																				<div style="overflow:scroll; overflow-x:hidden; overflow-y:auto; width:100%; height:140px; border:1px solid #C1DAD7 !important;">	
																					 <table class="gral">
																						  <tbody style="background-color:#ffffff;" valign="top" id="grid_poblaciones">
																							   
																						  </tbody>
																					 </table>
																				</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
																
															</td>
														</tr>
													</table>
													-->
													
													
												</td>
												
											</tr>
                                        </table>
										
										
									</div><!--tabx-3-->
									
									
                                    <!--Pestaña Costeo de Venta. -->
                                    <div id="tabx-4" class="contenidoPes" >
										
										<input type="hidden" name="suma_precio_venta" value="0">
										
										<table border="0" style="margin:0px; padding:0px;">
											
											<tr>
												<td width="1160"></td>
											</tr>
											
											<tr>
												<td width="1160" class="header_grid" style="border-top:1px solid #C1DAD7; border-bottom:1px solid #C1DAD7; border-left:1px solid #FFFFFF; border-right: 1px solid #FFFFFF; background-color:#D4D3D3;">&nbsp;&nbsp;&nbsp;Precios de venta</td>
											</tr>
											
											<tr>
												<td width="1160" valign="top">
													
													<table border="0">
														<thead>
															<tr>
																<td colspan="12" height="2"></td>
															</tr>
															<tr>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="50">No.&nbsp;Clie.</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="80">No.&nbsp;Carga</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="80">No.&nbsp;Pedido</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="70">No.&nbsp;Dest.</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="190">Destinatario</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="180">Poblaci&oacute;n</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="60">Cant.&nbsp;Uni.</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="70">Peso(kg)</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="70">Volumen(m&#179;)</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="75">Precio</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="50">Clase</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="90">Tarifa</td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td colspan="12" height="2"></td>
															</tr>
															<tr>
																<td colspan="12">
																	<div style="overflow:scroll; overflow-x:hidden; overflow-y:auto; width:100%; height:261px; border:1px solid #C1DAD7 !important;">	
																		 <table class="gral">
																			  <tbody style="background-color:#ffffff;" valign="top" id="grid_precios_venta">
																				   
																			  </tbody>
																		 </table>
																	</div>
																</td>
															</tr>
														</tbody>
														<tfoot>
															<tr>
																<td class="grid4" width="50">&nbsp;</td>
																<td class="grid4" width="80"></td>
																<td class="grid4" width="80"></td>
																<td class="grid4" width="70"></td>
																<td class="grid4" width="190"></td>
																<td class="grid3" width="180"></td>
																<td style="background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:2px; text-align:right;" width="60" class="sum_uni">0.000</td>
																<td style="background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:2px; text-align:right;" width="70" class="sum_peso">0.000</td>
																<td style="background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:2px; text-align:right;" width="70" class="sum_vol">0.000</td>
																<td style="background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:4px; text-align:right;" width="75" class="td_suma_costo_venta">0.00</td>
																<td class="grid4" width="50"></td>
																<td class="grid4" width="90"></td>
															</tr>
															
															<tr>
																<td  colspan="12">
																	<div id="div_warning_grid" style="display:none;">
																		<table border ="0">
																			<tr>
																				<td width="10"></td>
																				<td width="530" colspan="3"><div style="color:#d41000;">&nbsp;&nbsp;Datos&nbsp;no&nbsp;validos</div></td>
																				<td width="10"></td>
																			</tr>
																			<tr>
																				<td width="10"></td>
																				<td width="20" style="background-color:#A8A9AB; font-weight:bold;">#</td>
																				<td width="110" style="background-color:#A8A9AB; font-weight:bold;">C&oacute;digo&nbsp;producto</td>
																				<td width="380" style="background-color:#A8A9AB; font-weight:bold;">Descripci&oacute;n&nbsp;del&nbsp;error</td>
																				<td width="10"></td>
																			</tr>
																			<tr>
																				<td width="10"></td>
																				<td colspan="4"> 
																					<div align="left" style="width:540px; height:90px; overflow:scroll; overflow-x:auto; overflow-y:auto; color:#d41000;">
																						<table id="grid_warning" border="0" style="width:530px;"">
																							<!-- Aqui se muestran los warning
																							style="background-color:#e7e8ea;"
																							-->
																						</table>
																					</div>
																				</td>
																			</tr>
																		</table>
																	</div>
																</td>
															</tr>
														</tfoot>
													</table>
												</td>
											</tr>
											
											
											<tr>
												<td width="1160">&nbsp;</td>
											</tr>
											
											<tr>
												<td width="1160" class="header_grid" style="border-top:1px solid #C1DAD7; border-bottom:1px solid #C1DAD7; border-left:1px solid #FFFFFF; border-right: 1px solid #FFFFFF; background-color:#D4D3D3;">&nbsp;&nbsp;&nbsp;Resumen</td>
											</tr>
											<tr>
												<td width="1160" valign="top">
													
													<table border="0">
														<thead>
															<tr>
																<td colspan="4" height="2"></td>
															</tr>
															<tr>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="100">Costo</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="100">Precio</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="100">Margen</td>
																<td class="grid" style="background-color:rgb(180, 180, 180);" align="center" width="100">%&nbsp;Margen</td>
															</tr>
														</thead>
														<tbody id="grid_resumen">
															<tr>
																<td class="content_grid2" width="100" id="td_resumen_costo">0.00</td>
																<td class="content_grid2" width="100" id="td_resumen_precio">0.00</td>
																<td class="content_grid2" width="100" id="td_resumen_margen">0.00</td>
																<td class="content_grid2" width="100" id="td_resumen_porcentaje_margen">0.00</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											
											
                                        </table>
										
										
									</div><!--tabx-4-->
									
									
									
									
                                </div>
                            </div>


                            <div class="fixed column" id="botones" style="width:1160px; background:; text-align:right; padding-left:; position:absolute; margin-top:4px;">
								<table border="0">
									<tr><td colspan="4" height="7"></td></tr>
									<tr>
										<td width="1160px"></td>
										<td>
											<input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>
										</td>
										<td width="30"></td>
										<td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
									</tr>
								</table>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
        </form>
        
        
        
        
        #include("${layoutfooter}")
        
        
        
		<div class="buscador_busquedaunidad" style="display:none;">	
			<table width="100%" border="0" class="formaBusqueda_busquedaunidad">
				<tr>
					<td>
						<div class="div_dos_busquedaunidad">
							<table width="100%" border="0">
								<thead>
									<tr>
										<td colspan="8" height="50" valign="top"><div class="titulo_busquedaunidad" width="100%"><strong>Buscador de Unidades</strong></div></td>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff;"></td>
										<td colspan="2" style="background:#ffffff;" width="600">
											
											<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
												<tr>
													<td colspan="7" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="75">No.&nbsp;Econ&oacute;mico</td>
													<td width="125"><input type="text" name="cadena_noeconomico" style="width:125px;"></td>
													<td width="25"></td>
													<td width="40">Marca</td>
													<td width="240"><input type="text" name="cadena_marca" style="width:240px;"></td>
													<td width="25"></td>
													<td width="70" align="right">
														<input type="button" id="boton_busquedaunidad" class="onmouseOutBuscar">
													</td>
												</tr>
											</table>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr style="font-size:13px;">
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="180"  style="background:#A8A9AB;">No.&nbsp;Econ&oacute;mico</td>
										<td width="420"  style="background:#A8A9AB;">Marca</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td style="background:#ffffff; border: solid 1px #454442;" colspan="2" width="600">
											<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
												<table  border="0" id="tabla_resultado" width="580">
													
												</table>
											</div>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="4" height="3" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="180" style="background:#ffffff"></td>
										<td width="420" style="background:#ffffff" align="right">
											<input type="button" id="cencela" class="onmouseOutCancelar">
										</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="4" height="6" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
								</tbody>
								
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<!--Termina buscador de Unidades-->
		
		
		<!--Inicia buscador de Servicios Adicionales-->
		<div class="buscador_productos" style="display:none;">	
			<table width="100%" border="0" class="formaBusqueda_productos">
				<tr>
					<td>
						<div class="div_dos_productos">
							<table width="100%" border="0">
								<thead>
									<tr>
										<td colspan="8" height="50" valign="top"><div class="titulo_productos" width="100%"><strong>Buscador de Servicios Adicionales</strong></div></td>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff;"></td>
										<td colspan="4" style="background:#ffffff;" width="600">
											
											<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
												<tr>
													<td colspan="7" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="70">C&oacute;digo&nbsp;</td>
													<td width="120"><INPUT TYPE="text" name="campo_sku" style="width:120px;"></td>
													<td width="25"></td>
													<td width="90"></td>
													<td width="200">
														<SELECT NAME="tipo_producto" style="width:180px;">
															<OPTION value="0" selected="yes">[--Seleccionar Tipo--]</OPTION>
														</SELECT>
													</td>
													<td width="25"></td>
													<td width="90"></td>
												</tr>
												<tr>
													<td colspan="7" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="70">Descripci&oacute;n</td>
													<td width="400" colspan="4"><INPUT TYPE="text" name="campo_descripcion" style="width:415px;"></td>
													<td width="25"></td>
													<td width="90" align="right">
														<INPUT TYPE="button" id="busca_producto_modalbox" class="onmouseOutBuscar">
													</td>
												</tr>
											</table>
											
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									<tr style="font-size:13px;">
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="120" style="background:#A8A9AB;">C&oacute;digo&nbsp;</td>
										<td width="280" style="background:#A8A9AB;">Nombre</td>
										<td width="90" style="background:#A8A9AB;">Unidad</td>
										<td width="110" style="background:#A8A9AB;">Tipo</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td style="background:#ffffff; border: solid 1px #454442;" colspan="4" width="600">
											<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
												<table  border="0" id="tabla_resultado" width="580">
													<!--aqui van los resultados de la busqueda-->
													<!--
														<tr>
															<td width="70">Lote</td>
															<td width="140">Sku</td>
															<td width="300">Nombre</td>
															<td width="70">Disponible</td>
														</tr>
													-->
												</table>
											</div>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="6" height="4" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="120"  style="background:#ffffff"></td>
										<td width="280" style="background:#ffffff"></td>
										<td width="90" style="background:#ffffff"></td>
										<td width="110" style="background:#ffffff" align="right">
											<INPUT TYPE="button" id="cencela" class="onmouseOutCancelar">
										</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="6" height="6" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
								</tbody>
								
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<!--Termina buscador de Servicios Adicionales-->
        
        
        
        <!--Inicia buscador de rutas-->
		<div class="buscador_rutas" style="display:none;">	
			<table width="100%" border="0" class="formaBusqueda_rutas">
				<tr>
					<td>
						<div class="div_dos_rutas">
							<table width="100%" border="0">
								<thead>
									<tr>
										<td colspan="8" height="50" valign="top"><div class="titulo_rutas" width="100%"><strong>Buscador de rutas</strong></div></td>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff;"></td>
										<td colspan="4" style="background:#ffffff;" width="600">
											
											<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
												<tr>
													<td colspan="7" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="70">No.&nbsp;de&nbsp;Ruta</td>
													<td width="100"><INPUT TYPE="text" name="campo_no_ruta" style="width:100px;"></td>
													<td width="25"></td>
													<td width="90">Nombre de Ruta</td>
													<td width="220">
														<INPUT TYPE="text" name="campo_nombre_ruta" style="width:220px;">
													</td>
													<td width="25"></td>
													<td width="90"></td>
												</tr>
												<tr>
													<td colspan="7" width="600" height="10"></td>
												</tr>
												<tr>
													<td width="70">Poblaci&oacute;n</td>
													<td width="435" colspan="4"><INPUT TYPE="text" name="campo_poblacion" style="width:435px;"></td>
													<td width="25"></td>
													<td width="90" align="right">
														<INPUT TYPE="button" id="href_busca_ruta_modalbox" class="onmouseOutBuscar">
													</td>
												</tr>
											</table>
											
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									<tr style="font-size:13px;">
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="100" style="background:#a8a9ab; border:1px solid #ccc;">No.&nbsp;Ruta</td>
										<td width="270" style="background:#a8a9ab; border:1px solid #ccc;">Nombre Ruta</td>
										<td width="90" style="background:#a8a9ab; border:1px solid #ccc;">Km</td>
										<td width="120" style="background:#a8a9ab; border:1px solid #ccc;">Costo</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td style="background:#ffffff; border:solid 1px #ccc;" colspan="4" width="600">
											<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:610px; height:120px; align=top;">
												<table  border="0" id="tabla_resultado" width="580">
													<!--aqui van los resultados de la busqueda-->
													<!--
														<tr>
															<td width="70">Lote</td>
															<td width="140">Sku</td>
															<td width="300">Nombre</td>
															<td width="70">Disponible</td>
														</tr>
													-->
												</table>
											</div>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="6" height="4" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="120"  style="background:#ffffff"></td>
										<td width="280" style="background:#ffffff"></td>
										<td width="90" style="background:#ffffff"></td>
										<td width="110" style="background:#ffffff" align="right">
											<INPUT TYPE="button" id="cancela_buscador_ruta" class="onmouseOutCancelar">
										</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="6" height="6" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
								</tbody>
								
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<!--Termina Buscador de rutas -->
        
        
        
        
        
        <!--Forma detalle pedido-->
		<div class="detallepedido" style="display:none;">
			
			<table width="100%" border="0" class="formadetallepedido">
				<tr>
					<td>
						<div class="div_dos_detallepedido">
							
							<form id="formDetallePedido" action="guardar_rechazos.json" method="POST" >
								
								<table border="0">
									<thead>
										<tr>
											<td>
												<div  class="titulo_detallepedido">
													<div class="fixed column"  style="width:980px; padding-left:6px;"><strong>Detalle del Pedido</strong></div>
													<div class="fixed column" style="width:20px; height:25px;">
														<div id="cierra_forma_detallepedido" style="height:25px;background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
													</div>
												</div>
											</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td  style="background:#e9e9e9;"  width="600">

												<div title="" class="div_uno_detallepedido">
													<div class="columns" >
														<div class=" fixed column">
															<ul class="pestanas">
																<li><a href="#tabx-1"><strong>Pedido</strong></a></li>
															</ul>
														</div>
													</div>
													
													<div class="columns" style="background:#731F6C;">
														<div class="container" style="background:white;">
															<div class="fixed column" class="content_x" >
																
																<div id="tabx-1" class="contenidoPes">
																	
																	<table border="0" style="margin:0px; padding:0px;">
																		
																		<tr>
																			<td width="995">
																				
																				<table  border="0" class="gral">
																					<tr class="gral">
																						<td width="70" height="1"></td>
																						<td width="90"></td>
																						<td width="25"></td>
																						<td width="80"></td>
																						<td width="90"></td>
																						<td width="30"></td>
																						<td width="80"></td>
																						<td width="90"></td>
																						<td width="30"></td>
																						<td width="120"></td>
																						<td width="160"></td>
																						<td width="30"></td>
																					<tr>
																					<tr class="gral">
																						<td width="70">No.&nbsp;Pedido</td>
																						<td width="90">
																							<input type="hidden" name="det_id_det_viaje">
																							<input type="hidden" name="det_id_ped">
																							<input type="text" name="det_no_ped" style="width:90px;">
																						</td>
																						<td width="25"></td>
																						<td width="80">No.&nbsp;Factura</td>
																						<td width="90"><input type="text" name="det_no_fac" value="" style="width:90px;"></td>
																						<td width="30"></td>
																						<td width="80">No.&nbsp;Carga</td>
																						<td width="90"><input type="text" name="det_no_ped" style="width:90px;"></td>
																						<td width="30"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_almacen"></div></td>
																						<td width="120">Almacen&nbsp;de&nbsp;salida</td>
																						<td width="160"><select name="det_select_almacen" style="width:160px;" title="Almacen de Salida"></select></td>
																						<td width="30"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_almacen"></div></td>
																					<tr>
																					
																					<tr class="gral">
																						<td width="70" height="7"></td>
																						<td width="90"></td>
																						<td width="25"></td>
																						<td width="80"></td>
																						<td width="90"></td>
																						<td width="30"></td>
																						<td width="80"></td>
																						<td width="90"></td>
																						<td width="30"></td>
																						<td width="120"></td>
																						<td width="160"></td>
																						<td width="30"></td>
																					<tr>
																					
																					<tr class="gral">
																						<td width="70">No.&nbsp;Dest.</td>
																						<td width="90"><input type="text" name="det_no_dest" style="width:90px; border:1px solid #000;"></td>
																						<td width="25"></td>
																						<td width="80">Destinatario</td>
																						<td width="290" colspan="4"><input type="text" name="det_destinatario" style="width:290px;"></td>
																						<td width="30"></td>
																						<td width="120">Almacen&nbsp;de&nbsp;rechazo</td>
																						<td width="160"><select name="det_select_almacen_rechazo" style="width:160px;" title="Almacen destino para rechazos"></select></td>
																						<td width="30"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_almacenrechazo"></div></td>
																					<tr>
																					
																					<tr class="gral">
																						<td width="70" colspan="9" height="7"></td>
																						<td width="120"></td>
																						<td width="160"></td>
																						<td width="30"></td>
																					<tr>
																				 </table>
																				 
																			</td>
																		</tr>
																																			
																		
																		
																		<tr>
																			<td width="995" valign="top">
																				
																				<table class="tabla_detalle_pedido">
																					<thead>
																						<tr>
																							<td colspan="10" height="2"></td>
																						</tr>
																						<tr>
																							<td class="grid" rowspan="2" style="background-color:rgb(180, 180, 180);"width="25">No.</td>
																							<td class="grid" rowspan="2" style="background-color:rgb(180, 180, 180);" width="90">C&oacute;digo</td>
																							<td class="grid" rowspan="2" style="background-color:rgb(180, 180, 180);" width="280">Descripci&oacute;n</td>
																							<td class="grid" rowspan="2" style="background-color:rgb(180, 180, 180);" width="70">Unidad</td>
																							<td class="grid" colspan="3" style="background-color:rgb(180, 180, 180);" width="70">Cantidades del pedido</td>
																							<!--
																							<td class="grid" style="background-color:rgb(180, 180, 180);" width="80">Peso(t)</td>
																							<td class="grid" style="background-color:rgb(180, 180, 180);" width="75">Volumen(m&#179;)</td>
																							-->
																							<td class="grid" colspan="2" style="background-color:rgb(180, 180, 180);" width="65">Rechazo</td>
																							<td class="grid" rowspan="2" style="background-color:rgb(180, 180, 180);" width="90">Cargo</td>
																						</tr>
																						<tr>
																							<!--
																							<td class="grid" style="background-color:rgb(180, 180, 180); border-botton:0px none;" width="25">No.</td>
																							<td class="grid" style="background-color:rgb(180, 180, 180);" width="90">C&oacute;digo</td>
																							<td class="grid" style="background-color:rgb(180, 180, 180);" width="280">Descripci&oacute;n</td>
																							<td class="grid" style="background-color:rgb(180, 180, 180);" width="70">Unidad</td>
																							-->
																							<td class="grid" style="background-color:rgb(180, 180, 180);" width="70">Unidades</td>
																							<td class="grid" style="background-color:rgb(180, 180, 180);" width="80">Peso(kg)</td>
																							<td class="grid" style="background-color:rgb(180, 180, 180);" width="75">Volumen(m&#179;)</td>
																							<td class="grid" style="background-color:rgb(180, 180, 180);" width="65">Unidades</td>
																							<td class="grid" style="background-color:rgb(180, 180, 180);" width="100">Tipo</td>
																							<!--<td class="grid" style="background-color:rgb(180, 180, 180);" width="90">Unidad</td>-->
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td colspan="10" height="2"></td>
																						</tr>
																						<tr>
																							<td colspan="10">
																								<div style="overflow:scroll; overflow-x:hidden; overflow-y:auto; width:100%; height:160px; border:1px solid #C1DAD7 !important;">	
																									 <table class="gral">
																										  <tbody style="background-color:#ffffff;" valign="top" id="grid_productos">
																											   
																										  </tbody>
																									 </table>
																								</div>
																							</td>
																						</tr>
																					</tbody>
																					<tfoot>
																						<tr>
																							<td class="grid4" width="25">&nbsp;</td>
																							<td class="grid4" width="90"></td>
																							<td class="grid4" width="280"></td>
																							<td class="grid3" width="70"></td>
																							<td style="background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:2px; text-align:right;" width="70" class="det_sum_uni">0.00</td>
																							<td style="background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:2px; text-align:right;" width="80" class="det_sum_peso">0.00</td>
																							<td style="background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:2px; text-align:right;" width="75" class="det_sum_vol">0.00</td>
																							<td class="grid4" width="65"></td>
																							<td class="grid4" width="100"></td>
																							<td class="grid4" width="90"></td>
																						</tr>
																						
																						<tr>
																							<td colspan="10">
																								<div id="div_warning_grid" style="display:none;">
																									<table border ="0">
																										<tr>
																											<td width="10"></td>
																											<td width="530" colspan="3"><div style="color:#d41000;">&nbsp;&nbsp;Datos&nbsp;no&nbsp;validos</div></td>
																											<td width="10"></td>
																										</tr>
																										<tr>
																											<td width="10"></td>
																											<td width="20" style="background-color:#A8A9AB; font-weight:bold;">#</td>
																											<td width="110" style="background-color:#A8A9AB; font-weight:bold;">C&oacute;digo&nbsp;producto</td>
																											<td width="380" style="background-color:#A8A9AB; font-weight:bold;">Descripci&oacute;n&nbsp;del&nbsp;error</td>
																											<td width="10"></td>
																										</tr>
																										<tr>
																											<td width="10"></td>
																											<td colspan="4"> 
																												<div align="left" style="width:540px; height:90px; overflow:scroll; overflow-x:auto; overflow-y:auto; color:#d41000;">
																													<table id="grid_warning" border="0" style="width:530px;"">
																														<!-- Aqui se muestran los warning
																														style="background-color:#e7e8ea;"
																														-->
																													</table>
																												</div>
																											</td>
																										</tr>
																									</table>
																								</div>
																							</td>
																						</tr>
																					</tfoot>
																				</table>
																			</td>
																		</tr>
																		
																	</table>
																	
																</div>
															</div>
														</div>
														<div class="fixed column" id="botones" style="width:990px; background:; text-align:right; padding-left:; position:absolute;margin-top:4px;">
															<input type="submit" value="Submit" id="submit_detalle_pedido">
															<div id="boton_cancelar_forma_detallepedido" style="width:95px; height:34px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div>
															<div id="boton_actualizar_forma_detallepedido" style="width:95px; height:34px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn1.png'); background-repeat:no-repeat;"></div>
														</div>
														
													</div>
												</div>
												
											</td>
										</tr>
									</tbody>
								</table>
								
							</form>
							
						</div>
						
					</td>
					
				</tr>
			</table>
			
		</div>

        
        
    </body>
</html>	
