<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>

        #include("${layoutheader}")
        
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/components/formatearnumeros/agrega_comas.js"></script>

        <script type="text/javascript" src="../../js/implements/repclientes/index.js" ></script>

        #include("${layoutmenu}")

        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">


        <form id="formaRepMov" action="print.json" method="POST" >
        <!--  otra parte -->
        <table class="acciones" border ="0" width="1350px">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td style="background-color:#ffffff;" >
					<table id="busqueda" border="0" >
						<tr>
							<td colspan="7" height="8"></td>
						</tr>
						<tr>
							<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="180">Agentes</td>
							<td width="30">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="30">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="50"></td>
							<td width="15"></td>
							<td width="50"></td>
						</tr>
						<tr>
							<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="180">
								<select name="select_agentes" style="width:180px;" title="Filtro por Agente">
									<option value="0" selected="yes">[--Todos--]</option>
								</select>
							</td>
							<td width="15">&nbsp;&nbsp;&nbsp;&nbsp;</td>

							<td width="30">&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="50"><INPUT TYPE="button" id="boton_busqueda" value="Buscar"></td>
							<td width="15"></td>
							<td width="50"><INPUT TYPE="button" id="boton_genera_pdf" value="Generar PDF"></td>
						</tr>
					</table>
                </td>
            </tr>
            <tr>
                <td height="8"></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td><div id="divreporte"> </div></td>
            </tr>
	</table>
	</form>

        #include("${layoutfooter}")


    </body>
</html>


