<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
		
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/graldeducciones/formaGralDeducciones.css" type="text/css" />
		
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/graldeducciones/modalboxGralDeducciones.js"></script>
        <script type="text/javascript" src="../../js/implements/graldeducciones/index.js" ></script>
        
        
      
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        <!--Esta tabla va  en la barra de acciones -->
		<table class="table_acciones" style="display:none" border="0">
			<tr>
			<td width="15" height="30"></td>
			<td height="30"><a href="new_item" class="tooltip"><div class="onmouseOutNewItem" id="nItem"></div><span>Registrar nuevo</span></a></td>
			<td width="15" height="30"></td>
			<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a>  </td>
			</tr>
		</table>
        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
			   <td colspan="9">&nbsp;&nbsp;</td>
			</tr>
			
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>Nombre De las Deducciones</td>
				<td width="10">&nbsp;&nbsp;</td>
				<td><INPUT TYPE="text" name="busqueda_deducciones" style="width:150px;"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="10">&nbsp;&nbsp;</td>
				<td><INPUT TYPE="button" value="Buscar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ><INPUT TYPE="button" value="Limpiar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td colspan="9">&nbsp;&nbsp;</td>
			</tr>
		</table>
        <table class="acciones">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>
        
        <!--form for inventario de Deducciones -->
        <form id="formaGralDeducciones" action="edit.json" method="POST" >
        <!--clase la quite por causar problemas      tabulador -->
                <div id="div_one" class="panelcito_modal graldeducciones_div_one"  style="display:none;" title="">
                <input type="hidden" name="identificador">
				<div id="div_two" title="" class="graldeducciones_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" id="cierra" style="width:329px; padding-left:6px;"><strong>Cat&aacute;logo de Deducciones</strong></div>
                            <div class="fixed column" style="width:30px; height:25px;">
                                <div id="close" style="height:25px;background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>    
                      <div id="div_three" title="" class="graldeducciones_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>Deducciones</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >
									
                                    <div id="tabx-1" class="contenidoPes" >
                                        <table border="0">
                                            <tr>
                                                <td width="5"></td>
                                                <td width="120">Clave</td>
                                                <td width="220"><INPUT TYPE="text" name="clave" style="width:120px;" readOnly="true"></td>
                                                <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_clave"></div></td>
                                                <td width="5"></td>
                                            </tr>
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                             <tr>
                                                <td width="5"></td>
                                                <td width="120">Titulo</td>
                                                <td width="220"><INPUT TYPE="text" name="titulo" style="width:220px;"></td>
                                                <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_titulo"></div></td>
                                                <td width="5"></td>
                                            </tr>
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                             <tr>
                                                <td width="5"></td>
                                                <td width="120">Activo</td>
                                                <td width="50"><input type="checkbox" name="check_activo"></td>
                                                <td width="25"></div></td>
                                                <td width="5"></td>
                                            </tr> 
                                              <tr>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                              <tr>
                                                <td width="5"></td>
                                                <td width="120">Tipo Deducciones:</td>
                                                <td colspan="7"><SELECT name="select_deduccion" style="width:220px;"></SELECT> </td>
                                                <td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_deduccion"></div></td>
                                                <td width="5"></td>
                                            </tr>
                                            <tr>
                                                <td width="5">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="fixed column" id="botones" style="width:359px; background:; text-align:right; padding-left:; position:absolute;margin-top:4px;">
                                <table border="0">
                                        <tr><td colspan="4" height="7"></td></tr>
                                        <tr>
                                            <td width="559"></td>
                                            <td>
                                               <input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>
                                            </td>
                                            <td width="30"></td>
                                            <td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
                                        </tr>
                                </table>      
                            </div>
                        </div>
                    </div>
                </div>
        </form>
        #include("${layoutfooter}")
    </body>
</html>	


