<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
        
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/invajustes/formaInvAjustes.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/invajustes/formaBuscaproducto.css" type="text/css" />
        
        
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
		<script type="text/javascript" src="../../js/components/formatearnumeros/agrega_comas.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/invajustes/modalboxInvAjustes.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/invajustes/modalboxBuscaproducto.js"></script>
        <script type="text/javascript" src="../../js/implements/invajustes/index.js" ></script>
        
        
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        <!--Esta tabla va  en la barra de acciones -->
		<table class="table_acciones" style="display:none" border="0">
			<tr>
				<td width="15" height="30"></td>
				<td height="30"><a href="new_item" class="tooltip"><div class="onmouseOutNewItem" id="nItem"></div><span>Nuevo Ajuste</span></a></td>
				<td width="15" height="30"></td>
				<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a> </td>
			</tr>
		</table>
        
        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
				<td colspan="19">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="100">Folio</td>
				<td width="20"></td>
				<td width="200">Tipo&nbsp;de&nbsp;Movimiento</td>
				<td width="20">&nbsp;</td>
				<td width="100">C&oacute;digo&nbsp;producto</td>
				<td width="20">&nbsp;</td>
				<td width="150">Descripci&oacute;n&nbsp;producto</td>
				<td width="20">&nbsp;</td>
				<td width="25"></td>
				<td colspan="3">Fecha&nbsp;del&nbsp;Ajuste</td>
				<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td></td>
				<td width="25"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;</td>
				<td ></td>
				<td width="10">&nbsp;&nbsp;&nbsp;</td>
			</tr>
			
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="100"><INPUT TYPE="text" name="busqueda_folio" style="width:100px;"></td>
				<td width="20"></td>
				<td width="200">
					<SELECT NAME="busqueda_tipo_mov" style="width:200px;">
						<OPTION value="0" selected="yes">[--- ---]</OPTION>
					</SELECT>
				</td>
				<td width="20">&nbsp;</td>
				<td width="100"><input type="text" name="busqueda_codigo" style="width:100px;"></td>
				<td width="20">&nbsp;</td>
				<td width="150"><input type="text" name="busqueda_descripcion" style="width:150px;"></td>
				<td width="20">&nbsp;</td>
				<td width="25"><IMG SRC="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="90"><INPUT TYPE="text" name="busqueda_fecha_inicial" style="width:90px;" readOnly="true"></td>
				<td width="15"></td>
				<td width="25"><IMG SRC="../../img/catalogo/calendario.png" ALIGN="top"></td>
				<td width="90"><INPUT TYPE="text" name="busqueda_fecha_final" style="width:90px;" readOnly="true"></td>
				<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><INPUT TYPE="button" id="boton_buscador" class="onmouseOutBuscar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ><INPUT TYPE="button" id="boton_limpiar" class="onmouseOutLimpiar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>
        
        
        
        <!--  otra parte -->
        <table class="acciones" >
			<!--
            <tr>
                <td height="25px"></td>
                <td></td>
            </tr>
            -->
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>
		
		
		
		
		
		
		
        <!--form for invajustes -->
        <form id="formainvajustes00" action="edit.json" method="POST" >
        <!--clase la quite por causar problemas      tabulador -->
                <div id="div_one" class="panelcito_modal invajustes_div_one"  style="display:none;" title="">
                <input type="hidden" name="identificador">
                <input type="hidden" name="exis_pres">
					
                    <div id="div_two" title="" class="invajustes_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" style="width:1080px; padding-left:6px;"><strong>Ajuste de Inventario</strong></div>
                            <div class="fixed column" style="width:20px; height:25px;">
                                <div id="close" style="height:25px; background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div id="div_three" title="" class="invajustes_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>Ajuste</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >
									
                                    <div id="tabx-1" class="contenidoPes" >
										
                                        <table border="0" style="margin:0; padding:0;">
                                                <tr>
                                                    <td width="600"></td>
                                                    <td width="10"></td>
                                                    <td width="480"></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" width="600"  > 
                                                        <table border="0" class="gral">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">Folio</td>
                                                                <td width="120">
                                                                    <INPUT TYPE="text" name="folio" style="width:120px;" readOnly="true">
                                                                </td>
                                                                <td width="10"></td>
                                                                <td width="90" align="right"></td>
                                                                <td width="15"></td>
                                                                <td width="90"></td>
                                                                <td width="75"></td>
                                                                <td width="15"></td>
                                                            </tr>
                                                            
                                                            <tr><td colspan="10" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">Tipo&nbsp;de&nbsp;Ajuste</td>
                                                                <td width="120">
																	<SELECT NAME="select_tipo_ajuste" style="width:120px;" title="Seleccionar el tipo de ajuste"></SELECT>
																	<input type="hidden" name="tipo_ajuste" value="0">
																</td>
                                                                <td width="10"></td>
                                                                <td width="90" align="right">Fecha&nbsp;Ajuste</td>
                                                                <td width="10"></td>
                                                                <td width="90"><INPUT TYPE="text" name="fecha_ajuste" style="width:90px;" readOnly="true"></td>
                                                                <td width="75"></td>
                                                                <td width="15"></td>
                                                            </tr>
                                                            
                                                            <tr><td colspan="9" height="5"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">Tipo&nbsp;Movimiento</td>
                                                                <td width="325" colspan="5">
																	<SELECT NAME="select_tipo_mov" style="width:328px;" title="Seleccionar tipo de movimiento"></SELECT>
																	<input type="hidden" name="id_tipo_mov" value="0">
																	<input type="hidden" name="tipo_costo" value="0">
																</td>
																<!--
                                                                <td width="10"></td>
                                                                <td width="90" align="right"></td>
                                                                <td width="15"></td>
                                                                <td width="90"></td>
                                                                -->
                                                                <td width="75"></td>
                                                                <td width="15"></td>
                                                            </tr>
                                                            
                                                            <tr><td colspan="9" height="5"></td></tr>
                                                            
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="80">Almacen</td>
                                                                <td width="325" colspan="5">
																	<SELECT NAME="select_almacen" style="width:328px;" title="Seleccionar almacen"></SELECT>
																	<input type="hidden" name="id_almacen" value="0">
																</td>
																<!--
                                                                <td width="10"></td>
                                                                <td width="90" align="right"></td>
                                                                <td width="15"></td>
                                                                <td width="90"></td>
                                                                -->
                                                                <td width="75"></td>
                                                                <td width="15"></td>
                                                            </tr>
                                                            
                                                        </table>
                                                    </td>
                                                    
                                                    <td width="10"></td>
                                                    
                                                    <td width="480" valign="top" >
                                                        <table border="0">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="420">Observaciones</td>
                                                                <td width="10"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="420">
																	<textarea name="observaciones" rows="3" cols="60" style="width:420px; resize:none;"></textarea>
                                                                </td>
                                                                <td width="10"></td>
                                                            </tr>
															
                                                        </table>
                                                    </td>
                                                </tr>
												
                                                
                                                <tr>
                                                    <td colspan="3">
                                                        <table border="0" class="gral">
                                                            <tr><td colspan="11" height="2"></td></tr>
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="70">C&oacute;digo&nbsp;producto</td>
                                                                <td width="125"><INPUT TYPE="text" name="sku_producto" style="width:120px;"></td>
                                                                <td width="50"><a  href="busca_sku">(Buscar)</a></td>
                                                                <td width="60">Descripci&oacute;n</td>
                                                                <td width="300"><INPUT TYPE="text" name="nombre_producto" style="width:300px;" readOnly="true"></td>
                                                                <td width="55"><a  href="agregar_producto">&nbsp;(Agregar)</a></td>
                                                                <td width="15"></td>
                                                                <td width="60" align="right"></td>
																<td>&nbsp;&nbsp;</td>
                                                                <td align="right">
																	<INPUT TYPE="button" id="descargarpdf" value="Generar PDF" style="width:90px; font-weight: bold;">
																</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
												
                                                <tr>
                                                    <td colspan="3" style="border-top: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF;">
														<table>
															<thead>
																<tr>
																	<td class="grid" id="td_eliminar" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="25"><div class="delete">&nbsp;</div></td>
																	<td class="grid" id="td_sku" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="110">&nbsp;</td>
																	<td class="grid" id="td_nombre" style="background-color: rgb(180, 180, 180);"  width="180">&nbsp;</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="90">&nbsp;</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="100">&nbsp;</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180); border-bottom:1px solid #ccc;" width="155" colspan="2">&nbsp;Existencia Actual</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="75">&nbsp;</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180); border-bottom:1px solid #ccc;" width="145" colspan="2">&nbsp;Cantidad Ajuste</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180); border-bottom:1px solid #ccc;" width="140" colspan="2">&nbsp;Costo del Ajuste</td>
																</tr>
																<tr>
																	<td class="grid" id="td_eliminar" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="25"><div class="delete">&nbsp;#</div></td>
																	<td class="grid" id="td_sku" style="background-color: rgb(180, 180, 180); border-botton: 0px none;" width="110">&nbsp;C&oacute;digo</td>
																	<td class="grid" id="td_nombre" style="background-color: rgb(180, 180, 180);"  width="180">&nbsp;Descripci&oacute;n</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="90">&nbsp;Unidad</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="100">&nbsp;Presentaci&oacute;n</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="80">&nbsp;Unidad</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="75">&nbsp;Presentaci&oacute;n</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="75">&nbsp;Costo&nbsp;Prom.</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="70">&nbsp;Unidad</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="75">&nbsp;Presentaci&oacute;n</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="65">&nbsp;Unitario</td>
																	<td class="grid" style="background-color: rgb(180, 180, 180);" width="80">&nbsp;Total</td>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td colspan="12" height="2"></td>
																</tr>
																<tr>
																	<td colspan="12">
																		<div style="overflow:scroll; overflow-x: hidden; overflow-y: auto;  width:980; height:150px; border:1px solid #C1DAD7 !important;">	
																			<table>
																				<tbody style="background-color: #FFFFFF;" valign="top" id="grid_productos">
																					
																				</tbody>
																			</table>
																		</div>
																	</td>
																</tr>
															</tbody>
															<tfoot>
																<tr>
																	<td class="grid3" colspan="11" rowspan="2">
																		<div id="div_warning_grid" style="display:none; width:890px; height:80px; overflow:scroll; overflow-x:auto; overflow-y:auto;">
																			
																			<table border ="0">
																				<thead>
																					<tr>
																						<td width="10"></td>
																						<td width="845" colspan="4"><div style="color:#d41000; text-align:left;">&nbsp;&nbsp;Datos&nbsp;no&nbsp;validos</div></td>
																						<td width="10"></td>
																					</tr>
																					<tr>
																						<td width="10" style="background-color:#A8A9AB;"></td>
																						<td width="25" style="background-color:#A8A9AB; font-weight: bold; text-align:left;"></td>
																						<td width="120" style="background-color:#A8A9AB; font-weight: bold; text-align:left;">C&oacute;digo&nbsp;producto</td>
																						<td width="220" style="background-color:#A8A9AB; font-weight: bold; text-align:left;">Descripci&oacute;n</td>
																						<td width="500" style="background-color:#A8A9AB; font-weight: bold; text-align:left;">Descripci&oacute;n&nbsp;del&nbsp;error</td>
																						<td width="10" style="background-color:#A8A9AB;"></td>
																					</tr>
																				</thead>
																				<tbody id="grid_warning">
																					
																					
																				</tbody>
																				<!--
																				<tr>
																					<td width="10"></td>
																					<td colspan="5"> 
																						<div align="left" style="width:575px; height:70px; overflow:scroll; overflow-x: auto; overflow-y: auto; color:#d41000;">
																							<table id="grid_warning" border="1" style="width:1070px;"">
																							</table>
																						</div>
																					</td>
																					<td width="10"></td>
																				</tr>
																				-->
																			</table>
																		</div>
																	</td>
																	<!--
																	<td class="grid3" width="110"></td>
																	<td class="grid3" width="180"></td>
																	<td class="grid3" width="90"></td>
																	<td class="grid3" width="100"></td>
																	<td class="grid3" width="80"></td>
																	<td class="grid3" width="75"></td>
																	<td class="grid3" width="75"></td>
																	<td class="grid3" width="70"></td>
																	<td class="grid3" width="75"></td>
																	<td class="grid3" width="65"></td>
																	-->
																	<td class="grid" id="suma_total_costo_ajuste" width="80" height="13" style="border:1px solid #ccc; text-align:right; vertical-align:top;">0.00</td>
																</tr>
																
																<tr>
																	<td width="80"></td>
																</tr>
																
															</tfoot>
															
														</table>

                                                        
                                                    </td>
                                                </tr>

                                        </table>
                                    </div>

                                </div>
                            </div>


                            <div class="fixed column" style="width:1093px; background:; text-align:right; padding-left:; position:absolute; margin-top:4px;">
								<table border="0">
									<tr>
										<td width="1093"></td>
										<td>
											<input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>
										</td>
										<td width="30"></td>
										<td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
									</tr>
								</table>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
        </form>
        
        
        
        #include("${layoutfooter}")
        
        
    </body>
</html>	














<div class="buscador_productos" style="display:none;">	
	<table width="100%" border="0" class="formaBusqueda_productos">
		<tr>
			<td>
				<div class="div_dos_productos">
					<table width="100%" border="0">
						<thead>
							<tr>
								<td colspan="8" height="50" valign="top"><div class="titulo_productos" width="100%"><strong>Buscador de productos</strong></div></td>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff;"></td>
								<td colspan="4" style="background:#ffffff;" width="600">
									
									<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
										<tr>
											<td colspan="7" width="600" height="10"></td>
										</tr>
										<tr>
											<td width="70">C&oacute;digo&nbsp;</td>
											<td width="120"><INPUT TYPE="text" name="campo_sku" style="width:120px;"></td>
											<td width="25"></td>
											<td width="90">Tipo&nbsp;de&nbsp;Producto</td>
											<td width="200">
												<SELECT NAME="tipo_producto" style="width:180px;">
													<OPTION value="0" selected="yes">[--Seleccionar Tipo--]</OPTION>
												</SELECT>
											</td>
											<td width="25"></td>
											<td width="90"></td>
										</tr>
										<tr>
											<td colspan="7" width="600" height="10"></td>
										</tr>
										<tr>
											<td width="70">Descripci&oacute;n</td>
											<td width="400" colspan="4"><INPUT TYPE="text" name="campo_descripcion" style="width:415px;"></td>
											<td width="25"></td>
											<td width="90" align="right">
												<INPUT TYPE="button" id="busca_producto_modalbox" class="onmouseOutBuscar">
											</td>
										</tr>
									</table>
									
								</td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							
							<tr style="font-size:13px;">
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								
								<td width="120" style="background:#A8A9AB;">C&oacute;digo&nbsp;</td>
								<td width="280" style="background:#A8A9AB;">Nombre</td>
								<td width="90" style="background:#A8A9AB;">Unidad</td>
								<td width="110" style="background:#A8A9AB;">Tipo</td>
								
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								<td style="background:#ffffff; border: solid 1px #454442;" colspan="4" width="600">
									<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
										<table  border="0" id="tabla_resultado" width="580">
											<!--aqui van los resultados de la busqueda-->
											<!--
												<tr>
													<td width="70">Lote</td>
													<td width="140">Sku</td>
													<td width="300">Nombre</td>
													<td width="70">Disponible</td>
												</tr>
											-->
										</table>
									</div>
								</td>
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" colspan="6" height="4" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" style="background:#ffffff"></td>
								
								<td width="120"  style="background:#ffffff"></td>
								<td width="280" style="background:#ffffff"></td>
								<td width="90" style="background:#ffffff"></td>
								<td width="110" style="background:#ffffff" align="right">
									<INPUT TYPE="button" id="cencela" class="onmouseOutCancelar">
								</td>
								
								<td width="10" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
							<tr>
								<td width="10"></td>
								<td width="10" colspan="6" height="6" style="background:#ffffff"></td>
								<td width="10"></td>
							</tr>
						</tbody>
						
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>

