#forma-faccancelacion-overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
        /*background: #000;*/
	display: none;
}
#forma-faccancelacion-window {
	position: fixed;
	z-index: 101;
	/*display:block;*/
	top:40%;
	left:40%;
	height:0px;
	width:0px;
	background: white;
}


#forma-faccancelacion-window li {
	list-style-type: none !important;
}


#forma-faccancelacion-window div.tabulador{
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	padding: 4px 4px 4px 10px;
	
}

#forma-faccancelacion-window li {
	list-style-type: none !important;
}




div.interrogacion{
	display : none;
}

/*---*/

ul.pestanas{
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 27px;
    border-bottom: 1px solid white;
    width: 100%;
}

ul.pestanas li{
    width:100px;
    float: left;
    margin: 0;
    padding: 0;
    height: 26px;
    line-height: 25px;
    border-bottom: 1px solid white;
    border-left: none;
    margin-top:2px;
    margin-bottom: 0px;
    background: #A8A9AB;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
}

ul.pestanas li a{
    text-align:center;
    text-decoration: none;
    color:#4C6088;
    display: block;
    font-size: 1em;
    padding: 0px;
    border: 0px;
    outline: none;
}

ul.pestanas li a:hover{
    background: #AFC8FB;
    border-radius: 20px 20px 0px 0px;
}

html ul.pestanas li.active, html ul.pestanas li.active a:hover{
    background: #fff; 
}

.contenidoPes{
    background:white;
    padding: 10px;
    font-size: 1em; 
}


.faccancelacion_div_one{
    /*background-image:url('Imagen/ven1.png');
    background-repeat:no-repeat;*/
    width:1053px;
    height:550px;
/*  background-color:#D1D2D4;
    border:2px solid #313E74;*/
    border-radius:10px;
	background-color:#e9e9e9;
    border:3px solid #454442;
    z-index:2;
    box-shadow:3px 5px 10px -3px;
}


.faccancelacion_div_two{
    /*font-family:tahoma;*/
    width:1053px;
    height:28px;
    /*background-color:#2F3D73;*/
    background-color:#454442;
    margin-top:0;
    color:white;
    padding-top:10px;
    padding-left:10px;
    border-radius:5px 5px 0px 0px;
    font-size: 14px;
    z-index:1;
}

.faccancelacion_div_three{
    /*font-family:tahoma;*/
    font-size:11px;
    /*width:903px;*/
    height:48px;
    /*background-color:#D1D2D4;*/
    background-color:#e9e9e9;
    margin-top:5px;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:10px;
}



#grid_productos td{
	height:18px;
	text-align:center;
}

#grid_productos input{
	height:15px;
}

#grid_productos select{
	height:17px;
}

.borde_oculto{
	border-color:transparent; 
	background:transparent;
}

.gral input{
	height:15px;
}

.gral select{
	height:17px;
}

table tr td.grid {
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 2px;
	text-align: center;
	vertical-align: top;
}
table tr td.grid1 {
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 2px;
	text-align: left;
	vertical-align: top;
}

table tr td.grid2 {
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 2px;
	text-align: right;
	vertical-align: top;
}
