<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        
        #include("${layoutheader}")
		
        <!--  css for this catalogo -->
        <link rel="stylesheet" href="../../css/modalbox/clientsdest/formaclientsdest.css" type="text/css" />
        <link rel="stylesheet" href="../../css/modalbox/clientsdest/formaBuscaclientes.css" type="text/css" />
		
        <!--  js for this catalogo -->
        <script type="text/javascript" src="../../js/components/jquery-form/jquery-form.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/clientsdest/modalboxclientsdest.js"></script>
        <script type="text/javascript" src="../../js/components/modalbox/clientsdest/modalboxBuscacliente.js"></script>
        <script type="text/javascript" src="../../js/implements/clientsdest/index.js" ></script>
        
        #include("${layoutmenu}")
        
        <input type="hidden" name="contextpath" value="$url">
        <input type="hidden" name="user" value="$username">
        <input type="hidden" name="iu" value="$iu">
        <input type="hidden" name="emp" value="$empresa">
        <input type="hidden" name="suc" value="$sucursal">
        
        <!--Esta tabla va  en la barra de acciones -->
		<table class="table_acciones" style="display:none" border="0">
			<tr>
				<td width="15" height="30"></td>
				<td height="30"><a href="new_item" class="tooltip"><div class="onmouseOutNewItem" id="nItem"></div><span>Registrar nuevo</span></a></td>
				<td width="15" height="30"></td>
				<td height="30"><a href="visualiza_buscador" class="tooltip"><div class="onmouseOutVisualizaBuscador" id="vbuscador"></div><span>Busqueda</span></a>  </td>
			</tr>
		</table>
        <!--fin de  tabla de la barra de acciones -->

        
        <!--Esta tabla va  en la barra de buscador -->
		<table border="0" class="tabla_buscador" style="display:none">
			<tr>
				<td colspan="13">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>No. Control</td>
				<td width="10">&nbsp;&nbsp;</td>
				<td>RFC</td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>Razon Social</td>
				<td width="10">&nbsp;&nbsp;</td>
				<td>Tipo de destinatario</td>
				<td width="10">&nbsp;&nbsp;</td>
				<td></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><input type="text" name="busqueda_folio" style="width:90px;"></td>
				<td width="10">&nbsp;&nbsp;</td>
				<td><input type="text" name="busqueda_rfc" style="width:150px;"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><input type="text" name="busqueda_razon_social" style="width:220px;"></td>
				<td width="10">&nbsp;&nbsp;</td>
				<td><select name="busqueda_select_tipo" style="width:150px;"><option value="0">[--Seleccionar Tipo--]</option></select></td>
				<td width="10">&nbsp;&nbsp;</td>
				<td></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><input type="button" value="Buscar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td ><input type="button" value="Limpiar"></td>
				<td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>
        
        <!--  otra parte -->
        <table class="acciones">
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td >
                    ${grid}
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td ></td>
            </tr>
        </table>
        
        <!--form for Destinatarios -->
        <form id="formaDestinatarios" action="edit.json" method="POST" >
        <!--clase la quite por causar problemas      tabulador -->
                <div id="div_one" class="panelcito_modal clientsdest_div_one"  style="display:none;" title="">
                
					<input type="hidden" name="identificador">
					
                    <div id="div_two" title="" class="clientsdest_div_two">
                        <div class="columns on-2">
                            <div class="fixed column" id="cierra" style="width:770px; padding-left:6px;"><strong>Destinatario</strong></div>
                            <div class="fixed column" style="width:20px; height:25px;">
                                <div id="close" style="height:25px;background-image:url('../../img/modalbox/close.png'); background-color:; background-position:top; cursor:pointer; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div id="div_three" title="" class="clientsdest_div_three">
                        <div class="columns" >
                            <div class=" fixed column">
                                <ul class="pestanas">
                                    <li><a href="#tabx-1"><strong>Destinatario</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns" style="background:#731F6C;">
                            <div class="container" style="background:white;">
                                <div class="fixed column" class="content_x" >
									
                                    <div id="tabx-1" class="contenidoPes" >
										
										<table border="0" class="gral">
											<tr>
												<td width="5"></td>
												<td width="75">Folio</td>
												<td width="5"></td>
												<td width="150" colspan="2"><input type="text" name="folio" style="width:150px;" readOnly="true"></td>
												<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_folio"></div></td>
												<td width="5"></td>
												<td width="70">Folio&nbsp;Externo</td>
												<td width="5"></td>
												<td width="150"><input type="text" name="folio_ext" value="" style="width:150px;" maxlength="22"></td>
												<td width="35"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_folioext"></div></td>
												<td width="5"></td>
												<td width="75">Tipo</td>
												<td width="5"></td>
												<td width="150"><select name="select_tipo" style="width:150px;"></select></td>
												<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_tipo"></div></td>
											</tr>
											<tr>
												<td width="5" height="8"></td>
												<td width="75"></td>
												<td width="5"></td>
												<td width="15"></td>
												<td width="135"></td>
												<td width="25"></td>
												<td width="5"></td>
												<td width="70"></td>
												<td width="5"></td>
												<td width="150"></td>
												<td width="35"></td>
												<td width="5"></td>
												<td width="75"></td>
												<td width="5"></td>
												<td width="150"></td>
												<td width="25"></td>
											</tr>
											<tr>
												<td width="5"></td>
												<td width="75">Razon&nbsp;Social</td>
												<td width="5"></td>
												<td colspan="7"><input type="text" name="destinatario" style="width:410px;"></td>
												<td width="35"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_razonsocial"></div></td>
												<td width="5"></td>
												<td width="75">RFC</td>
												<td width="5"></td>
												<td width="150"><input type="text" name="rfc" style="width:150px;"></td>
												<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_rfc"></div></td>
											</tr>

											<tr>
												<td colspan="16" height="8"></td>
											</tr>
											<tr>
												<td width="5"></td>
												<td width="75">Calle</td>
												<td width="5"></td>
												<td colspan="7"><input type="text" name="calle" style="width:410px;"></td>
												<td width="35"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_calle"></div></td>
												<td width="5"></td>
												<td width="75">No.&nbsp;Interior</td>
												<td width="5"></td>
												<td width="150"><input type="text" name="numero_int" style="width:150px;"></td>
												<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_numeroint"></div></td>
											</tr>
											<tr>
												<td colspan="16" height="8"></td>
											</tr>
											<tr>
												<td width="5"></td>
												<td width="75">Colonia</td>
												<td width="5"></td>
												<td colspan="7"><input type="text" name="colonia" style="width:410px;"></td>
												<td width="35"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_colonia"></div></td>
												<td width="5"></td>
												<td width="75">No.&nbsp;Exterior</td>
												<td width="5"></td>
												<td width="150"><input type="text" name="numero_ext" style="width:150px;"></td>
												<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_numeroext"></td>
											</tr>
											<tr>
												<td colspan="16" height="8"></td>
											</tr>
											<tr>
												<td width="5"></td>
												<td width="75">Pa&iacute;s</td>
												<td width="5"></td>
												<td colspan="2"><select name="select_pais" style="width:150px;"></select></td>
												<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_pais"></div></td>
												<td width="5"></td>
												<td width="70">Estado</td>
												<td width="5"></td>
												<td width="150"><select name="select_estado" style="width:150px;"></select></td>
												<td width="35"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_estado"></div></td>
												<td width="5"></td>
												<td width="75">Municipio</td>
												<td width="5"></td>
												<td width="150"><select name="select_municipio" style="width:150px;"></select></td>
												<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_municipio"></div></td>
											</tr>
											<tr>
												<td colspan="16" height="8"></td>
											</tr>
											<tr>
												<td width="5"></td>
												<td width="75">C.P.</td>
												<td width="5"></td>
												<td colspan="2"><input type="text" name="cp" style="width:150px;"></td>
												<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_cp"></div></td>
												<td width="5"></td>
												<td width="70">E-mail</td>
												<td width="5"></td>
												<td width="150"><input type="text" name="email" style="width:150px;"></td>
												<td width="35"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_email"></div></td>
												<td width="5"></td>
												<td width="75"></td>
												<td width="5"></td>
												<td width="150"></td>
												<td width="25"></td>
											</tr>
											<tr>
												<td colspan="16" height="8"></td>
											</tr>
											<tr>
												<td width="5"></td>
												<td width="75">Tel&eacute;fono&nbsp;1</td>
												<td width="5"></td>
												<td colspan="2"><input type="text" name="tel1" style="width:150px;"></td>
												<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_tel1"></div></td>
												<td width="5"></td>
												<td width="70">Tel&eacute;fono&nbsp;2</td>
												<td width="5"></td>
												<td width="150"><input type="text" name="tel2" style="width:150px;"></td>
												<td width="35"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_tel2"></div></td>
												<td width="5"></td>
												<td width="75">Extensi&oacute;n&nbsp;</td>
												<td width="5"></td>
												<td width="150"><input type="text" name="ext1" style="width:150px;"></td>
												<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_ext1"></div></td>
											</tr>

											<tr>
												<td colspan="16" height="8"></td>
											</tr>
											<tr>
												<td colspan="16">
													<table border="0">
														
														<tr>
															<td width="5"></td>
															<td width="75">Solicitar&nbsp;firma</td>
															<td><input type="checkbox" name="check_firma"></td>
															<td width="50"></td>
															<td width="75">Solicitar&nbsp;sello</td>
															<td><input type="checkbox" name="check_sello"></td>
															<td width="28"></td>
															<td width="90">Solicitar&nbsp;efectivo</td>
															<td><input type="checkbox" name="check_efectivo"></td>
															<td width="50"></td>
															<td width="90">Solicitar&nbsp;Cheque</td>
															<td><input type="checkbox" name="check_cheque"></td>
															<td width="25"></td>
														</tr>
													</table>
												</td>
											</tr>
											
											<tr>
												<td width="5"></td>
												<td width="75">No. Cliente</td>
												<td width="5"></td>
												<td width="150" colspan="2">
													<input type="hidden" name="id_cliente" value="0">
													<input type="text" name="no_cliente" style="width:150px;">
												</td>
												<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_nocliente"></div></td>
												<td width="5"></td>
												<td width="70">Cliente</td>
												<td width="5"></td>
												
												<td width="265" colspan="4"><input type="text" name="razon_cliente" style="width:265px;"></td>
												<!--
												<td width="35"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_tel2"></div></td>
												<td width="5"></td>
												<td width="75">Extensi&oacute;n&nbsp;</td>
												-->
												<td width="5"></td>
												<td width="150"><a href="#busca_cliente">&nbsp;(Buscar)</a></td>
												<td width="25"></td>
											</tr>
											

											<tr>
												<td colspan="16" height="12"></td>
											</tr>
											
											<tr>
												<td colspan="16" height="8" style="border-top:1px solid #C1DAD7; border-bottom:1px solid #C1DAD7; border-left:1px solid #FFFFFF; border-right: 1px solid #FFFFFF; background-color:#D4D3D3;">&nbsp;&nbsp;&nbsp;Seleccionar maniobra</td>
											</tr>
											<tr>
												<td colspan="16" height="8"></td>
											</tr>
											<tr>
												<td colspan="16">
													<table border="0">
														<tr>
															<td width="5"></td>
															<td width="75">Servicio</td>
															<td><select name="select_serv" style="width:258px;"></select></td>
															<td width="30"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_servadic"></div></td>
															<td width="40">Costo</td>
															<td><INPUT TYPE="text" name="costo_serv" style="width:80px;"></td>
															<td width="25"><div class="interrogacion"><IMG SRC="../../img/help-16x16.png" ALIGN="top" rel="warning_costo"></div></td>
														</tr>
													</table>
												</td>
											</tr>
											
										</table>
                                        
                                    </div>
									
									
									
									
									
                                </div>
                            </div>


                            <div class="fixed column" id="botones" style="width:790px; background:; text-align:right; padding-left:; position:absolute;margin-top:4px;">
								<table border="0" >
									<tr><td colspan="4" height="7"></td></tr>
									<tr>
										<td width="750px"></td>
										<td>
												<input type="image" src="../../img/modalbox/btn1.png" id="submit" style="width:77px; height:24px;"/>
										</td>
										<td width="30"></td>
										<td><div id="boton_cancelar" style="width:77px; height:24px; float:right; cursor:pointer; background-image:url('../../img/modalbox/btn2.png'); background-repeat:no-repeat;"></div></td>
									</tr>
								</table>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
        </form>
        
        #include("${layoutfooter}")
        

		<!--Aqui comienza el formulario para el buscador de Clientes-->
		<div class="buscador_clientes" style="display:none;">	
			<table width="100%" border="0" class="formaBusqueda_clientes">
				<tr>
					
					<td>
						
						<div class="div_dos_clientes">
							
							<table width="100%" border="0">
								<thead>
									<tr>
										<td colspan="8" height="50" valign="top"><div class="titulo_clientes" width="100%"><strong>Buscador de clientes</strong></div></td>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff;"></td>
										<td colspan="3" style="background:#ffffff;" width="600">
											
											<table id="tabla_busqueda" border="0"  class="contenidobusqueda">
												<tr>
													<td colspan="7" width="600" height="10"></td>
												</tr>
												
												<tr>
													<td width="50">Buscar</td>
													<td width="245"><input type="text" name="cadena_buscar" style="width:245px;"></td>
													<td width="25"></td>
													<td width="60">Filtro por</td>
													<td width="150"><select name="filtropor" style="width:150px;"></select></td>
													<td width="70" align="right">
														<input type="button" id="busca_cliente_modalbox" class="onmouseOutBuscar">
													</td>
												</tr>
												
											</table>
											
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									<tr style="font-size:13px;">
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="80"  style="background:#A8A9AB;">No.&nbsp;control</td>
										<td width="140"  style="background:#A8A9AB;">RFC</td>
										<td width="380"  style="background:#A8A9AB;">Razon&nbsp;social</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									
									
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										<td style="background:#ffffff; border: solid 1px #454442;" colspan="3" width="600">
											<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:600px; height:120px; align=top;">
												<table  border="0" id="tabla_resultado" width="580">
													<!--aqui van los resultados de la busqueda-->
													<!--
														<tr>
															<td width="80">No. control</td>
															<td width="145">RFC</td>
															<td width="375">Razon social</td>
														</tr>
													-->
												</table>
											</div>
										</td>
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="5" height="3" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" style="background:#ffffff"></td>
										
										<td width="80" style="background:#ffffff"></td>
										<td width="140" style="background:#ffffff"></td>
										<td width="380" style="background:#ffffff" align="right">
											<input type="button" id="cencela" class="onmouseOutCancelar">
										</td>
										
										<td width="10" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td width="10"></td>
										<td width="10" colspan="5" height="6" style="background:#ffffff"></td>
										<td width="10"></td>
									</tr>
								</tbody>
								
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>

    </body>
</html>	
